<div class="card-body">
  <div class="row p-t-20">
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label">Date</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="model"
                 ngbDatepicker #d3="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary no-shadow" (click)="d3.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <label class="control-label" >Client/ Prospect</label>
      <input aria-multiline="false" autocapitalize="off" autocorrect="off" class="form-control" id="typeahead-format1" role="combobox"
             type="text" autocomplete="off" aria-autocomplete="list" aria-expanded="true"
             aria-owns="ngb-typeahead-6">
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label">Status</label>
        <select class="form-control custom-select">
          <option value="">-Select-</option>
          <option value="Complete">Complete</option>
          <option value="Pending">Pending</option>
          <option value="Deffered">Deffered</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label">Type</label>
        <select class="form-control custom-select">
          <option value="">-Select-</option>
          <option value="Call">Call</option>
          <option value="Email">Email</option>
          <option value="Meeting">Meeting</option>
          <option value="Chat">Chat</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Purpose</label>
        <select class="form-control custom-select">
          <option value="">-Select-</option>
          <option value="Introduction">Introduction</option>
          <option value="Follow UP">Follow UP</option>
          <option value="Customer Service">Customer Service</option>
          <option value="Feedback">Feedback</option>
          <option value="Portfolio Review">Portfolio Review</option>
          <option value="Financial Data Recording">Financial Data Recording</option>
          <option value="Financial Plan Review">Financial Plan Review</option>
          <option value="Cross Selling Oppurtunity">Cross Selling Oppurtunity</option>
          <option value="Retention / Distress Call">Retention / Distress Call</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label" >Oppurtunity</label>
        <input aria-multiline="false" autocapitalize="off" autocorrect="off" class="form-control" id="typeahead-format2" role="combobox"
               type="text" autocomplete="off" aria-autocomplete="list" aria-expanded="true"
               aria-owns="ngb-typeahead-6" placeholder="Oppurtunity">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label">Subject</label>
        <input class="form-control form-control-danger" id="subject" placeholder="Subject" type="text">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="form-group">
        <label class="control-label">Meeting Notes</label>
        <textarea class="form-control"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="form-group">
        <label class="control-label">Attachments</label>
        <div class="custom-file">
          <input class="custom-file-input ng-pristine ng-invalid ng-touched" formcontrolname="importFile" id="importFile3" multiple=""
                 type="file">
          <label class="custom-file-label" for="importFile3">Choose file</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="form-group">
        <div class="custom-file">
          <input class="custom-file-input ng-pristine ng-invalid ng-touched" formcontrolname="importFile" id="importFile2" multiple=""
                 type="file">
          <label class="custom-file-label" for="importFile2">Choose file</label>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <h5 class="p-t-10">Next Activity</h5>
  <div class="row p-t-10">
    <div class="col-md-3">
      <div class="form-group">
        <mat-slide-toggle  >
        </mat-slide-toggle>
      </div>
    </div>
  </div>
  <div class="row p-t-10">
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label">from</label>
        <!--                <input class="form-control" type="date">-->
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="fromDate"
                 ngbDatepicker #fromDateDatePicker="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary no-shadow" (click)="fromDateDatePicker.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3" *ngIf="timeHide">
      <div class="form-group">
        <label class="control-label">&nbsp;</label>
        <input placeholder="24hr format" aria-label="24hr format" [ngxTimepicker]="fromTime" [format]="24" class="form-control" readonly>
        <ngx-material-timepicker #fromTime></ngx-material-timepicker>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label">To</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="toDate" ngbDatepicker #toDateDatePicker="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary no-shadow" (click)="toDateDatePicker.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3" *ngIf="timeHide">
      <div class="form-group">
        <label class="control-label">&nbsp;</label>
        <input placeholder="24hr format" aria-label="24hr format" [ngxTimepicker]="toTime" [format]="24" class="form-control" readonly>
        <ngx-material-timepicker #toTime></ngx-material-timepicker>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input class="custom-control-input"  id="customCheck1"
                 type="checkbox" >
          <label class="custom-control-label" for="customCheck1">ALL Day</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <input class="form-control form-control-danger" id="subject4" placeholder="subject" type="text">
      </div>
    </div>
    <div class="col-md-3" *ngIf="frequency">
      <div class="form-group">
        <select class="form-control custom-select">
          <option value="Daily">Daily</option>
          <option value="Weekly">Weekly</option>
          <option value="Monthly">Monthly</option>
          <option value="Quaterly">Quaterly</option>
          <option value="Annualy">Annualy</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row p-t-10 pb_50">
    <div  class="col-md-3">
      <button class="btn btn-primary" (click)="saveContact(content3)">Save</button>
    </div>
    <div  class="col-md-3">
      <button class="btn btn-primary" (click)="cancelContact()">Cancel</button>
    </div>
  </div>
</div>
<ng-template #content3 let-modal>
  <div class="modal-body">
    <h3>You've created the Activity successfully</h3>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close')" >OK</button>
  </div>
</ng-template>
