.btn-success, .btn-warning{height:30px}
.btn-info{height: 30px;font-size: 12px;padding: 5px 10px; border-radius: 25px !important;  margin-right: 8px;border-radius:25px;}
.btn-outline-secondary{padding: 5px 10px;font-size: 12px;margin-left:10px;border-radius: 25px 0px 0px 25px !important;margin-left: 10px !important;}
