<div class="row">
    <div class="col-lg-12">
      <div class="row row_chart">
          <div class="col-12"><h4 class="card-title mb-0">Asset Under Management</h4></div>
      </div>
     <div class="row">
       <div class="col-6 pr-1">
         <div class="card">
           <div class="card-body">
             <h6 class="card-subtitle">Trend</h6>
             <select class="dropdown float-right cus_select" (change)="aumChange($event.target.value)" >
               <option value="1">Monthly</option>
               <option value="2">Quarterly</option>
             </select>
             <div id="aumTrend" class="chart das_first_ch"></div>
           </div>
         </div>
       </div>
       <div class="col-6 pl-1">
         <div class="card">
           <div class="card-body">
             <h6 class="card-subtitle">Distribution</h6>
             <select class="dropdown float-right cus_select" (change)="distChange($event.target.value)" >
               <option value="1">Region</option>
               <option value="2">Location</option>
               <option value="3">Occupation</option>
               <option value="4">Risk Profile</option>
             </select>
             <div id="distchart" class="chart das_first_ch"></div>
           </div>
         </div>
       </div>
     </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="row row_chart">
      <div class="col-12"><h4 class="card-title mb-0">Income</h4></div>
    </div>
    <div class="row">
      <div class="col-6 pr-1">
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle">Trend</h6>
            <select class="dropdown float-right cus_select" (change)="incomeChange($event.target.value)" >
              <option value="1">Monthly</option>
              <option value="2">Quarterly</option>
            </select>
            <div id="incomeTrend" class="chart das_first_ch"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 pl-1">
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle">Distribution</h6>
            <select class="dropdown float-right cus_select" (change)="incomeDistChange($event.target.value)" >
              <option value="1">Region</option>
              <option value="2">Location</option>
              <option value="3">Occupation</option>
              <option value="4">Risk Profile</option>
            </select>
            <div id="incomeDistchart" class="chart das_first_ch"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row row_chart">
    <div class="col-lg-12"><h4 class="card-title mb-0">Expected Business</h4> </div>
</div>
<div class="row">
  <div class="col-lg-6 pr-1">
    <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle">Expected Investment</h6>
        <div id="invest" class="chart"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 pl-1">
    <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle">Expected Conversion</h6>
        <div id="convChart" class="chart"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 pr-1">
    <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle">Investment Value</h6>
        <div id="valuechart" class="chart"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 pl-1">
    <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle">Customer Count</h6>
        <div id="customerCount" class="chart"></div>
      </div>
    </div>
  </div>
</div>
