<!--  Home Page 1 Start -->
<!-- Home Page first 3 div-->
<div class="row main_box">
  <div class="col-lg-4 col-md-4 col-sm-6 col-12 pl-1 pr_18">
    <div class="card orange_grad">
      <div class="card-body">
        <div class="col-12 padding_0 align-self-center">
          <div class="d-flex w-100">
            <div class="w-18 align-self-center">
              <div class="box_img">
                <i class="fas fa-users-cog"></i>
              </div>
            </div>
            <div class="pr-2 w-27">
              <div class="border-right">
                <h6 class="m-0 text-muted pt-1 mb-2">Clients </h6> <span class="number_txt">{{topBand.Client}}</span>
              </div>
            </div>
            <div class="pl-2 w-27">
              <div class="border-right">
                <h6 class="m-0 text-muted pt-1 mb-2">Prospects</h6> <span class="number_txt">{{topBand.Prospect}}</span>
              </div>
            </div>
            <div class="w-27 pl-3">
              <h6 class="m-0 text-muted pt-1 mb-2">Potentials</h6> <span class="number_txt">{{topBand.Potential}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-8 pr-1">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-12 padding_0 ml_m10">
        <div class="card pink_grad">
          <div class="card-body">
            <div class="d-flex">
              <div class="m-r-10 align-self-center first_bx">
                <div class="box_img first_bx">
                  <i class="fas fa-coins"></i>
                </div>
              </div>
              <div class="align-self-center second_bx">
                <h6 class="text-muted m-t-10 mb-2">Asset Under Management</h6>
                <table>
                  <tr>
                    <td class="usd_txt">{{cSymbol}}</td>
                    <td class="number_txt">{{topBand.Asset_under_management}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12 padding_0 px-2">
        <!--      Portfolio-->
        <div class="card green_grad">
          <div class="card-body">
            <div class="d-flex">
              <div class="m-r-10 align-self-center first_bx">
                <div class="box_img">
                  <i class="fas fa-clone"></i>
                </div>
              </div>
              <div class="align-self-center w-100">
                <h6 class="text-muted m-t-10 mb-2">Income</h6>
                <table>
                  <tr>
                    <td class="usd_txt">
                      {{cSymbol}}
                    </td>
                    <td class="number_txt">{{topBand.Income}}</td>
                  </tr>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12 padding_0 pr-2">
        <div class="card blue_grad">
          <div class="card-body">
            <div class="d-flex">
              <div class="m-r-10 align-self-center">
                <div class="box_img">
                  <i class="fas fa-briefcase"></i>
                </div>
              </div>
              <div class="align-self-center w-100">
                <h6 class="text-muted m-t-10 mb-2">Expected Business</h6>
                <table>
                  <tr>
                    <td class="usd_txt">
                      {{cSymbol}}
                    </td>
                    <td class="number_txt">{{topBand.Expected_Business}}</td>
                  </tr>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Home Page first 3 div End -->
<!--  div 2 start -->
<div class="row">
  <div class="col-lg-4 top_customers">
    <div class="row">
      <div id="carouselExampleControls" class="carousel slide col-12" data-ride="carousel">
        <div class="carousel-inner">
          <div *ngFor="let customer of top_customer; let i=index"
            [class]="(i === 1) ? 'carousel-item active' : 'carousel-item'">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title pt-1 mb-2"> Top Customers</h4>
                <div class="row d-flex">
                  <div class="col-3 align-self-center">
                    <img class="customers_img" src="assets/images/users/1.jpg" alt="">
                  </div>
                  <div class="col-9 portfolio ">
                    <h5>{{customer.Client_Name}}</h5>
                    <div class="d-flex w-100">
                      <div class="border-right pr-2 w-50">
                        <span>AUM</span> <br> <span class="small_font">{{currency}}</span> <span
                          class="number_two">&nbsp;{{customer.Asset_Under_Management}}</span>
                      </div>
                      <div class="w-50 pl-3">
                        <span>Income</span>
                        <p><span class="small_font">{{currency}} </span> <span class="number_two">{{customer.Revenue | number}}</span></p>
                      </div>
                    </div>

                    <p class="pt-2 font_13 cus_mute">{{customer.Remark}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">

          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
        </a>
      </div>

      <div id="carouselExampleControls_second" class="carousel slide col-12" data-ride="carousel">
        <div class="carousel-inner">
          <div *ngFor="let key of key_potential; let i=index"
            [class]="(i === 1) ? 'carousel-item active' : 'carousel-item'">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title mb-2"><span class="lstick"></span> Key Potential</h4>
                <div class="row d-flex">
                  <div class="col-3 align-self-center">
                    <img class="customers_img" src="assets/images/users/1.jpg" alt="">
                  </div>
                  <div class="col-9">
                    <h5>{{key.Client_Name}}</h5>
                    <div class="d-flex w-100">
                      <div class="border-right pr-2 w-50">
                        <span>Investment</span> <br> <span class="small_font">{{currency}} </span> <span
                          class="number_two">{{key.Target_Investment_Amount}}</span>
                      </div>
                      <div class="w-50 pl-3">
                        <span>Stage</span> <br> <span class="font-12"> {{key.Oppurtunity_Stage}}</span>
                      </div>
                    </div>
                    <p class="pt-2 font-12 cus_mute">{{key.Remarks}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls_second" role="button" data-slide="prev">
          <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls_second" role="button" data-slide="next">

          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
        </a>
      </div>

      <div id="carouselExampleControls_three" class="carousel slide col-12" data-ride="carousel">
        <div class="carousel-inner">
          <div *ngFor="let prospect of recent_prospect; let i=index"
            [class]="(i === 1) ? 'carousel-item active' : 'carousel-item'">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title mb-2"><span class="lstick"></span> Recent Prospect</h4>
                <div class="row d-flex">
                  <div class="col-3 align-self-center">
                    <img class="customers_img" src="assets/images/users/1.jpg" alt="">
                  </div>
                  <div class="col-9">
                    <h5>{{prospect.Client_Name}}</h5>

                    <div class="d-flex w-100">
                      <div class="border-right pr-2 w-50">
                        <span>Source</span> <br> <span class="font-12">{{prospect.Source}}</span>
                      </div>
                      <div class="w-50 pl-3">
                        <span>Type</span> <br> <span class="font-12"> {{prospect.Hot_Cold}}</span>
                      </div>
                    </div>
                    <p class="pt-2 font_13 cus_mute pb-1">{{prospect.Qulalification}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title mb-2"><span class="lstick"></span> Recent Prospect</h4>
                <div class="row d-flex">
                  <div class="col-3 align-self-center">
                    <img class="customers_img" src="assets/images/users/1.jpg" alt="">
                  </div>
                  <div class="col-9">
                    <h5>James Franklin</h5>

                    <div class="d-flex w-100">
                      <div class="border-right pr-2 w-50">
                        <span>Source</span> <br> <span class="number_two">Campaign</span>
                      </div>
                      <div class="w-50 pl-3">
                        <span>Type</span> <br> <span class="number_two"> Hot</span>
                      </div>
                    </div>
                    <p class="pt-2 font_13 cus_mute pb-1">You added this today</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title mb-2"><span class="lstick"></span> Recent Prospect</h4>
                <div class="row d-flex">
                  <div class="col-3 align-self-center">
                    <img class="customers_img" src="assets/images/users/1.jpg" alt="">
                  </div>
                  <div class="col-9">
                    <h5>James Franklin</h5>

                    <div class="d-flex w-100">
                      <div class="border-right pr-2 w-50">
                        <span>Source</span> <br> <span class="number_two">Campaign</span>
                      </div>
                      <div class="w-50 pl-3">
                        <span>Type</span> <br> <span class="number_two"> Hot</span>
                      </div>
                    </div>
                    <p class="pt-2 font_13 cus_mute pb-1">You added this today</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls_three" role="button" data-slide="prev">
          <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls_three" role="button" data-slide="next">

          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
        </a>
      </div>


    </div>

  </div>
  <div class="col-lg-4 media_padding_0">
    <div class="perfomance">
      <h4> <span class="lstick pt-1"></span> Your Performance
        <select (change)="selectPerform($event.target.value)" class="dropdown float-right cus_select">
          <option value="month">Monthly</option>
          <option value="quarterly">Quarterly</option>
          <option value="annually">Annually</option>
        </select></h4>
      <div class="card">
        <div class="card-body">
          <div class="d-flex">
            <div class="row">
              <h5 class="card-title pl15">Asset Under Management</h5>
              <div class="col-5 pr-0">
                <div class="w-100">
                  <p class="cus_mute">Target</p>
                  <p><span class="small_font">{{currency}} </span> <span class="number_two">{{performanceChart[0].Target}}</span>
                  </p>
                </div>
                <div class="w-100 pt-1">
                  <p class="cus_mute">Change</p>
                  <div class="d-flex">
                    <p><span class="small_font">{{currency}} </span> <span
                        class="number_two">{{performanceChart[0].change}}</span></p> <sup><i
                        class="ti-arrow-up text-success"></i></sup>
                  </div>
                </div>
              </div>
              <div class="col-7 padding_0">
                <div class="cust_chart text-center">
                  <ngx-gauge [type]="gaugeType" [value]="gaugeValue" [label]="gaugeLabel" [append]="gaugeAppendText"
                    [thresholds]="thresholdConfig" thick="25" [size]="175" [max]="gaugemax">
                  </ngx-gauge>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex">
            <div class="row">
              <h5 class="card-title pl15 pt-1">Revenue</h5>
              <div class="col-5 pr-0">
                <div class="w-100">
                  <p class="cus_mute">Target</p>
                  <p><span class="small_font">{{currency}} </span> <span class="number_two">{{performanceChart[1].Target}}</span>
                  </p>
                </div>
                <div class="w-100 pt-1">
                  <p class="cus_mute">Change</p>
                  <div class="d-flex">
                    <p><span class="small_font">{{currency}} </span> <span
                        class="number_two">{{performanceChart[1].change}}</span></p> <sup><i
                        class="ti-arrow-up text-success"></i></sup>
                  </div>
                </div>
              </div>
              <div class="col-7 padding_0">
                <div class="text-center cust_chart">
                  <ngx-gauge [type]="gaugeType2" [value]="gaugeValue2" [label]="gaugeLabel2" [append]="gaugeAppendText2"
                    [thresholds]="thresholdConfig2" thick="25" [size]="175" [max]="gaugemax2">
                  </ngx-gauge>
                  <!--            <span class="text-success">80%</span>-->
                  <!--            <div class="progress">-->
                  <!--              <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-success" role="progressbar" style="width:80%; height: 6px;"></div>-->
                  <!--            </div>-->
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="card mb0 border_btm_0">
        <div class="card-body">
          <div class="d-flex">
            <div class="row">
              <h5 class="card-title pl15 pt-1">Conversion</h5>
              <div class="col-5 pr-0">
                <div class="w-100">
                  <p class="cus_mute">Target</p>
                  <p><span class="small_font"> </span> <span class="number_two">{{performanceChart[2].Target}}</span>
                  </p>
                </div>
                <div class="w-100 pt-1">
                  <p class="cus_mute">Change</p>
                  <div class="d-flex">
                    <p><span class="small_font"> </span> <span class="number_two">{{performanceChart[2].change}}</span>
                    </p> <sup><i class="ti-arrow-up text-success"></i></sup>
                  </div>
                </div>
              </div>
              <div class="col-7 padding_0">
                <div class="cust_chart text-center" style="margin-left:26px">
                  <ngx-gauge [type]="gaugeType3" [value]="gaugeValue3" [label]="gaugeLabel3" [append]="gaugeAppendText3"
                    [thresholds]="thresholdConfig3" thick="25" [size]="175" [max]="gaugemax3">
                  </ngx-gauge>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 plus">
    <div class="set_height">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title pt-1 pb_12"><span class="lstick"></span>Pulse</h4>
          <div class="table-responsive m-t-2 border-bottom pb-2 ">
            <table class="table vm no-th-brd pro-of-month">
              <tbody>
                <tr>
                  <td style="width:50px;">
                    <div class="box_img orange_grad">
                      <i class="mdi mdi-coin custom_md_icons"></i>
                    </div>
                  </td>
                  <td>
                    <h6>Transaction <small class="text-muted float-right">Just Now</small></h6>
                    <p>	Joe's Purchase Order for Equity failed, Check why</p>
                  </td>
                </tr>
                <tr>
                  <td style="width:50px;">
                    <div class="box_img pink_grad">
                      <i class="mdi mdi-human custom_md_icons"></i>
                    </div>
                  </td>
                  <td>
                    <h6>Life Event <small class="text-muted float-right">Today</small></h6>
                    <p>You added a Family Member for Madelynn</p>
                  </td>
                </tr>
                <tr>
                  <td style="width:50px;">
                    <div class="box_img blue_grad">
                      <i class="mdi mdi-cached  custom_md_icons"></i>
                    </div>
                  </td>
                  <td>
                    <h6>Service Update <small class="text-muted float-right">Today</small></h6>
                    <p>John from Operations closed a service ticket successfully </p>
                  </td>
                </tr>
                <tr>
                  <td style="width:50px;">
                    <div class="box_img orange_grad">
                      <i class="mdi mdi-rotate-right custom_md_icons"></i>
                    </div>
                  </td>
                  <td>
                    <h6>Social Media Update <small class="text-muted float-right">Today</small></h6>
                    <p>Maria Doe just tweeted, you should see it</p>
                  </td>
                </tr>
                <tr>
                  <td style="width:50px;">
                    <div class="box_img green_grad">
                      <i class="mdi mdi-account-plus  custom_md_icons"></i>
                    </div>
                  </td>
                  <td>
                    <h6>New Customer <small class="text-muted float-right">Today</small></h6>
                    <p>	You've signed up for Erika for Investment Advisory Account</p>
                  </td>
                </tr>
                <tr>
                  <td style="width:50px;">
                    <div class="box_img blue_grad">
                      <i class="mdi mdi-account-settings custom_md_icons"></i>
                    </div>
                  </td>
                  <td>
                    <h6>Risk Profiling <small class="text-muted float-right">Today</small></h6>
                    <p>Jean profiled herself as Aggressive on the Portal</p>
                  </td>
                </tr>
                <tr>
                  <td style="width:50px;">
                    <div class="box_img orange_grad">
                      <i class="mdi mdi-account-card-details custom_md_icons"></i>
                    </div>
                  </td>
                  <td>
                    <h6>Client Details Modified <small class="text-muted float-right">Today</small></h6>
                    <p>	Lyn's Mobile number is updated</p>
                  </td>
                </tr>
                <tr>
                  <td style="width:50px;">
                    <div class="box_img pink_grad">
                      <i class="mdi mdi-cake-variant "></i>
                    </div>
                  </td>
                  <td>
                    <h6>Birthday <small class="text-muted float-right">Yesterday</small></h6>
                    <p>	Maria turns 45 today</p>
                  </td>
                </tr>
                <tr>
                  <td style="width:50px;">
                    <div class="box_img green_grad">
                      <i class="fas fa-tasks"></i>
                    </div>
                  </td>
                  <td>
                    <h6>Goal at Risk <small class="text-muted float-right">Yesterday</small></h6>
                    <p>Susan's Retirement Goal goes off target </p>
                  </td>
                </tr>
                <tr>
                  <td style="width:50px;">
                    <div class="box_img blue_grad">
                      <i class="mdi mdi-cash-usd custom_md_icons"></i>
                    </div>
                  </td>
                  <td>
                    <h6>Transactions <small class="text-muted float-right">Yesterday</small></h6>
                    <p>Eleanor's UITF purchase transaction is approved</p>
                  </td>
                </tr>
                <tr>
                  <td style="width:50px;">
                    <div class="box_img orange_grad">
                      <i class="mdi mdi-arrange-bring-forward custom_md_icons"></i>
                    </div>
                  </td>
                  <td>
                    <h6>Document <small class="text-muted float-right">Yesterday</small></h6>
                    <p>Angeli's document is successfully verified by Operations</p>
                  </td>
                </tr>
                <tr>
                  <td style="width:50px;">
                    <div class="box_img pink_grad">
                      <i class="mdi mdi-message-text custom_md_icons"></i>
                    </div>
                  </td>
                  <td>
                    <h6>Message <small class="text-muted float-right">Yesterday</small></h6>
                    <p>	You got a message from Amerjaphil</p>
                  </td>
                </tr>
                <tr>
                  <td style="width:50px;">
                    <div class="box_img green_grad">
                      <i class="mdi mdi-coin custom_md_icons"></i>
                    </div>
                  </td>
                  <td>
                    <h6>Transaction <small class="text-muted float-right">Yesterday</small></h6>
                    <p>Mario's Equity purchase transaction got executed successfully</p>
                  </td>
                </tr>
                <tr>
                  <td style="width:50px;">
                    <div class="box_img orange_grad">
                      <i class="mdi mdi-rotate-right custom_md_icons"></i>
                    </div>
                  </td>
                  <td>
                    <h6>Social Media Update <small class="text-muted float-right">Yesterday</small></h6>
                    <p>Maria moved to a new company, says her LinkedIn Account</p>
                  </td>
                </tr>
                <tr>
                  <td style="width:50px;">
                    <div class="box_img blue_grad">
                      <i class="fa fa-handshake-o"></i>
                    </div>
                  </td>
                  <td>
                    <h6>Meeting <small class="text-muted float-right">Yesterday</small></h6>
                    <p>	You met Edward today on Portfolio Review</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  div 2 End -->
<!--  Home Page 1 End -->
<!--secod dashboard start-->
<section>
  <div class="">
    <div class="row row_chart">
      <div class="col-sm-4 col-12">
        <div class="row border-right">
          <div class="col-lg-12 cus_investment">
            <h4 class="card-title mb-2"> Investment Cart</h4>
            <div class="row">
              <div class="col-4 text-center cart_part">
                <img src="assets/images/equity.png" alt="" width="50px">
                <p class="pt-2 pb-2 lh_13">{{currency}} 400,000 <br>
                  <span class="font_13 cus_mute px-1">10 Pending Orders</span></p>
              </div>
              <div class="col-4 text-center cart_part">
                <img src="assets/images/mutual-funds.png" alt="" width="50px">
                <p class="pt-2 pb-2 lh_13">{{currency}} 400,000 <br>
                  <span class="font_13 cus_mute px-1">10 Pending Orders</span></p>
              </div>
              <div class="col-4 text-center cart_part">
                <img src="assets/images/bonds.png" alt="" width="50px">
                <p class="pt-2 pb-2 lh_13">{{currency}} 400,000 <br>
                  <span class="font_13 cus_mute px-1">10 Pending Orders</span></p>
              </div>
              <div class="col-12 mb-2 mt-1">
                <div class="btn btn-warning mb-2"> Order Book </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <h4 class="card-title mb-2 pt-3 border-top">Your Notes</h4>
            <div class="row">
              <div class="col-10">
                <h5>Reynaldo Goco Portfolio Review</h5>
                <p>John said he believes that we shall go more aggressive in the investment allocation</p>
              </div>

              <div class="col-2 text-center notes">
                <img src="assets/images/users/1.jpg" alt="" width="30px"> <br>
                <div class="attach_ic">
                  <i class="fas fa-paperclip"></i>
                </div>
              </div>

            </div>
            <hr>
            <div class="row">
              <div class="col-10">
                <h5>Reynaldo Goco Portfolio Review</h5>
                <p>Reynaldo Goco said he believes that we shall go more aggressive in the investment allocation</p>
              </div>
              <div class="col-2 text-center notes">
                <img src="assets/images/users/1.jpg" alt="" width="30px"> <br>
                <div class="attach_ic ">
                  <i class="fas fa-paperclip"></i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="btn btn-warning mt-2 mb-2"> Take Note </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-12">
        <div class="row border-right">
          <h4 class="card-title mb-2 pl-3"> Top Feed</h4>
          <div class="col-12">
            <div id="demo" class="carousel slide" data-ride="carousel">

              <!-- Indicators -->
              <!--           <ul class="carousel-indicators">-->
              <!--             <li data-target="#demo" data-slide-to="0" class="active"></li>-->
              <!--             <li data-target="#demo" data-slide-to="1"></li>-->
              <!--             <li data-target="#demo" data-slide-to="2"></li>-->
              <!--           </ul>-->

              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/images/ice_screenshot_20191112-184054.png" alt="video" data-toggle="modal"
                    data-target="#videoModal" width="100%">
                  <div class="d-flex py-2 align-items-center">
                    <img src="assets/images/users/1.jpg" class="radius_img pr-1" width="25px" alt=""> Training Material
                    <span class="text-right">May 24, 2019</span>
                  </div>
                  <h5 class="pl-1">Personal Equity Retirement Accounts</h5>
                  <p class="pb-2">Personal Equity & Retirement Account (PERA) is a voluntary retirement account
                    established by and for the exclusive use and benefit of the Contributor for the purpose of being
                    invested solely in PERA investment products in the Philippines.
                    <div class="btn btn-warning mb-3" data-toggle="modal" data-target="#myModal">
                      Read More
                    </div>
                </div>
                <div class="carousel-item">
                  <img src="assets/images/ice_screenshot_20191112-190712.png" alt="video" data-toggle="modal"
                    data-target="#videoModal1" alt="New York" width="100%">
                  <div class="d-flex py-2 align-items-center">
                    <img src="assets/images/users/1.jpg" class="radius_img pr-1" width="25px" alt=""> Training Material
                    <span class="text-right">May 24, 2019</span>
                  </div>
                  <h5 class="pt-1">Mutual Funds & UITF</h5>
                  <p class="pb-2">Are Mutual Funds and UITFs Good Investments?
                    <br>
                    <br>
                    Mutual funds and UITFs are a kind of investment that will help you grow your money. Here, watch this
                    video from Pinoy Money Academy so you’ll learn how to respond to your customers, should they ask you
                    this question. Happy Learning!</p>
                  <div class="btn btn-warning mb-3" data-toggle="modal" data-target="#myModal">
                    Read More
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="assets/images/ice_screenshot_20191112-190914.png" alt="video" data-toggle="modal"
                    data-target="#videoModal2" alt="New York" width="100%">
                  <div class="d-flex py-2 align-items-center">
                    <img src="assets/images/users/1.jpg" class="radius_img pr-1" width="25px" alt=""> Training Material
                    <span class="text-right">May 24, 2019</span>
                  </div>
                  <h5 class="pt-1">5 Rules of Wealth – Lesson 1</h5>
                  <p class="pb-2">Everyone wants to become wealthy; but why is it only a few people are able to achieve
                    wealth?
                    <br>
                    It's because many people have the wrong definition of wealth and are chasing after the wrong things.
                    In this lesson, you'll learn the correct definition of wealth and even learn why it is ethical and
                    moral to desire to become wealthy.</p>
                  <div class="btn btn-warning mb-3" data-toggle="modal" data-target="#myModal">
                    Read More
                  </div>
                </div>
              </div>

              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 active_schedule">
        <div class="">
          <h4 class="card-title">Activity Schedule </h4>
          <div class="table-responsive m-t-20">
            <table class="table vm no-th-brd pro-of-month">
              <tbody>
                <tr>
                  <td>
                    <table>
                      <tr>
                        <td style="width:50px;">
                          <div class="box_img orange_grad">
                            <i class="fas fa-users-cog"></i>
                          </div>
                        </td>
                        <td>
                          <h6>Document Expiry</h6>
                          <p>Prince Anthon Passport has expired, upload It here</p>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td style="width:30px;" class=" text-right">
                    <i class="fas fa-check"></i>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table>
                      <tr>
                        <td style="width:50px;">
                          <div class="box_img pink_grad">
                            <i class="fas fa-birthday-cake custom_md_icons"></i>
                          </div>
                        </td>
                        <td>
                          <h6>Birthday</h6>
                          <p>Andrew  Chua Passport has expired, upload It here</p>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td style="width:30px;" class=" text-right">
                    <i class="fas fa-check"></i>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table>
                      <tr>
                        <td style="width:50px;">
                          <div class="box_img blue_grad">
                            <i class="fas fa-tasks"></i>
                          </div>
                        </td>
                        <td>
                          <h6>Meeting</h6>
                          <p>Reynaldo Goco Passport has expired, upload It here</p>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td style="width:30px;" class=" text-right">
                    <i class="fas fa-check"></i>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table>
                      <tr>
                        <td style="width:50px;">
                          <div class="box_img green_grad">
                            <i class="fas fa-handshake"></i>
                          </div>
                        </td>
                        <td>
                          <h6>Task</h6>
                          <p>You have few tasks lined up for today, view your task board </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td style="width:30px;" class=" text-right">
                    <i class="fas fa-check"></i>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex text-center pl-2 pb-2">
              <div class="btn btn-warning">
                Task Board
              </div>
              <div class="btn btn-warning">
                Calendar
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--popup start-->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Personal Equity Retirement Accounts</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Learn the basic of PERA accounts and its tax incentives it offers to the customers and its long term return
        potentials
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<app-your-performance></app-your-performance>
<!--<div class="row">
  <div class="col-lg-4 col-md-6 mb-4">
    <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg" alt="video" (click)="videoModal1.show()"></a>
  </div>
</div>-->
<!-- The Modal -->
<div class="modal" id="videoModal">
  <div class="modal-dialog">
    <div class="modal-content">


      <!-- Modal body -->
      <div class="modal-body">
        <iframe width="100%" height="480" src="https://www.youtube.com/embed/3frFitEUAu0" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>


    </div>
  </div>
</div>
<!-- The Modal -->
<div class="modal" id="videoModal1">
  <div class="modal-dialog">
    <div class="modal-content">


      <!-- Modal body -->
      <div class="modal-body">
        <iframe width="100%" height="480" src="https://www.youtube.com/embed/dqUr0Q3QkXA" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>


    </div>
  </div>
</div>
<!-- The Modal -->
<div class="modal" id="videoModal2">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body">
        <iframe width="100%" height="480" src="https://www.youtube.com/embed/OlJdNESTHjY" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>
    </div>
  </div>
</div>
<p><br><br><br></p>
