<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <li class="home_txt">
            <a href="javascript:void(0)" [routerLink]="['/dashboard']"><i class="mdi mdi-home"></i>
            <span class="hide-menu">Home</span></a>
        </li>
        <li class="user-profile" [class.active]="showMenu === 'user'">
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" (click)="addExpandClass('user')" aria-expanded="false"><img src="assets/images/users/profile.png" alt="user" /><span class="hide-menu">John Agunias</span></a>
            <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'user'">
                <li><a href="javascript:void(0)" [routerLink]="['/profileDetails/calendar']">Calendar </a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/profileDetails/chatApp']">Chat app</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/profileDetails/supportTicket']">Support Ticket</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/profileDetails']">Contact</a></li>
            </ul>
        </li>
      <!--<li class="user-profile">
        <a aria-expanded="false" class=" waves-effect waves-dark" href="javascript:void(0)" [routerLink]="['/overview/profile']" >
          <table>
            <tr>
              <td style="width:30px">
                <img alt="user" src="assets/images/users/profile.png">
              </td>
            </tr>
            <tr>
              <td>
                &lt;!&ndash;<span class="hide-menu">Pasupathi G <br><span class="mail_phone"> pasupathi.g@naethra.com <br> 9789601057</span></span>&ndash;&gt;
              </td>
            </tr>
          </table>
        </a>
      </li>-->
      <li class="nav-devider" style="margin: 10px 0 7px 0px;"></li>
        <li [class.active]="showMenu === sidebarnavItem.title" *ngFor="let sidebarnavItem of sidebarnavItems" [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'" >
            <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title}}</div>
            <a [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null" [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;" (click)="addExpandClass(sidebarnavItem.title)">
                <i [ngClass]="[sidebarnavItem.icon]"></i>
                <span class="hide-menu">{{sidebarnavItem.title}}
                    <span *ngIf="sidebarnavItem.label != '' " [ngClass]="[sidebarnavItem.labelClass]">{{sidebarnavItem.label}}</span>
                    </span>
            </a>
            <!-- Second level menu -->
            <ul class="collapse" *ngIf="sidebarnavItem.submenu.length > 0" [ngClass]="{'in' : showMenu === sidebarnavItem.title }">
                <li *ngFor="let sidebarnavSubItem of sidebarnavItem.submenu" [class.active]="showSubMenu === sidebarnavSubItem.title" [routerLinkActive]="sidebarnavSubItem.submenu.length > 0 ? '' : 'active'">
                    <a [routerLink]="sidebarnavSubItem.submenu.length > 0 ? null : [sidebarnavSubItem.path]" [routerLinkActive]="sidebarnavSubItem.submenu.length > 0 ? '' : 'router-link-active'" [ngClass]="[sidebarnavSubItem.class]"  *ngIf="!sidebarnavSubItem.extralink;" (click)="addActiveClass(sidebarnavSubItem.title)">
                        <i [ngClass]="[sidebarnavSubItem.icon]"></i>
                        {{sidebarnavSubItem.title}}
                    </a>
                    <!-- Third level menu -->
                    <ul class="collapse" *ngIf="sidebarnavSubItem.submenu.length > 0" [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
                        <li *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu" routerLinkActive="active" [ngClass]="[sidebarnavSubsubItem.class]">
                            <a [routerLink]="[sidebarnavSubsubItem.path]" *ngIf="!sidebarnavSubsubItem.extralink;" [routerLinkActive]="sidebarnavSubsubItem.submenu.length > 0 ? '' : 'router-link-active'">
                                <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                                {{sidebarnavSubsubItem.title}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>
