<div class="row row_chart">
    <div class="col-5">
      <div class="row">
        <!-- Rist Profile -->
        <div class="col-12 padding_0">
          <h6 class="card-subtitle">Risk Profile</h6>
          <div style="width:260px; height:180px">
            <kendo-radialgauge [pointer]="{ value: customerRisk[0].Risk_Score }" >
                <kendo-radialgauge-scale [minorUnit]="10" [majorUnit]="20"  [max]="100" [rangeSize]="20"
                                         [majorTicks]="{ visible: false }"
                                         [minorTicks]="{ visible: false }">
                    <kendo-radialgauge-scale-ranges>
                        <kendo-radialgauge-scale-range [from]="0" [to]="40" color="#ef6256">
                        </kendo-radialgauge-scale-range>
                        <kendo-radialgauge-scale-range [from]="40" [to]="70" color="#eac456">
                        </kendo-radialgauge-scale-range>
                        <kendo-radialgauge-scale-range [from]="70" [to]="100" color="#64e286">
                        </kendo-radialgauge-scale-range>
                    </kendo-radialgauge-scale-ranges>
                </kendo-radialgauge-scale>
            </kendo-radialgauge>
          </div>
        </div>
        <!-- Exposure -->
          <div class="col-12 padding_0">
              <h6 class="card-subtitle">Exposure</h6>
              <select class="dropdown float-right cus_select" (change)="fnExposureChange($event.target.value)">
                  <option value="Asset Class">Asset Class</option>
                  <option value="Sub Asset Class">Sub Asset Class</option>
              </select>
              <div class="chart-container">
                  <div id="exposureChart" class="chart"></div>
              </div>
          </div>
      </div>
    </div>
    <!-- ProtFolio Performance -->
    <div class="col-7 align-self-center">
        <h6 class="card-subtitle">Portfolio performance</h6>
        <select class="dropdown float-right cus_select" (change)="areaPortfolioChange($event.target.value)" >
            <option value="monthly">Monthly</option>
            <option value="quarterly">Quarterly</option>
            <option value="yearly">Yearly</option>
        </select>
        <div class="chart-container">
            <div id="areaStackChart" class="chart"></div>
        </div>
    </div>
</div>


