<div class="row cus_mgd">
  <!-- Column -->
  <div class="col-lg-3 col-md-6 cust_ove_bx pr-1">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div>
            <h4 class="card-title">Customers Managed</h4>
            <h5 class="card-subtitle lit_numb_txt">21</h5>
          </div>
        </div>
        <div id="spark4" style="float: right;margin-top:-25px">
          <div id="sparkChart" class="chart"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6 cust_ove_bx px-1">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div>
            <h4 class="card-title">Customers Lost</h4>
            <h5 class="card-subtitle lit_numb_txt">8</h5>
          </div>
        </div>
        <div id="spark5" style="float: right;margin-top:-25px">
          <div id="sparkChart1" class="chart"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6 px-1">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div>
            <h4 class="card-title">Assets Under Management</h4>
            <h6 class="card-subtitle color_03 mb-2"><span class="small_font">{{currency}} </span> <span class="font_20">225,000,000</span></h6>

          </div>

        </div>
        <div id="spark6" style="float: right;">
          <div id="sparkAreaChart" class="chart"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6 pl-1">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div>
            <h4 class="card-title">Income</h4>
            <h6 class="card-subtitle color_03 mb-2"><span class="small_font">{{currency}} </span> <span class="font_20">1,434,875</span></h6>
          </div>

        </div>
        <div id="spark7" style="float: right;">
          <div id="sparkAreaChart1" class="chart"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>

<section class="mt-1">
  <div class="row list_btns_cust">
    <div class="col-6 pb-2">
      <mat-button-toggle-group appearance="legacy"  name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold" class="border-right">All</mat-button-toggle>
        <mat-button-toggle value="italic">Favorite</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="col-6 pb-2">
      <mat-button-toggle-group appearance="legacy" class="float-right" name="fontStyle" aria-label="Font Style">
<!--        <mat-button-toggle value="bold" class="border-right">List</mat-button-toggle>-->
<!--        <mat-button-toggle value="italic" class="border-right">Card</mat-button-toggle>-->
<!--        <mat-button-toggle value="underline">Map</mat-button-toggle>-->
      </mat-button-toggle-group>
    </div>
  </div>
</section>

<div class="row">
  <div class="w-100">
    <div class="col-12">
        <div class="card p-2 mr-2">
            <div class="row">
              <!---------------- Risk Profile Filter  ------------------>
              <div class="col-sm-3 border-right">
                <h5 class="text-info">Risk Profile</h5>
                <div class="d-flex">
                  <div class="custom-control custom-checkbox mb-0 pr-2 w-50">
                    <input type="checkbox" class="custom-control-input" id="customCheck" [(ngModel)]="filter.aggressive" (ngModelChange)="Custfilter()">
                    <label class="custom-control-label" for="customCheck">Aggressive</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-0 w-50">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" [(ngModel)]="filter.moderate" (ngModelChange)="Custfilter()">
                    <label class="custom-control-label" for="customCheck1">Moderate</label>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="custom-control custom-checkbox pr-2 w-50">
                    <input type="checkbox" class="custom-control-input" id="customCheck_risk" [(ngModel)]="filter.riskAverse" (ngModelChange)="Custfilter()">
                    <label class="custom-control-label" for="customCheck_risk">Risk Averse</label>
                  </div>
                  <div class="custom-control custom-checkbox w-50">
                    <input type="checkbox" class="custom-control-input" id="Conservative" [(ngModel)]="filter.conservative" (ngModelChange)="Custfilter()">
                    <label class="custom-control-label" for="Conservative">Conservative</label>
                  </div>
                </div>
              </div>
              <!---------------- Risk Profile Filter  End ------------------>
              <div class="col-sm-3 border-right">
              <h5 class="text-info">Assets Under Management</h5>
                <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options" (mouseup)="Custfilter()" ></ng5-slider>
              </div>
              <div class="col-sm-3 border-right">
              <h5 class="text-info">Investible Cash</h5>
                <ng5-slider [(value)]="value2" style="max-width: 170px;" [(highValue)]="highValue2" [options]="options2" (mouseup)="Custfilter()"></ng5-slider>
               </div>
              <div class="col-3 text-right">
                <button style="float:right" class="d-flex align-items-center justify-content-between btn btn-link" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                 <span class="fa-stack fa-sm float-right">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-minus fa-stack-1x fa-inverse"></i>
                  </span>
                </button>
              </div>
            </div>

              <div class="row" id="collapseExample">
                <div class="col-md-3 border-right col-sm-4 col-6">
                  <h5 class="text-info mb-1 mt-2">Equity</h5>
                  <ng5-slider [(value)]="value3"  [(highValue)]="highValue3" [options]="options3" (mouseup)="Custfilter()"></ng5-slider>
                </div>
                <div class="col-md-3 col-sm-4 col-6  border-right">
                  <h5 class="mb-1 mt-2 text-info">Fixed Income</h5>
                  <ng5-slider [(value)]="value4" [(highValue)]="highValue4" [options]="options4" (mouseup)="Custfilter()"></ng5-slider>
                </div>
                <div class="col-md-3 col-sm-4 col-6  border-right">
                  <h5 class="mb-1 mt-2 text-info">Alternate Assets</h5>
                  <ng5-slider [(value)]="value5" [(highValue)]="highValue5" [options]="options5" (mouseup)="Custfilter()"></ng5-slider>
                </div>
                <div class="col-md-3 col-sm-4 col-6">
                  <h5 class="mb-0 mt-2 text-info">Location</h5>
                  <div class="d-flex mt-2">
                    <div class="custom-control custom-checkbox mb-0 pr-2 w-50">
                      <input type="checkbox" class="custom-control-input" id="Rochester" [(ngModel)]="filter.calamba" (ngModelChange)="Custfilter()">
                      <label class="custom-control-label" for="Rochester">Calamba</label>
                    </div>
                    <div class="custom-control custom-checkbox mb-0 w-50">
                      <input type="checkbox" class="custom-control-input" id="newyork" [(ngModel)]="filter.makati" (ngModelChange)="Custfilter()">
                      <label class="custom-control-label" for="newyork">Makati</label>
                    </div>
                  </div>
              </div>


           </div>
        </div>
    </div>
  </div>
  <div class="w-100 pr-1  mr-2">
    <div class="row mb-3 mr-2 ml-3">
      <div class="col-md-4 user_card" *ngFor="let cust of result" >
        <div class="card d-flex flex-row border rounded">
          <div class="fav_set" *ngIf="!cust.flag" (click)="changeFlag(cust)" >
            <i class="fas fa-star"></i>
          </div>
          <div class="fav_set" *ngIf="cust.flag"  (click)="changeFlag(cust)" >
            <i class="fas fa-star"></i>
          </div>
          <div class="p-0 w-35 align-self-center text-center " >
            <img src="assets/images/users/1.jpg" class="user_img" (click)="onNavigate(cust.Customer_ID)" />
            <div class="d-flex p-2">
              <div class="ic_media mt-3">
                <a href="www.google.com" class="icon facebook">
                </a>
                <a href="www.google.com" class="icon twitter">
                </a>
                <a href="www.google.com" class="icon github">
                </a>
              </div>
            </div>
          </div>
          <div class="pl-2 pt-2 pr-2 pb-2 w-65 border-left" >
            <h5>{{cust.Client_Name}}</h5>
            <h6>{{cust.Family_Name}}</h6>
            <ul class="m-0 float-left address_book" style="list-style: none; margin:0; padding: 0">
              <li><i class="fas fa-address-book pr-1"></i> {{cust.Address}}</li>
              <li><i class="fas fa-envelope pr-1"></i> {{cust.Email}}</li>
              <li><i class="fas fa-phone-alt pr-1"></i> {{cust.Mobile}}</li>
              <li><i class="fas fa-users"></i> {{cust.RM_Name}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

