
<div class="left-part bg-white fixed-left-part" [ngClass]="{'show-panel': showSidebar}">
    <!-- Mobile toggle button -->
    <a [ngClass]="(showSidebar)?'ti-close':'ti-menu'" class="btn btn-success show-left-part d-block d-md-none" href="javascript:void(0)" (click)="mobileSidebar()"></a>
    <div class="position-relative" style="height:100%;">
        <div class="pl-3 pr-4 py-3 d-flex align-items-center mt-1 border-bottom">
            <div>
                <img src="assets/images/users/8.jpg" width="45" alt="user" class="rounded-circle">
            </div>
            <div class="text-dark mb-0 ml-3 font-18">
                John Agunias
                <p class="mb-0 font-12">
                    <i class="fa fa-circle text-success font-10 mr-1"></i>
                    <span class="font-14">Online</span>
                </p>
            </div>
        </div>
        <ul class="mailbox list-style-none">
            <li>
                <div class="message-center" style="height: calc(100vh - 217px); overflow-y: scroll;">
                    <a class="message-item" (click)="SetActive($event, 'chat1')">
			        	<span class="user-img">
			        		<img src="assets/images/users/1.jpg" alt="user" class="rounded-circle">
							<span class="profile-status online pull-right"></span>
			        	</span>
                        <div class="mail-contnet">
                            <h5 class="message-title">Steve Rogers</h5>
                            <!--<span class="mail-desc">Hey Banner, where are you?</span>
                            <span class="time text-uppercase">9:30 AM</span>-->
                        </div>
                    </a>
                    <a class="message-item" (click)="SetActive($event,'chat2')">
			            <span class="user-img">
			        		<img src="assets/images/users/2.jpg" alt="user" class="rounded-circle">
							<span class="profile-status busy pull-right"></span>
			        	</span>
                        <div class="mail-contnet">
                            <h5 class="message-title">Tony Stark</h5>
                            <!--<span class="mail-desc">Thanos is coming.</span>
                            <span class="time text-uppercase">9:30 AM</span>-->
                        </div>
                    </a>
                    <a class="message-item" (click)="SetActive($event,'chat3')">
			            <span class="user-img">
			        		<img src="assets/images/users/3.jpg" alt="user" class="rounded-circle">
							<span class="profile-status away pull-right"></span>
			        	</span>
                        <div class="mail-contnet">
                            <h5 class="message-title">Buckey Barnes</h5>
                            <!--<span class="mail-desc">I did not kill your father.</span>
                            <span class="time text-uppercase">9:30 AM</span>-->
                        </div>
                    </a>
                    <a class="message-item" (click)="SetActive($event,'chat4')">
			            <span class="user-img">
			        		<img src="assets/images/users/4.jpg" alt="user" class="rounded-circle">
							<span class="profile-status offline pull-right"></span>
			        	</span>
                        <div class="mail-contnet">
                            <h5 class="message-title">Natasha Romanoff</h5>
                            <!--<span class="mail-desc">I am multitasking.</span>
                            <span class="time text-uppercase">9:30 AM</span>-->
                        </div>
                    </a>
                    <a class="message-item" (click)="SetActive($event,'chat5')">
			            <span class="user-img">
			        		<img src="assets/images/users/5.jpg" alt="user" class="rounded-circle">
							<span class="profile-status online pull-right"></span>
			        	</span>
                        <div class="mail-contnet">
                            <h5 class="message-title">Maria Hill</h5>
                            <!--<span class="mail-desc">We are not at war.</span>
                            <span class="time text-uppercase">9:30 AM</span>-->
                        </div>
                    </a>
                    <a class="message-item" (click)="SetActive($event,'chat6')">
			            <span class="user-img">
			        		<img src="assets/images/users/6.jpg" alt="user" class="rounded-circle">
							<span class="profile-status online pull-right"></span>
			        	</span>
                        <div class="mail-contnet">
                            <h5 class="message-title">Wanda Maximoff</h5>
                            <!--<span class="mail-desc">We have to save Vision.</span>
                            <span class="time text-uppercase">9:30 AM</span>-->
                        </div>
                    </a>
                    <a class="message-item" (click)="SetActive($event,'chat7')">
			            <span class="user-img">
			        		<img src="assets/images/users/7.jpg" alt="user" class="rounded-circle">
							<span class="profile-status away pull-right"></span>
			        	</span>
                        <div class="mail-contnet">
                            <h5 class="message-title">Carol Danevars</h5>
                            <!--<span class="mail-desc">I am coming.</span>
                            <span class="time text-uppercase">9:30 AM</span>-->
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="right-part">
    <div class="card">
        <div class="pl-3 pr-4 py-3 d-flex align-items-center border-bottom bg-info">
            <div class="mr-3">
                <img [src]="[activeChatUserImg]" alt="user" class="rounded-circle" width="50" />
            </div>
            <div>
                <h5 class="text-white mb-0">{{ activeChatUser }}</h5>
                <p class="mb-0 text-white font-14">{{ activeChatUserStatus }}</p>
            </div>
        </div>
        <div class="card-body py-0 pr-0">
            <div class="chat-box pr-3" #scrollMe [scrollTop]="scrollMe.scrollHeight" style="height:calc(100vh - 300px); overflow-y: scroll;">
                <!--chat Row -->
                <ul class="chat-list">
                    <li class="chat-item" [ngClass]="[chat.chatClass]" *ngFor="let chat of chat">
                        <div class="chat-img">
                            <img [src]="[chat.imagePath]" alt="avatar" />
                        </div>

                        <div class="chat-content" *ngFor="let message of chat.messages">
                            <div class="box bg-light-info">
                                {{ message }}
                            </div>
                        </div>

                        <div class="chat-time text-lowercase" *ngIf="chat.time !='' ">{{chat.time}}</div>
                    </li>
                    <li class="chat-item odd type-msg" *ngIf="messages.length > 0">
                        <div class="chat-img" data-toggle="tooltip" data-placement="right" title="" data-original-title="">
                            <img src="assets/images/users/8.jpg" alt="user-images" />
                        </div>
                        <div class="chat-messages">
                            <div class="chat-content" *ngFor="let message of messages">
                                <div class="box bg-light-info">{{ message }}</div>
                            </div>
                        </div>
                        <div class="chat-time">{{ now | date: 'hh.mm a' }}</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body border-top">
            <form class="chat-app-input row">
                <div class="col-9">
                    <input type="text" class="form-control border-0" id="iconLeft4" placeholder="Type your message and enter" (keydown.enter)="onAddMessage();$event.preventDefault()"
                           #messageInput>
                </div>
                <div class="col-3">
                    <button type="button" class="btn-circle btn-lg btn-cyan float-right text-white border-0" (click)="onAddMessage()">
                        <i class="fa fa-paper-plane"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
