<div class="row">
    <div class="col-4 pr-0 eng_bx_one">
        <div class="card h_150 mb_10">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h4><span class="lstick pt-1"></span> Engagement </h4>
                        <div class="row">
                            <div class="col-6 pr-0">
                                <table>
                                  <tr>
                                    <td>
                                      <img src="https://images.vexels.com/media/users/3/137415/isolated/preview/0e475bb9b17b3fa4f94f31fba1635b8f-telephone-call-icon-logo-by-vexels.png" class="py-1" alt="" width="30px"> <br><span class="pers_num">921</span> <br>Activity
                                    </td>
                                    <td>
                                      <img src="https://www.ftrack.com/wp-content/uploads/reports1.png" class="py-1" alt="" width="30px"> <br><span class="pers_num">710</span> <br>Task
                                    </td>
                                    <td>
                                      <img src="https://image.flaticon.com/icons/svg/230/230403.svg" class="py-1" alt="" width="30px"> <br><span class="pers_num">211</span> <br>Tickets
                                    </td>
                                  </tr>
<!--                                    <tr>-->
<!--                                        <td>-->
<!--                                            <img src="assets/images/my/sun.png" class="py-1" alt="" width="30px"> <br><span class="pers_num">921</span> <br>Activity-->
<!--                                        </td>-->
<!--                                        <td>-->
<!--                                            <img src="assets/images/my/cold.png" class="py-1" alt="" width="30px"> <br><span class="pers_num">710</span> <br>Task-->
<!--                                        </td>-->
<!--                                        <td>-->
<!--                                            <img src="assets/images/my/n-user.png" class="py-1" alt="" width="30px"> <br><span class="pers_num">211</span> <br>Tickets-->
<!--                                        </td>-->
<!--                                    </tr>-->
                                </table>
                            </div>
                            <div class="col-6 px-0">
                                <div id="topBar1" class="chart das_first_ch mr-"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 pr-0 eng_bx_second">
        <div class="card h_150 mb_10">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h4><span class="lstick pt-1"></span> Activity  </h4>
                        <div class="row">
                            <div class="col-9">
                                <table>
                                    <tr>
                                        <td class="pt-1"> <b>130</b> <br> Meeting</td>
                                        <td class="pt-1"> <b>150</b> <br> Email</td>
                                    </tr>
                                    <tr>
                                        <td class="pt-2"> <b>411</b> <br> Calls </td>
                                        <td class="pt-2"> <b>230</b> <br> Chat </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-3">
                                <div id="topBar2" class="chart das_first_ch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 pl-2 eng_bx_last">
        <div class="card h_150 mb_10">
            <div class="card-body">
                <h4><span class="lstick pt-1 font_25"></span> Tickets </h4>
                <div class="row">
                    <div class="col-4">
                        <table>
                            <tr>
                                <td class="pt-1"> <b>71</b> <br> Query</td>
                                <td class="pt-1"> </td>
                            </tr>
                            <tr>
                                <td class="pt-3"> <b>91</b> <br> Request </td>
                                <td class="pt-3"> <b>49</b> <br> Complaint </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-8">
                        <div id="topBar3" class="chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div  class="col-12 text-right">
        <button class="btn btn-primary mr-2" [routerLink]="['/prospect/activity']" >Add Interaction</button>
        <button class="btn btn-primary " [routerLink]="['/prospect/task']" >Add Task</button>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
    <table class="table table-striped table-bordered mb-0 no-wrap">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Purpose</th>
            <th>Subject</th>
            <th>Oppurtunity Name</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let acty of activity ; let i = index">
            <td>{{ acty.Name }}</td>
            <td>{{ acty.Type }}</td>
            <td>{{ acty.Purpose }}</td>
            <td>{{ acty.Subject }}</td>
            <td>{{ acty.Oppurtunity_Name }}</td>
<!--            <td>
                <span class="label label-{{ acty.labelbgStatus }}">{{ acty.status }}</span>
            </td>-->

        </tr>
        </tbody>
    </table>
</div>
            </div>
        </div>
    </div>
</div>
