<!-------------------  First Page Start ------------------->
<div class="row mb-0 mr-0 ml-0">
  <div class="col-md-4 user_card">
      <div class="card hit_193 d-flex flex-row border rounded">
        <div class="row">
          <div class="col-12 d-flex">
            <div class="p-0 w-35 align-self-center text-center">
              <img src="assets/images/users/1.jpg" class="user_img"/>
              <div classs="d-flex p-2">
                <div class="ic_media mt-3">
                  <a class="icon facebook">
                  </a>
                  <a class="icon twitter">
                  </a>
                  <a class="icon github">
                  </a>
                </div>
              </div>
            </div>
            <div class="pl-2 pt-2 pr-2 pb-2 w-65">
              <h4 class="pt-1">{{selectedCustomer[0].Client_Name}}</h4>
              <ul class="m-0 float-left address_book new_add_book" style="list-style: none; margin:0; padding: 0">
                <li id="three_line_txt"><i class="fas fa-address-book pr-1"></i> {{selectedCustomer[0].Address}}</li>
                <li><i class="fas fa-envelope pr-1"></i> {{selectedCustomer[0].Email}}</li>
                <li><i class="fas fa-phone-alt pr-1"></i> {{selectedCustomer[0].Mobile}}</li>
              </ul>
            </div>
          </div>
          <div class="col-12 px-4 py-2">
            <div class="cus_bxes new_c_bxes align-self-center d-flex">
              <div class="box_img orange_grad">
                <i class="fas fa-flag"></i>
              </div>
              <div class="box_img pink_grad ml-2">
                <i class="fas fa-user" aria-hidden="true"></i>
              </div>
              <div class="box_img blue_grad ml-2">
                <i class="fas fa-check-circle"></i>
              </div>
              <div class="box_img green_grad ml-2">
                <i class="far fa-smile" aria-hidden="true"></i>
              </div>
              <div class="text-right align-self-center ml-2">
                <div class="btn btn-primary inner_btn w_100px"> Signature </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
<div class="col-lg-8 col-md-6 px-1">
  <div class="card">
    <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h4 class="card-title text-info">Investment Summary</h4>
          </div>
          <div class="col-6 pb-1">
              <table>
                <tr>
                  <td class="w-50 font-14">
                    Investment Value <br> <span class="small_font">{{currency}}</span> {{selectedCustomer[0].Asset_Under_Management | number}}
                  </td>
                  <td class="w-50 font-14">
                    Capital Invested <br><span class="small_font">{{currency}}</span> {{selectedCustomer[0].Revenue | number}}
                  </td>
                </tr>
              </table>
              <div id="spark6" style="float: right;">
                <div id="sparkAreaChart" class="chart"></div>
              </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-6 px-1 pb-2">
                <table class="cus_bxes new_c_bxes">
                  <tr>
                    <td class="w_20">
                      <div class="box_img blue_grad">
                        <i class="fas fa-check-circle"></i>
                      </div>
                    </td>
                    <td class="w_80 font-14">
                      Investible Cash <br> <span class="small_font">{{currency}}</span> {{selectedCustomer[0].Investible_Cash | number}}
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-6 px-1 pb-2">
                <table class="cus_bxes new_c_bxes">
                  <tr>
                    <td class="w_20">
                      <div class="box_img blue_grad mt-2">
                        <i class="fas fa-check-circle"></i>
                      </div>
                    </td>
                    <td class="w_80 font-14">
                      Income <br> <span class="small_font">{{currency}}</span> {{selectedCustomer[0].Income}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-6 px-1">
                <table class="cus_bxes new_c_bxes">
                  <tr>
                    <td class="w_20">
                      <div class="box_img blue_grad">
                        <i class="fas fa-check-circle"></i>
                      </div>
                    </td>
                    <td class="w_80 font-14">
                      Credit Limit <br> <span class="small_font">{{currency}}</span> {{selectedCustomer[0].Networth}}
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-6 px-1">
                <table class="cus_bxes new_c_bxes">
                  <tr>
                    <td class="w_20">
                      <div class="box_img blue_grad">
                        <i class="fas fa-check-circle"></i>
                      </div>
                    </td>
                    <td class="w_80 font-14">
                      Net Worth <br> <span class="small_font">{{currency}}</span> {{selectedCustomer[0].Networth}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

</div>
<!-- Chart Start -->
<app-child-overview-chart></app-child-overview-chart>
<!-- Chart End -->
<!-------------------  Second Page Start ------------------->
<div class="row">
  <div class="col-md-8 pr-0">
      <div class="row">
        <div class="col-md-12 alpha_bx">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-3 text-center">
                  <img class="border_radius" width="80px" src="assets/images/users/1.jpg" alt=""> <br>
                  <p class="pt-2 mb-0">Diversified Pack</p>
                </div>
                <div class="col-8">
                  <div class="d-flex">
                    <div>
                      <h4 class="pr-3 mb-0 cus_mute">Alpha Multicap Portfolio</h4>
                      <span class="font_12">Moderately Risky</span>
                    </div>
                    <div class="pr-3 cus_star">
                      <ngb-rating [(rate)]="currentRate"></ngb-rating>
                    </div>
                    <div class="green_txt font-18 weight_500">
                      98% Match
                    </div>
                  </div>
                  <div class="d-flex">
                    <div class="pl-0 pt-2 pr-2 pb-0 cus_mute">Product <br> <span class="number_txt">28%</span></div>
                    <div class="pl-2 pr-2 pt-2 pb-0 cus_mute">S&P 500 <br> <span class="number_txt">18%</span></div>
                    <div class="pl-2 pr-2 pt-2 pb-0 align-self-center"><sup><i class="ti-arrow-up text-success font-20"></i></sup></div>
                    <div class="pl-2 pr-2 pt-2 pb-0 cus_mute">Alpha <br> <span class="number_txt">10%</span></div>
                    <div class="pl-2 pr-2 pt-2 pb-0 cus_mute">Downside Risk <br> <span class="number_txt">8%</span></div>
                    <div class="pl-2 pr-2 pt-2 pb-0 cus_mute">Projected Return <br> <span class="number_txt">8%</span></div>
                  </div>
                </div>
<!--                <div class="col-1 padding_0 align-self-center">
                  <div class="box_img orange_grad"><i aria-hidden="true" class="fas fa-users-cog"></i></div>
                  <div class="box_img orange_grad mt-2"><i aria-hidden="true" class="fas fa-users-cog"></i></div>
                </div>-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 alpha_bx">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-3 text-center">
                  <img class="border_radius" width="80px" src="assets/images/users/1.jpg" alt=""> <br>
                  <p class="pt-2 mb-0">Diversified Pack</p>
                </div>
                <div class="col-8">
                  <div class="d-flex">
                    <div>
                      <h4 class="pr-3 mb-0 cus_mute">SM Investment</h4>
                      <span class="font_12"></span>
                    </div>
                    <div class="pr-3 cus_star">
                      <ngb-rating [(rate)]="currentRate"></ngb-rating>
                    </div>
                    <div class="green_txt font-18 weight_500">
                      98% Match
                    </div>
                  </div>
                  <div class="d-flex">
                    <div class="pl-0 pt-2 pr-2 pb-0 cus_mute">Product <br> <span class="number_txt">28%</span></div>
                    <div class="pl-2 pr-2 pt-2 pb-0 cus_mute">S&P 500 <br> <span class="number_txt">21%</span></div>
                    <div class="pl-2 pr-2 pt-2 pb-0 align-self-center"><sup><i class="ti-arrow-up text-success font-20"></i></sup></div>
                    <div class="pl-2 pr-2 pt-2 pb-0 cus_mute">Alpha <br> <span class="number_txt">8%</span></div>
                    <div class="pl-2 pr-2 pt-2 pb-0 cus_mute">Downside Risk <br> <span class="number_txt">8%</span></div>
                    <div class="pl-2 pr-2 pt-2 pb-0 cus_mute">Projected Return <br> <span class="number_txt">8%</span></div>
                  </div>
                </div>
 <!--               <div class="col-1 padding_0 align-self-center">
                  <div class="box_img orange_grad"><i aria-hidden="true" class="fas fa-users-cog"></i></div>
                  <div class="box_img orange_grad mt-2"><i aria-hidden="true" class="fas fa-users-cog"></i></div>
                </div>-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 alpha_bx">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-3 text-center">
                  <img class="border_radius" width="80px" src="assets/images/users/1.jpg" alt=""> <br>
                  <p class="pt-2 mb-0">Diversified Pack</p>
                </div>
                <div class="col-8">
                  <div class="d-flex">
                    <div>
                      <h4 class="pr-3 mb-0 cus_mute">Sun Life Prosperitty Fund</h4>
                      <span class="font_12">Moderately Risky</span>
                    </div>
                    <div class="pr-3 cus_star">
                        <ngb-rating [(rate)]="currentRate"></ngb-rating>
                    </div>
                    <div class="green_txt font-18 weight_500">
                      98% Match
                    </div>
                  </div>
                  <div class="d-flex">
                    <div class="pl-0 pt-2 pr-2 pb-0 cus_mute">Product <br> <span class="number_txt">22%</span></div>
                    <div class="pl-2 pr-2 pt-2 pb-0 cus_mute">S&P 500 <br> <span class="number_txt">18%</span></div>
                    <div class="pl-2 pr-2 pt-2 pb-0 align-self-center"><sup><i class="ti-arrow-up text-success font-20"></i></sup></div>
                    <div class="pl-2 pr-2 pt-2 pb-0 cus_mute">Alpha <br> <span class="number_txt">4%</span></div>
                    <div class="pl-2 pr-2 pt-2 pb-0 cus_mute">Downside Risk <br> <span class="number_txt">2%</span></div>
                    <div class="pl-2 pr-2 pt-2 pb-0 cus_mute">Projected Return <br> <span class="number_txt">6%</span></div>
                  </div>
                </div>
<!--                <div class="col-1 padding_0 align-self-center">
                  <div class="box_img orange_grad"><i aria-hidden="true" class="fas fa-users-cog"></i></div>
                  <div class="box_img orange_grad mt-2"><i aria-hidden="true" class="fas fa-users-cog"></i></div>
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-md-4 plus">
      <div class="">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title pt-1"><span class="lstick"></span>Investment Account</h4>
                  <div class="table-responsive m-t-2 border-bottom pb-2 ">
                      <table class="table vm no-th-brd pro-of-month mb-0">
                          <tbody>
                          <tr *ngFor="let activityS of activitySchedule ">
                              <td class="w_80">
                                  <h6>{{selectedCustomer[0].Client_Name}} Retirement Acc…</h6>
                                  <p>{{currency}} {{activityS.Portfolio_Value }} | {{activityS.Risk_Profile }} </p>
                              </td>
                              <td class="w_20" *ngIf="activityS.Goal">
                                  <div class="btn btn-primary inner_btn cursor_auto"> {{activityS.Goal }} </div>
                              </td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="w-100 float-right">
                      <div class="btn btn-warning mt-2"> More </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-------------------  Second Page  End ------------------->
<!-------------------     Third Dashboard Start ----------------------- -->

<div class="row">
  <div class="col-lg-4 plus new_plus">
      <div class="">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title"><span class="lstick"></span>Pulse</h4>
                  <div class="table-responsive m-t-20">
                      <table class="table vm no-th-brd pro-of-month">
                          <tbody>
                          <ng-container *ngFor="let data of pulse; let i=index">
                              <tr *ngIf="i < 6" >
                                  <td style="width:50px;">
                                      <div class="box_img orange_grad">
                                          <i class="fas fa-tasks"></i>
                                      </div>
                                  </td>
                                  <td>
                                      <h6>{{data.Event_Type}}<small class="text-muted float-right">{{data.Time}}</small></h6>
                                      <p>{{data.Event_Description}}</p>
                                  </td>
                              </tr>
                          </ng-container>

                          </tbody>
                      </table>
                  </div>
              </div>

          </div>
      </div>
  </div>
  <div class="col-lg-4 padding_0 active_schedule new_sched">
      <div class="">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title"><span class="lstick"></span>Activity Schedule</h4>
                  <div class="table-responsive m-t-20">
                    <table class="table vm no-th-brd pro-of-month">
                      <tbody>
                      <tr>
                        <td>
                          <table>
                            <tr>
                              <td style="width:50px;">
                                <div class="box_img orange_grad">
                                  <i class="fas fa-users-cog"></i>
                                </div>
                              </td>
                              <td>
                                <h6>Document Expiry</h6>
                                <p>{{selectedCustomer[0].Client_Name}} Passport has expired, upload ...</p>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td class="w_30px text-right attach_ic">
                          <i class="fas fa-edit"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table>
                            <tr>
                              <td class="w_50px">
                                <div class="box_img pink_grad">
                                  <i class="fas fa-birthday-cake"></i>
                                </div>
                              </td>
                              <td>
                                <h6>Birthday</h6>
                                <p>{{selectedCustomer[0].Client_Name}} Passport has expired, upload It</p>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td style="width:30px;" class="attach_ic text-right">
                          <i class="fas fa-edit"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table>
                            <tr>
                              <td class="w_50px">
                                <div class="box_img pink_grad">
                                  <i class="fas fa-birthday-cake"></i>
                                </div>
                              </td>
                              <td>
                                <h6>Birthday</h6>
                                <p>{{selectedCustomer[0].Client_Name}} Passport has expired, upload It</p>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td style="width:30px;" class="attach_ic text-right">
                          <i class="fas fa-edit"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table>
                            <tr>
                              <td class="w_50px">
                                <div class="box_img blue_grad">
                                  <i class="fas fa-tasks"></i>
                                </div>
                              </td>
                              <td>
                                <h6>Meeting</h6>
                                <p>{{selectedCustomer[0].Client_Name}} Passport has expired, upload It</p>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td class="attach_ic w_30px text-right">
                          <i class="fas fa-edit"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table>
                            <tr>
                              <td class="w_50px">
                                <div class="box_img green_grad">
                                  <i class="fas fa-handshake"></i>
                                </div>
                              </td>
                              <td>
                                <h6>Task</h6>
                                <p>You have few tasks lined up for today, vi... </p>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td class="w_30px attach_ic text-right">
                          <i class="fas fa-edit"></i>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                      <div class="d-flex text-center pl-2 pb-2">
                          <div class="btn btn-warning">
                              Task Board
                          </div>
                          <div class="btn btn-warning">
                              Calendar
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-4 plus">
      <div class="row-lg-6">
          <div class="">
              <div class="card mb_10">
                  <div class="card-body">
                      <h4 class="card-title"><span class="lstick"></span>Next Best Action</h4>
<!--                      <div id="demo" class="carousel slide" data-ride="carousel">-->
<!--                          <div class="carousel-inner">-->
<!--                              <div class="carousel-item active">-->
<!--                                  <img src="assets/images/big/img4.jpg" alt="Los Angeles" width="100%" height="">-->
<!--                              </div>-->
<!--                              <div class="carousel-item">-->
<!--                                  <img src="assets/images/big/img6.jpg" alt="Chicago" width="100%" height="">-->
<!--                              </div>-->
<!--                              <div class="carousel-item">-->
<!--                                  <img src="assets/images/big/img5.jpg" alt="New York" width="100%" height="">-->
<!--                              </div>-->
<!--                          </div>-->

<!--                          &lt;!&ndash; Left and right controls &ndash;&gt;-->
<!--                          <a class="carousel-control-prev" href="#demo" data-slide="prev">-->
<!--                              <span class="carousel-control-prev-icon"></span>-->
<!--                          </a>-->
<!--                          <a class="carousel-control-next" href="#demo" data-slide="next">-->
<!--                              <span class="carousel-control-next-icon"></span>-->
<!--                          </a>-->
<!--                      </div>-->
                    <h4 style="font-size: 30px !important;text-align: center;line-height: 40px;">No Recommended Action</h4>
                    <p class="pt-2 pb-4">We are watching Reynaldo's portfolio and we will suggest you if  you should take any specific action.</p>

                  </div>
              </div>
          </div>
      </div>
      <div class="row-lg-6">
          <div class="">
              <div class="card">
                  <div class="card-body">
                      <h4 class="card-title"><span class="lstick"></span>Notes</h4>
                      <div class="row">
                          <div class="col-10 pb-1">
                              <h5 class="mb-1">{{selectedCustomer[0].Client_Name}} Portfolio Review</h5>
                              <p>{{selectedCustomer[0].Client_Name}} said he believes that we shall go more aggressive in the inve...</p>
                          </div>

                          <div class="col-2 text-center notes">
                              <img src="assets/images/users/1.jpg" alt="" width="30px"> <br>
                              <div class="attach_ic">
                                  <i class="fas fa-paperclip"></i>
                              </div>
                          </div>

                      </div>
                      <button type="button" class="btn btn-warning mb-2">Take Notes</button>
                      <button type="button" class="btn btn-warning mb-2">More</button>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>

<!--------------------------  Third Dashboard End-------------------------->

<!--------------------------  Fourth Dashboard Start-------------------------->
<div class="row">
  <div class="col-md-4 plus">
      <div class="">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title pt-1"><span class="lstick"></span> Held Away Accounts</h4>
                  <div class="table-responsive m-t-2 border-bottom pb-2 ">
                      <table class="table vm no-th-brd pro-of-month mb-0">
                          <tbody>
                          <tr *ngFor="let heldValue of heldData">
                              <td class="w_80">
                                  <h6>{{selectedCustomer[0].Client_Name}}</h6>
                                  <p>{{currency}} {{heldValue.Portfolio_value}} | {{heldValue.Service_Provider}}  </p>
                              </td>
                              <td class="w_20">
                                  <div class="btn btn-primary inner_btn"> {{heldValue.Account_Type}} </div>
                              </td>
                          </tr>

                          </tbody>
                      </table>
                  </div>
                  <div class="w-100 text-right">
                      <div class="btn btn-warning mt-2"> More </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-md-8 pl-0">
          <div class="card">
              <div class="card-body">
                  <h6 class="card-subtitle">Revenue</h6>
                  <select class="dropdown float-right cus_select" (change)="areaPortfolioChange2($event.target.value)" >
                      <option value="monthly">Monthly</option>
                      <option value="quarterly">Quarterly</option>
                      <option value="yearly">Yearly</option>
                  </select>
                  <div class="chart-container">
                      <div id="areaStackChart1" class="chart"></div>
                  </div>
              </div>
          </div>

  </div>
  <div class="col-md-8">
  </div>
</div>
<div class="row">
  <div class="col-md-4 plus second_plus">
      <div class="">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title pt-1"><span class="lstick"></span> Opportunities</h4>
                <div class="row">
                  <div class="col-md-4 pr-0 pl-1 sm_bx">
                    <div class="card bg-info">
                      <div class="card-body">
                        <div class="d-flex">
                          <div class="align-self-center second_bx">
                            <h6 class="m-t-10 m-b-0">Opportunities</h6>
                           <p>{{opportunityValue[0].Total_Oppurtunities}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 p-0 sm_bx">
                    <div class="card bg-primary">
                      <div class="card-body">
                        <div class="d-flex">
                          <div class="align-self-center second_bx">
                            <h6 class="m-t-10 m-b-0">Near Closure</h6>
                            <p>{{opportunityValue[0].Nearing_Closure}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 pl-0 pr-1 sm_bx">
                    <div class="card bg-danger">
                      <div class="card-body">
                        <div class="d-flex">
                          <div class="align-self-center second_bx">
                            <h6 class="m-t-10 m-b-0">Expected Value</h6>
                            <p>{{opportunityValue[0].Expected_Value}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="table-responsive m-t-2 border-bottom pb-2 ">
                      <table class="table vm no-th-brd pro-of-month mb-0">
                          <tbody>
                            <tr>
                              <td class="w_50">
<!--                                  <div class="box_img orange_grad">-->
<!--                                    <i class="fas fa-tasks" aria-hidden="true"></i>-->
<!--                                  </div>-->
                                <img src="assets/images/equity.png" width="40px" alt="">
                              </td>
                                <td class="">
                                    <h6>{{opportunityData[0].Total_Oppurtunities}}</h6>
                                    <p>{{opportunityData[0].Expected_Value}} | {{currency}} {{opportunityData[0].Nearing_Closure}} </p>
                                </td>
                            </tr>

                            <tr>
                              <td class="w_50">
<!--                                  <div class="box_img orange_grad">-->
<!--                                    <i class="fas fa-tasks" aria-hidden="true"></i>-->
<!--                                  </div>-->
                                <img src="assets/images/mutual-funds.png" width="40px" alt="">

                              </td>
                              <td class="">
                                <h6>{{opportunityData[1].Total_Oppurtunities}}</h6>
                                <p>{{opportunityData[1].Expected_Value}} | {{currency}} {{opportunityData[1].Nearing_Closure}} </p>
                              </td>
                            </tr>
                            <tr>
                              <td class="w_50">
<!--                                  <div class="box_img orange_grad">-->
<!--                                    <i class="fas fa-tasks" aria-hidden="true"></i>-->
<!--                                  </div>-->
                                <img src="assets/images/bonds.png" width="40px" alt="">

                              </td>
                              <td class="">
                                <h6>{{opportunityData[2].Total_Oppurtunities}}</h6>
                                <p>{{opportunityData[2].Expected_Value}} | {{currency}} {{opportunityData[2].Nearing_Closure}} </p>
                              </td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
                <div class="w-100">
                  <div class="btn btn-warning mt-2 float-right" [routerLink]="['/prospect/myprospect']"> More </div>
                </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-md-4 plus new_plus px-0">
      <div class="">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title pt-1"><span class="lstick"></span>Interaction</h4>
                <div class="row">
                  <div class="col-md-4 pr-0 pl-1 sm_bx">
                    <div class="card bg-info">
                      <div class="card-body">
                        <div class="d-flex">
                          <div class="align-self-center second_bx">
                            <h6 class="m-t-10 m-b-0">Calls</h6>
                            <p>{{activityValue[0].Total_Oppurtunities}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 p-0 sm_bx">
                    <div class="card bg-primary">
                      <div class="card-body">
                        <div class="d-flex">
                          <div class="align-self-center second_bx">
                            <h6 class="m-t-10 m-b-0">Meetings</h6>
                            <p>{{activityValue[0].Nearing_Closure}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 pl-0 pr-1 sm_bx">
                    <div class="card bg-danger">
                      <div class="card-body">
                        <div class="d-flex">
                          <div class="align-self-center second_bx">
                            <h6 class="m-t-10 m-b-0">Tasks</h6>
                            <p>{{activityValue[0].Expected_Value}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="table-responsive m-t-2 border-bottom pb-2 ">
                      <table class="table vm no-th-brd pro-of-month mb-0">
                          <tbody>
                          <tr>
                            <td class="w_50">
                              <div class="box_img bg-primary">
                                <i class="fa fa-handshake-o" aria-hidden="true"></i>
                              </div>
                            </td>
                            <td class="">
                              <h6>{{activityData[0].Total_Oppurtunities}}</h6>
                              <p>{{activityData[0].Nearing_Closure}}</p>
                            </td>
                            <td>
                              <div class="btn btn-info cus_btn pull-right">{{activityData[0].status}}</div>
                            </td>
                          </tr>
                          <tr>
                            <td class="w_50">
                              <div class="box_img bg-danger">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                              </div>
                            </td>
                            <td class="">
                              <h6>{{activityData[1].Total_Oppurtunities}}</h6>
                              <p>{{activityData[1].Nearing_Closure}}</p>
                            </td>
                            <td>
                              <div class="btn btn-danger cus_btn pull-right">{{activityData[1].status}}</div>
                            </td>
                          </tr>
                          <tr>
                            <td class="w_50">
                              <div class="box_img bg-warning">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                              </div>
                            </td>
                            <td class="">
                              <h6>{{activityData[2].Total_Oppurtunities}}</h6>
                              <p>{{activityData[2].Nearing_Closure}}</p>
                            </td>
                            <td>
                              <div class="btn btn-danger cus_btn pull-right">{{activityData[2].status}}</div>
                            </td>
                          </tr>
                          </tbody>
                      </table>
                  </div>

                <div class="w-100">
                  <div class="btn btn-warning mt-2 float-right" [routerLink]="['/engagement/myactivities']"> More </div>
                </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-md-4 plus new_plus">
      <div class="">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title pt-1"><span class="lstick"></span> Tickets</h4>
                <div class="row">
                  <div class="col-md-4 pr-0 pl-1 sm_bx">
                    <div class="card bg-info">
                      <div class="card-body">
                        <div class="d-flex">
                          <div class="align-self-center second_bx">
                            <h6 class="m-t-10 m-b-0">In Progress</h6>
                            <p>{{ticketValue[0].Total_Oppurtunities}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 p-0 sm_bx">
                    <div class="card bg-primary">
                      <div class="card-body">
                        <div class="d-flex">
                          <div class="align-self-center second_bx">
                            <h6 class="m-t-10 m-b-0">Open</h6>
                            <p>{{ticketValue[0].Nearing_Closure}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 pl-0 pr-1 sm_bx">
                    <div class="card bg-danger">
                      <div class="card-body">
                        <div class="d-flex">
                          <div class="align-self-center second_bx">
                            <h6 class="m-t-10 m-b-0">Closed</h6>
                            <p>{{ticketValue[0].Expected_Value}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="table-responsive m-t-2 border-bottom pb-2 ">
                      <table class="table vm no-th-brd pro-of-month mb-0">
                          <tbody>
                          <tr>
                            <td class="w_50">
                              <div class="box_img bg-primary">
                                <i class="fa fa-handshake-o" aria-hidden="true"></i>
                              </div>
                            </td>
                            <td class="">
                              <h6>{{ticketData[0].Area}}</h6>
                              <p>{{ticketData[0].Type}}</p>
                            </td>
                            <td>
                              <div class="btn btn-info cus_btn pull-right">{{ticketData[0].Status}}</div>
                            </td>
                          </tr>
                          <tr>
                            <td class="w_50">
                              <div class="box_img bg-danger">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                              </div>
                            </td>
                            <td class="">
                              <h6>{{ticketData[1].Area}} </h6>
                              <p>{{ticketData[1].Type}}</p>
                            </td>
                            <td>
                              <div class="btn btn-danger cus_btn pull-right">{{ticketData[1].Status}}</div>
                            </td>
                          </tr>
                          <tr>
                            <td class="w_50">
                              <div class="box_img bg-warning">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                              </div>
                            </td>
                            <td class="">
                              <h6>{{ticketData[2].Area}}</h6>
                              <p>{{ticketData[2].Type}}</p>
                            </td>
                            <td>
                              <div class="btn btn-danger cus_btn pull-right">{{ticketData[2].Status}}</div>
                            </td>
                          </tr>
                          </tbody>
                      </table>
                  </div>

                <div class="w-100">
                  <div class="btn btn-warning mt-2 float-right " [routerLink]="['/profileDetails/supportTicket']"> More </div>
                </div>
              </div>
          </div>
      </div>
  </div>

</div>

<p><br><br><br></p>
<!--------------------------  Fourth Dashboard End-------------------------->
