<div class="card-body">
        <div class="row p-t-20">
            <div class="col-md-3">
                    <div class="form-group">
                            <label class="control-label">Role</label>
                            <select class="form-control custom-select">
                                <option value="">-Select-</option>
                                <option value="Relationship Manager">Relationship Manager</option>
                            </select>
            
                        </div>
                        </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Type</label>
                    <select class="form-control custom-select">
                        <option value="">-Select-</option>
                        <option value="Query">Query</option>
                        <option value="Request">Request</option>
                        <option value="Complaint">Complaint</option>
                    </select>
    
                </div>
            </div>
        </div>
        <div class="row ">
                <div class="col-md-3">
                        <div class="form-group">
                                <label class="control-label">User</label>
                                <select class="form-control custom-select">
                                    <option value="">-Select-</option>
                                    <option value="John Doe">John Doe</option>
                                </select>
                
                            </div>
                        </div>
                <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Area</label>
                            <select class="form-control custom-select" (change)="fnAreaChange($event.target.value)">
                                <option value="">-Select-</option>
                                <option value="Account Asure">Account Closure</option>
                                <option value="Investment">Investment</option>
                                <option value="Financial Planning">Financial Planning</option>
                                <option value="Report & Statement">Report & Statement</option>
                                <option value="Account Service">Account Service</option>
                                <option value="General Query">General Query</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="subjectDD">
                            <div class="form-group">
                                <label class="control-label">Subject</label>
                                <select class="form-control custom-select">
                                    <option value="">-Select-</option>
                                    <option value="Update Mobile">Update Mobile</option>
                                    <option value="Update Email">Update Email</option>
                                    <option value="Update Document">Update Document</option>
                                    <option value="Add or Change Nominee">Add or Change Nominee</option>
                                </select>
                            </div>
                        </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <textarea class="form-control" placeholder="Additional Information (250 words)"></textarea>
            </div>
        </div>
        <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                            <label class="control-label">&nbsp;</label>
                        <div class="custom-file">
                            <input class="custom-file-input ng-pristine ng-invalid ng-touched" formcontrolname="importFile" id="importFile" multiple=""
                                type="file">
                            <label class="custom-file-label" for="importFile">Choose file</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                    <div class="col-md-3">
                            <div class="form-group">
                                    <label class="control-label">Assigned To</label>
                                    <select class="form-control custom-select">
                                        <option value="Operations">Operations</option>
                                        <option value="Financial Planner">Financial Planner</option>
                                        <option value="Legal">Legal</option>
                                        <option value="Retiotion">Retiotion</option>
                                    </select>
                    
                                </div>
                            </div>
                    <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Priority</label>
                                <select class="form-control custom-select">
                                        <option value="Low">Low</option>
                                    <option value="High">High</option>
                                    <option value="Medium">Medium</option>
                                </select>
                            </div>
                        </div>
            </div>
            <div  class="row p-t-10">
                    <div  class="col-md-3">
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>
    </div>