<!--<section>-->
<!--    <div class="row list_btns_cust">-->
<!--        <div class="col-6">-->
<!--            <div class="d-flex pl-0">-->
<!--                <div class="btn btn-warning"> All </div>-->
<!--                <div class="btn btn-warning"> Favorite </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-6">-->

<!--            <div class="d-flex pl-0 float-right">-->
<!--                <div class="btn btn-warning"> List </div>-->
<!--                <div class="btn btn-warning"> Card </div>-->
<!--                <div class="btn btn-warning"> Map </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<div class="row card_mar_remove mb-2">
    <div class="col-6 pr-1">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-0">Conversion Strike Rate</h4>
                <p class="p-0">2 Opportunities are missed to get a conversion</p>
                <table>
                    <tr>
                        <td class="w-25">
                            <h5>
                                Won <br>
                                28
                            </h5>
                        </td>
                        <td>
                            <img src="assets/images/my/n-user.png" alt="" width="45px">
                        </td>
                        <td class="w-25 border-right cus_svg">
                            <circle-progress
                                    [percent]="85"
                                    [radius]="30"
                                    [outerStrokeWidth]="4"
                                    [innerStrokeWidth]="0"
                                    [outerStrokeColor]="'#78C000'"
                                    [innerStrokeColor]="'#C7E596'"
                                    [animation]="true"
                                    [titleFontSize]="12"
                                    [subtitle]="'Hit'"
                                    [showSubtitle]="true"
                                    [animationDuration]="300"
                            ></circle-progress>
                        </td>
                        <td class="w-25 pl-1">
                            <h5>
                                Missed <br>
                                56
                            </h5>
                        </td>
                        <td >
                            <img src="assets/images/my/brief1.png" alt="" width="40px">
                        </td>
                        <td class="w-25 cus_svg">
                            <circle-progress
                                    [percent]="20"
                                    [radius]="30"
                                    [outerStrokeWidth]="4"
                                    [innerStrokeWidth]="0"
                                    [outerStrokeColor]="'#eb4034'"
                                    [innerStrokeColor]="'#eb4034'"
                                    [animation]="true"
                                    [titleFontSize]="12"
                                    [subtitle]="'Mis'"
                                    [showSubtitle]="true"
                                    [animationDuration]="300"
                            ></circle-progress>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-3 px-1">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title">Current Pipeline</h4>
                        <h5 class="card-subtitle"><span class="small_font">{{currency}} </span>250,000</h5>
                    </div>
                </div>
                <div id="spark4" style="float: right;">
                    <div id="sparkChart" class="chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 pl-1">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title">Opportunity Missed </h4>
                        <h5 class="card-subtitle"> <span class="small_font">{{currency}}</span> 450,000</h5>
                    </div>
                </div>
                <div id="spark5" style="float: right;">
                    <div id="sparkChart1" class="chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<section style="margin-top:-15px">
  <div class="row list_btns_cust mt-3 mb-2">
    <div class="col-6 pb-2">
      <mat-button-toggle-group appearance="legacy"  name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold" class="border-right">All</mat-button-toggle>
        <mat-button-toggle value="italic">Favorite</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="col-6 pb-2">
      <mat-button-toggle-group appearance="legacy" class="float-right" name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="bold" class="border-right" [routerLink]="['/prospect/potential']">Add</mat-button-toggle>
<!--        <mat-button-toggle value="bold" class="border-right">List</mat-button-toggle>-->
<!--        <mat-button-toggle value="italic" class="border-right">Card</mat-button-toggle>-->
<!--        <mat-button-toggle value="underline">Map</mat-button-toggle>-->
      </mat-button-toggle-group>
    </div>
  </div>
</section>
<div class="row">
    <div class="w-100">
        <div class="col-12">
            <div class="card p-2 mr-2">
                <div class="row">
                    <!---------------- Risk Profile Filter  ------------------>
                    <div class="col-md-3 col-sm-4 col-6">
                        <h5>Type</h5>
                        <div class="d-flex">
                            <div class="custom-control custom-checkbox mb-0 pr-2 w-50">
                                <input type="checkbox" class="custom-control-input" id="customCheck" [(ngModel)]="filter.prospect" (ngModelChange)="Custfilter()">
                                <label class="custom-control-label" for="customCheck">Prospect</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-0 w-50">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" [(ngModel)]="filter.new" (ngModelChange)="Custfilter()">
                                <label class="custom-control-label" for="customCheck1">Client</label>
                            </div>
                        </div>
                    </div>
                    <!---------------- Risk Profile Filter  End ------------------>
                    <div class="col-md-3 col-sm-4 col-6">
                        <h5>Target Investment</h5>
                        <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options" (mouseup)="Custfilter()" ></ng5-slider>
                    </div>

                    <div class="col-md-3 col-sm-4 col-6">
                        <h5>Opportunity</h5>
                        <ng-multiselect-dropdown
                                [placeholder]="'Opportunity'"
                                [data]="opportunityList"
                                [(ngModel)]="opportunityItems"
                                [settings]="opportunitySettings"
                                (onSelect)="onItemSelect($event)"
                                (onDeSelect)="onItemDeSelect($event)"
                        >
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <h5>Stage</h5>
                        <ng-multiselect-dropdown
                                [placeholder]="'Stage'"
                                [data]="stageList"
                                [(ngModel)]="stageItems"
                                [settings]="stageSettings"
                                (onSelect)="onItemSelect($event)"
                                (onDeSelect)="onItemDeSelect($event)"
                        >
                        </ng-multiselect-dropdown>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 pr-1  mr-2">
        <div class="row mb-3 mr-2 ml-3">
            <div class="col-md-4 user_card" *ngFor="let potential of result" >
                <div class="card d-flex flex-row border rounded">
                    <div class="fav_set" (click)="Custfilter()" >
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="p-0 w-35 align-self-center text-center" >
                        <img src="assets/images/users/1.jpg" class="user_img" (click)="onNavigate()" />
                        <div class="d-flex p-2">
                            <div class="ic_media mt-3">
                                <a class="icon facebook">
                                </a>
                                <a class="icon twitter">
                                </a>
                                <a class="icon github">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pl-2 pt-2 pr-2 pb-2 w-65 border-left" >
                        <h5>{{potential.Prospect_Name}}</h5>
                        <ul class="m-0 float-left address_book" style="list-style: none; margin:0; padding: 0">
                            <li><i class="fas fa-address-book pr-1"></i> {{potential.Opportunity_Name}}</li>
                            <li><i class="fas fa-envelope pr-1"></i> {{potential.Oppurtunity}}</li>
                            <li><i class="fas fa-phone-alt pr-1"></i> {{potential.Investment_Product_Name}}</li>
                            <li><i class="fas fa-users"></i> {{potential.Target_Investment}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

