<div class="row cus_mgd">
  <!-- Column -->
  <div class="col-lg-3 col-md-6 cust_ove_bx pr-1">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div>
            <h4 class="card-title mb_20">Customers Managed</h4>
            <h5 class="card-subtitle lit_numb_txt">89</h5>
          </div>
        </div>
        <div id="spark4" style="float: right;margin-top:-30px">
          <div id="sparkChart" class="chart"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6 cust_ove_bx px-1">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div>
            <h4 class="card-title mb_20">Customers Lost</h4>
            <h5 class="card-subtitle lit_numb_txt">49</h5>
          </div>
        </div>
        <div id="spark5" style="float: right;margin-top:-30px">
          <div id="sparkChart1" class="chart"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6 px-1">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div>
            <h4 class="card-title">Assets Under Management</h4>
            <h6 class="card-subtitle color_03 mb-2"><span class="small_font">{{currency}} </span> <span class="font_20">225,000,000</span></h6>
          </div>
        </div>
        <div id="spark6" style="float: right;">
          <div id="sparkAreaChart" class="chart"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6 pl-1">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div>
            <h4 class="card-title">Income</h4>
            <h6 class="card-subtitle color_03 mb-2"><span class="small_font">{{currency}} </span> <span class="font_20">1,434,875</span></h6>
          </div>

        </div>
        <div id="spark7" style="float: right;">
          <div id="sparkAreaChart1" class="chart"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>
<div class="row m-0 opac_box">
  <!-- Column -->
  <div class="w_20 p-1 pl-0">
    <div class="card" (click)="keyAttribute(content4, 'outperformer')">
      <div class="card-body">
        <h4 class="card-title">Outperformers</h4>
        <div class="row">
          <div class="col-5 align-self-center">
            <h4 class="font-light mb-0 mt-1 font_26 text-success">{{topBand2.outperformer.count}}</h4>
          </div>
          <div class="col-7 p-0">
            <table>
              <tr>
                <td class="font_26 text-success">
                  {{topBand2.outperformer.value}}
                </td>
                <td>
                  <sup class="top_0"><i class="ti-arrow-up text-success font_20"></i></sup>
                </td>
                <td>
                  <span class="text-muted font_12">Last <br> Month</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="text-left mt-1 text-success">
          <span class="small_font">{{currency}} </span> <span class="font_16">{{topBand2.outperformer.amount}}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <div class="w_20 p-1">
    <div class="card" (click)="keyAttribute(content4, 'underperformer')">
      <div class="card-body">
        <h4 class="card-title">Underperformers</h4>
        <div class="row">
          <div class="col-5 align-self-center">
            <h4 class="font-light mb-0 mt-1 font_26 text-success">{{topBand2.underperformer.count}}</h4>
          </div>
          <div class="col-7 p-0">
            <table>
              <tr>
                <td class="font_26 text-success">
                  {{topBand2.underperformer.value}}
                </td>
                <td>
                  <sup class="top_0"><i class="ti-arrow-up text-success font_20"></i></sup>
                </td>
                <td>
                  <span class="text-muted font_12">Last <br> Month</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="text-left mt-1 text-success">
          <span class="small_font">{{currency}} </span> <span class="font_16">{{topBand2.underperformer.amount}}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <div class="w_20 p-1">
    <div class="card" (click)="keyAttribute(content4, 'dormant')">
      <div class="card-body">
        <h4 class="card-title">Dormant</h4>
        <div class="row">
          <div class="col-5 align-self-center">
            <h4 class="font-light mb-0 mt-1 font_26 text-success">{{topBand2.dormant.count}}</h4>
          </div>
          <div class="col-7 p-0">
            <table>
              <tr>
                <td class="font_26 text-success">
                  {{topBand2.dormant.value}}
                </td>
                <td>
                  <sup class="top_0"><i class="ti-arrow-up text-success font_20"></i></sup>
                </td>
                <td>
                  <span class="text-muted font_12">Last <br> Month</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="text-left mt-1 text-success">
          <span class="small_font">{{currency}} </span> <span class="font_16">{{topBand2.dormant.amount}}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <div class="w_20 p-1">
    <div class="card" (click)="keyAttribute(content4, 'larger_withdrawl')">
      <div class="card-body">
        <h4 class="card-title">Large Withdrawal</h4>
        <div class="row">
          <div class="col-5 align-self-center">
            <h4 class="font-light mb-0 mt-1 font_26 text-success">{{topBand2.large_withdrawal.count}}</h4>
          </div>
          <div class="col-7 p-0">
            <table>
              <tr>
                <td class="font_26 text-success">
                  {{topBand2.large_withdrawal.value}}
                </td>
                <td>
                  <sup class="top_0"><i class="ti-arrow-up text-success font_20"></i></sup>
                </td>
                <td>
                  <span class="text-muted font_12">Last <br> Month</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="text-left mt-1 text-success">
          <span class="small_font">{{currency}} </span> <span class="font_16">{{topBand2.large_withdrawal.amount}}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <div class="w_20 p-1 pr-0">
    <div class="card" (click)="keyAttribute(content4, 'recent_contribution')">
      <div class="card-body">
        <h4 class="card-title text-info">Recent Contribution</h4>
        <div class="row">
          <div class="col-5 align-self-center">
            <h4 class="font-light mb-0 mt-1 font_26 text-success">{{topBand2.recent_contribution.count}}</h4>
          </div>
          <div class="col-7 p-0">
            <table>
              <tr>
                <td class="font_26 text-success">
                  {{topBand2.recent_contribution.value}}
                </td>
                <td>
                  <sup class="top_0"><i class="ti-arrow-up text-success font_20"></i></sup>
                </td>
                <td>
                  <span class="text-muted font_12">Last <br> Month</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="text-left mt-1 text-success">
          <span class="small_font">{{currency}} </span> <span class="font_16">{{topBand2.recent_contribution.amount}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row new_top_cus">
  <div class="col-12">
    <div class="float-right w_30px">
      <select class="form-control custom-_select_new" (change)="fnUserCardChange($event.target.value)">
        <option value="Revenue">Revenue</option>
        <option value="AUM">AUM</option>
      </select>
    </div>
  </div>
  <div class="col-md-4 user_card" *ngFor="let user of userData;  let i=index">
    <div *ngIf="i<3">
      <div class="card d-flex flex-row border rounded">
        <div class="row m-0">
          <div class="col-3 p-0 w-35 align-self-center text-center">
            <img src="assets/images/users/1.jpg" class="user_img" width="50px" />
          </div>
          <div class="col-9 pl-2 pt-2 pr-2 pb-2 w-65">
            <h5>{{user.clientName}}<span class="float-right cursor_pointer"  data-toggle="modal" data-target="#card_modal"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span></h5>
            <h6>{{user.familyName}}</h6>
            <table>
              <tr>
                <td>{{currency}} {{user.revenue | number}}</td>
                <td class="text-right">
                  <div class="btn btn-primary inner_btn w_85px cursor_unset">{{user.riskProfile}}</div>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-12">
            <table class="rev_table">
              <tr>
                <td>
                  <b>{{user.revenueRanking}}</b>
                  <br> Revenue Ranking
                </td>
                <td>
                  <b>{{user.portfolioReturn}}</b>
                  <br> Portfolio Returns
                </td>
              </tr>

              <tr>
                <td>
                  <b> {{currency}} {{user.AUM | number}} </b>
                  <br> AUM
                </td>
                <td>
                  <b>{{user.aumRanking}}</b>
                  <br> Ranking
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="btn-btn-warning float-right">
      <button type="button" class="btn btn-warning mb-2" style="margin-top:-15px" (click)="openUser(content5)">
        More
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-7 pr-1 align-self-center">
    <div class="card mb_20">
      <div class="card-body">
        <h4 class="card-title"><span class="lstick"></span> Relationship Trends</h4>
        <div id="stackedChart" class="chart"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-5 pl-1 pr-3 align-self-center">
    <div class="card mb_20">
      <div class="card-boy">
        <h4 class="card-title pl_10 pt_10"><span class="lstick"></span> Demographic</h4>
        <select class="dropdown float-right cus_select" (change)="demographicChange($event.target.value)">
          <option value="1">Occupation</option>
          <option value="2">Location</option>
          <option value="3">Networth</option>
          <option value="4">Income</option>
          <option value="5">Category</option>
        </select>
        <div id="demograpchart" class="chart das_first_ch"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-5 pr-2">
    <div class="card mb_20">
      <div class="card-body">
        <h4 class="card-title"><span class="lstick"></span> Sentiment Analysis</h4>
        <ul class="product-review pl-0 mt-2">
          <li class="mt-2">
            <table>
              <tr>
                <td>
                  <i class="mdi mdi-emoticon-cool font_26"></i>
                </td>
                <td>
                  <table>
                    <tr>
                      <td class="pb-2" colspan="6" (click)="openLg(content3, 'positive')">
                        <b>Positive</b>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-success font_16">
                        28 Customers
                      </td>
                      <td class="text-success font_16">
                        <b>{{analysisData[0].Increase}}</b>
                      </td>
                      <td>
                        <sup class="top_0"><i class="ti-arrow-up text-success font_13"></i></sup>
                      </td>
                      <td>
                        <span class="font_12">Last Month</span>
                      </td>
                      <td class="text-success font_16">{{analysisData[0].percentage}}%</td>
                      <td class="text-success"><span class="small_font">{{currency}}</span><span class="font_16"> {{analysisData[0].AUM | number}}</span></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" [ngStyle]="positiveStyles" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </li>
          <li class="mt-4">
            <table>
              <tr>
                <td>
                  <i class="mdi mdi-emoticon-cool font_26"></i>
                </td>
                <td>
                  <table>
                    <tr>
                      <td class="pb-2" colspan="6" (click)="openLg(content3, 'negative')">
                        <b>Negative</b>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-warning font_16">
                        28 Customers
                      </td>
                      <td class="text-warning font_16">
                        <b>{{analysisData[1].Increase}}</b>
                      </td>
                      <td>
                        <sup class="top_0"><i class="ti-arrow-up text-warning font_13"></i></sup>
                      </td>
                      <td>
                        <span class="font_12">Last Month</span>
                      </td>
                      <td class="text-warning font_16">{{analysisData[1].percentage}}%</td>
                      <td class="text-warning"><span class="small_font">{{currency}}</span><span class="font_16"> {{analysisData[1].AUM | number}}</span></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="negativeStyles" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </li>
          <li class="mt-4 mb-4">
            <table>
              <tr>
                <td>
                  <i class="mdi mdi-emoticon-cool font_26"></i>
                </td>
                <td>
                  <table>
                    <tr>
                      <td class="pb-2" colspan="6" (click)="openLg(content3, 'neutral')">
                        <b>Neutral</b>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-primary font_16">
                        28 Customers
                      </td>
                      <td class="text-primary font_16">
                        <b>{{analysisData[2].Increase}}</b>
                      </td>
                      <td>
                        <sup class="top_0"><i class="ti-arrow-up text-primary font_13"></i></sup>
                      </td>
                      <td>
                        <span class="font_12">Last Month</span>
                      </td>
                      <td class="text-primary font_16">{{analysisData[2].percentage}}%</td>
                      <td class="text-primary"><span class="small_font">{{currency}}</span><span class="font_16"> {{analysisData[2].AUM | number}}</span></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" [ngStyle]="neutralStyles" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-7 px-0">
    <div class="row row_chart">
      <div class="col-12 pl-0">
        <h4 class="card-title"><span class="lstick"></span> Held Away Investments</h4>
      </div>
      <div class="col-8 border-right">
        <div>
          <div id="gradientChart" class="chart"></div>
        </div>
      </div>
      <div class="col-4">
        <div class="row pt-1">
          <div class="col-6 align-self-center">
            <span class="font_20 text-danger">58 <i class="ti-angle-down font-14 text-danger"></i></span>
          </div>
          <div class="col-6 px-1 align-self-center text-right p-l-0">
            <div id="sparkChart2" class="chart"></div>
          </div>
          <h6 class="col-12 px-2 font-10 opacity_05  mb-0 pt-2 pb-1">Low Held Away Investments</h6>
        </div>
        <hr>
        <div class="row mt-3">
          <div class="col-6 align-self-center">
            <span class="font_20 text-success">31<i class="ti-angle-down font-14 text-success"></i></span>
          </div>
          <div class="col-6 px-1 align-self-center text-right  p-l-0">
            <div id="sparkChart3" class="chart"></div>
          </div>
          <h6 class="col-12 px-2 font-10 opacity_05  mb-0 pt-2 pb-1">High Held Away Investments</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-12">
  </div>
  <div class="col-5 pr-1">
    <div class="card mb_20">
      <div class="card-body">
        <h4 class="card-title"> <span class="lstick"></span> Risk Profile Distribution</h4>
        <div id="riskChart" class="chart my-5"></div>
      </div>
    </div>
  </div>
  <div class="col-7 pl-1">
    <div class="card mb_20" style="height:410px">
      <div class="card-body">
        <h4 class="card-title"> <span class="lstick"></span> Asset Allocation Pattern</h4>
        <div class="linearea" style="height: 400px">
          <select class="dropdown float-right cus_select" (change)="bubbleSelect($event.target.value)">
            <option value="equity">Equity</option>
            <option value="fixedIncome">Fixed Income</option>
            <option value="alternate">Alternate</option>
            <option value="cash">Cash</option>
          </select>
          <br>
          <div id="Bubblechart" class="chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--card modal start-->
<div class="modal" id="card_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><span class="lstick"></span> Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<ng-template #content3 let-modal>
  <div class="modal-header">
    <h4 class="modal-title"> <i class="mdi mdi-emoticon-cool font_26"></i> {{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered mb-0 no-wrap">
        <thead>
        <!--                <tr [ngStyle]="bgColor">-->
        <tr>
          <th>Client Name</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>Risk Profile</th>
          <th>AUM</th>
          <th>Revenue</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let happy of analysisTable">
          <td>{{happy.Client_Name}}
            <br><small style="color: gray;">{{happy.Family_Name}}</small></td>
          <td>
            {{happy.Mobile}}
          </td>
          <td>
            {{happy.Email}}
          </td>
          <td>{{happy.Risk_Profile}}</td>
          <td>{{happy.Asset_Under_Management}}</td>
          <td>{{happy.Revenue | number}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #content4 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">  {{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered mb-0 no-wrap">
        <thead>
        <!--                <tr [ngStyle]="bgColor">-->
        <tr>
          <th>Client Name</th>
          <th>AUM</th>
          <th>Revenue</th>
          <th>Sentiment</th>
          <th>Last Interaction</th>
          <th>Dormancy</th>
          <th>Portfolio Return</th>
          <th>Benchmark Return</th>
          <th>Outperformance </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let attr of attributeValue">
          <td>{{attr.Client_Name}}
            <br><small>{{attr.Family_Name}}</small></td>
          <td>
            {{attr.Asset_Under_Management}}
          </td>
          <td>
            {{attr.Revenue}}
          </td>
          <td>{{attr.Portfolio_Return}}</td>
          <td>{{attr.Benchmark_Return}}</td>
          <td>{{attr.Outperformance}}</td>
          <td>{{attr.Dormancy}}</td>
          <td>{{attr.Capital_Flow}}</td>
          <td>{{attr.Proportion}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #content5 let-modal>
  <div class="modal-header">
    <h4 class="modal-title"> <i class="mdi mdi-emoticon-cool font_26"></i> Top Customers</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row m-0">
      <div class="col-md-4 user_card" *ngFor="let user of allUserData">

        <div class="card mb_20 d-flex flex-row border rounded">
          <div class="row m-0">
            <div class="col-3 p-0 w-35 align-self-center text-center">
              <img src="assets/images/users/1.jpg" class="user_img" width="50px" />
            </div>
            <div class="col-9 pl-2 pt-2 pr-2 pb-2 w-65">
              <h5>{{user.clientName}}<span class="float-right cursor_pointer"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span></h5>
              <h6>{{user.familyName}}</h6>
              <table>
                <tr>
                  <td>{{currency}} {{user.revenue | number}}</td>
                  <td class="text-right">
                    <div class="btn btn-primary inner_btn w_85px cursor_unset">{{user.riskProfile}}</div>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-12">
              <table class="rev_table">
                <tr>
                  <td>
                    <b>{{user.revenueRanking}}</b>
                    <br> Revenue Ranking
                  </td>
                  <td>
                    <b>{{user.portfolioReturn}}</b>
                    <br> Portfolio Returns
                  </td>
                </tr>
                <tr>
                  <td>
                    <b> {{currency}} {{user.AUM | number}} </b>
                    <br> AUM
                  </td>
                  <td>
                    <b>{{user.aumRanking}}</b>
                    <br> Ranking
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
