<div class="card-body">
    <div class="row p-t-20">
        <div class="col-md-3">
            <label class="control-label">RM</label>
            <select class="form-control custom-select">
                <option value="">-Select-</option>
            </select>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Type</label>
                <select class="form-control custom-select">
                    <option value="">-Select-</option>
                    <option value="Client">Client</option>
                    <option value="Prospect">Prospect</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Subject</label>
                <input class="form-control form-control-danger" id="subject" placeholder="Subject" type="text">
            </div>
        </div>
    </div>
    <hr>
    <h5 class="p-t-10">Next Activity</h5>
    <div class="row p-t-10">
        <div class="col-md-3">
            <div class="form-group">
                <mat-slide-toggle  >

                </mat-slide-toggle>
            </div>
        </div>
    </div>
    <div class="row p-t-10">
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <label class="control-label">Due Date</label>

            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">from</label>
                <input class="form-control" type="date">

            </div>
        </div>
        <div class="col-md-3" *ngIf="timeHide">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <input placeholder="24hr format" aria-label="24hr format" [ngxTimepicker]="fromTime" [format]="24" class="form-control" readonly>
                <ngx-material-timepicker #fromTime></ngx-material-timepicker>


            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">To</label>
                <input class="form-control" type="date">

            </div>
        </div>
        <div class="col-md-3" *ngIf="timeHide">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <input placeholder="24hr format" aria-label="24hr format" [ngxTimepicker]="toTime" [format]="24" class="form-control" readonly>
                <ngx-material-timepicker #toTime></ngx-material-timepicker>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input"  id="customCheck1"
                    type="checkbox" >
                <label class="custom-control-label" for="customCheck1">ALL Day</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Status</label>
                <select class="form-control custom-select">
                    <option value="">-Select-</option>
                    <option value="Complete">Complete</option>
                    <option value="Pending">Pending</option>
                    <option value="Deffered">Deffered</option>
                    <option value="'Waiting For Input'">Waiting For Input</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <label class="control-label">Description</label>
                <textarea class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" *ngIf="frequency">
            <div class="form-group">
                <select class="form-control custom-select">
                    <option value="Daily">Daily</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Quaterly">Quaterly</option>
                    <option value="Annualy">Annualy</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row p-t-10 pb_50">
        <div class="col-md-3">
            <button class="btn btn-primary">Save</button>
        </div>
    </div>
</div>
