
<div class="row txion_box">
  <div class="col-lg-3 pr-1">
    <div class="card orange_grad mb_10">
      <div class="card-body">
        <div class="d-flex">
          <div class="m-r-10 align-self-center first_bx">
            <div class="box_img first_bx">
              <i class="fas fa-coins"></i>
            </div>
          </div>
          <div class="align-self-center second_bx">
            <h6 class="text-white m-t-10 m-b-0">Buy Transaction</h6>
            <h4>115</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 pl-1 pr-1">
    <div class="card pink_grad mb_10">
      <div class="card-body">
        <div class="d-flex">
          <div class="m-r-10 align-self-center first_bx">
            <div class="box_img first_bx">
              <i class="fas fa-coins"></i>
            </div>
          </div>
          <div class="align-self-center second_bx">
            <h6 class="text-white m-t-10 m-b-0">Sell Transaction</h6>
            <h4>14</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 pl-1 pr-1">
    <div class="card green_grad mb_10">
      <div class="card-body">
        <div class="d-flex">
          <div class="m-r-10 align-self-center first_bx">
            <div class="box_img first_bx">
              <i class="fas fa-coins"></i>
            </div>
          </div>
          <div class="align-self-center second_bx">
            <h6 class="text-white m-t-10 m-b-0">Buy Value</h6>
            <h4>194,806</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 pl-1">
    <div class="card blue_grad mb_10">
      <div class="card-body">
        <div class="d-flex">
          <div class="m-r-10 align-self-center first_bx">
            <div class="box_img first_bx">
              <i class="fas fa-coins"></i>
            </div>
          </div>
          <div class="align-self-center second_bx">
            <h6 class="text-white m-t-10 m-b-0">Sell value</h6>
            <h4>98,889</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="row">
  <div class="col-6 pr-1">
    <div class="card mb_10">
      <div class="card-body">
        <h4><span class="lstick pt-1"></span> Investment Activity </h4>
        <table class="txion_table table">
          <tr class="border-bottom">
            <th>Product Name</th>
            <th>Buy Value</th>
            <th>Sell Value</th>
            <th>Net Amount</th>
          </tr>
          <tr class="border-bottom text-info">
            <td>Equity</td>
            <td>551.03 </td>
            <td>182.87</td>
            <td>368.16</td>
          </tr>
          <tr>
            <td>Direct Equity</td>
            <td>243.55</td>
            <td>182.87</td>
            <td>60.69</td>
          </tr>
          <tr>
            <td>Equity Mutual Fund</td>
            <td>330</td>
            <td></td>
            <td>307.48</td>
          </tr>
          <tr class="border-bottom text-info">
            <td>Debt</td>
            <td>330</td>
            <td>223.02</td>
            <td>368.16</td>
          </tr>
          <tr>
            <td>Debt Mutual Fund</td>
            <td>330</td>
            <td>223.02</td>
            <td>106.98</td>
          </tr>
          <tr class="border-bottom text-info">
            <td>Cash</td>
            <td>551.03 </td>
            <td>182.87</td>
            <td>368.16</td>
          </tr>
          <tr>
            <td>Cash Mutual Fund</td>
            <td>551.03 </td>
            <td>182.87</td>
            <td>368.16</td>
          </tr>
          <tr class="border-bottom text-info">
            <td>Alternates</td>
            <td>551.03 </td>
            <td>182.87</td>
            <td>368.16</td>
          </tr>
          <tr>
            <td>Alternates</td>
            <td>551.03 </td>
            <td>182.87</td>
            <td>368.16</td>
          </tr>
          <tr>
            <td>Alternates Mutual Fund</td>
            <td>551.03 </td>
            <td>182.87</td>
            <td>368.16</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>994.24</td>
            <td>542.79</td>
            <td>451.46</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-6 pl-1">
    <div class="card mb_10">
      <div class="card-body">
        <div id="chart" class="chart"></div>
      </div>
    </div>
  </div>
</div>-->

<div class="row">
  <div class="col-12">
    <div id="accordion" class="myaccordion">
      <div class="card mb_10" *ngFor="let trans of transaction; let i=index" >
        <div class="card-header" [id]="'heading'+i">
          <div class="row">
            <div class="col-11">
              <table class="table">
                <tr>
                  <td>
                    <img src="assets/images/users/profile.png" class="radius_img" width="50px" alt="">
                  </td>
                  <td>
                    <h4>{{trans.Instrument_Name}}</h4>
                    <p>{{trans.Asset_Class}} | {{trans.Code}}</p>
                  </td>
                  <td>
                    <div class="btn btn-success inner_btn">
                      Buy
                    </div>
                  </td>
                  <td>
                    Net Trade Value <br>
                    {{currency}} {{trans.Net_Traded_value}}
                  </td>
                  <td>
                    Quantity <br>
                    {{trans.Qualtity}}
                  </td>
                  <td>
                    Price<br>
                    {{currency}} {{trans.Price}}
                  </td>
                  <td>
                    Yield <br>
                    ...
                  </td>
                  <td>
                    Accrued Interest <br>
                    100
                  </td>
                  <td>
                    Charges <br>
                    {{trans.Charges}}
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-1">
              <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse"   [attr.data-target]="'#collapse'+i" aria-expanded="true" (click)="transValue(trans.Order_ID)" >
<!--                <span class="fa-stack fa-2x">-->
<!--                  <i class="fas fa-circle fa-stack-2x"></i>-->
<!--                  <i class="fas fa-plus fa-stack-2x"></i>-->
<!--                </span>-->
                <img src="assets/images/my/plus.png" alt="" width="30px">
              </button>
            </div>
          </div>
        </div>
        <div [id]="'collapse'+i" class="collapse" [attr.aria-labelledby]="'heading'+i" data-parent="#accordion">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <table class="table">
                  <tr *ngFor="let acc of accordValue">
                    <td>
                      Broker <br>
                      {{acc.Broker}}
                    </td>
                    <td>Counterparty
                      <br> --</td>
                    <td>
                      Exchange <br>
                      {{acc.Exchange}}
                    </td>
                    <td>
                      Trade Date <br>
                      {{acc.Transaction_Date}}
                    </td>
                    <td>
                      Settlement Date <br>
                      {{acc.Settlement_Date}}
                    </td>
                    <td>
                      Quantity <br>
                      {{acc.Qualtity}}
                    </td>
                    <td>
                      Price <br>
                      {{currency}} {{acc.Price}}
                    </td>
                    <td>
                      Yield <br>
                      --
                    </td>
                    <td>
                      Accrued Interest <br>
                      --
                    </td>
                    <td>
                      Charges <br>
                      {{acc.Charges}}
                    </td>
                    <td>
                      <i class="fa fa-download" aria-hidden="true"></i>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="card mb_10">
        <div class="card-header" id="headingThree">
          <div class="row">
            <div class="col-11">
              <table class="table">
                <tr>
                  <td>
                    <img src="assets/images/users/profile.png" class="radius_img" width="50px" alt="">
                  </td>
                  <td>
                    <h4>Banco De Oro</h4>
                    <p>Equity BDO</p>
                  </td>
                  <td>
                    <div class="btn btn-danger inner_btn">
                      Sell
                    </div>
                  </td>
                  <td>
                    Net Trade Value <br>
                    {{currency}} 60,000
                  </td>
                  <td>
                    Quantity <br>
                    1000
                  </td>
                  <td>
                    Price<br>
                    {{currency}} 60
                  </td>
                  <td>
                    Yield <br>
                    ...
                  </td>
                  <td>
                    Accrued Interest <br>
                    100
                  </td>
                  <td>
                    Charges <br>
                    800
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-1">
              <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
&lt;!&ndash;          <span class="fa-stack fa-2x">&ndash;&gt;
&lt;!&ndash;            <i class="fas fa-circle fa-stack-2x"></i>&ndash;&gt;
&lt;!&ndash;            <i class="fas fa-plus fa-stack-1x fa-inverse"></i>&ndash;&gt;
&lt;!&ndash;          </span>&ndash;&gt;
                <img src="assets/images/my/plus.png" alt="" width="30px">

              </button>
            </div>
          </div>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <table class="table">
                  <tr>
                    <td>
                      Broker <br>
                      Julius Bear
                    </td>
                    <td>Counterparty
                      <br> &#45;&#45;</td>
                    <td>
                      Exchange <br>
                      PSE
                    </td>
                    <td>
                      Trade Date <br>
                      10-08-2018
                    </td>
                    <td>
                      Settlement Date <br>
                      10-08-2018
                    </td>
                    <td>
                      Quantity <br>
                      500
                    </td>
                    <td>
                      Price <br>
                      {{currency}} 100
                    </td>
                    <td>
                      Yield <br>
                      &#45;&#45;
                    </td>
                    <td>
                      Accrued Interest <br>
                      &#45;&#45;
                    </td>
                    <td>
                      Charges <br>
                      800
                    </td>
                    <td>
                      <i class="fa fa-download" aria-hidden="true"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Broker <br>
                      Julius Bear
                    </td>
                    <td>Counterparty
                      <br> &#45;&#45;</td>
                    <td>
                      Exchange <br>
                      PSE
                    </td>
                    <td>
                      Trade Date <br>
                      10-08-2018
                    </td>
                    <td>
                      Settlement Date <br>
                      10-08-2018
                    </td>
                    <td>
                      Quantity <br>
                      500
                    </td>
                    <td>
                      Price <br>
                      {{currency}} 100
                    </td>
                    <td>
                      Yield <br>
                      &#45;&#45;
                    </td>
                    <td>
                      Accrued Interest <br>
                      &#45;&#45;
                    </td>
                    <td>
                      Charges <br>
                      800
                    </td>
                    <td>
                      <i class="fa fa-download" aria-hidden="true"></i>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>

<!--<div class="row mb-4">
  <div class="col-12">
    <div class="card mb_10">
      <div class="card-body">
        <h4><span class="lstick pt-1"></span> Your Performance </h4>
        <div class="d-flex">
          <div class="show_tx">
            <div class="btn btn-warning mb-2"> Month </div>
            <div class="btn btn-warning mb-2"> Quarter </div>
            <div class="btn btn-warning mb-2"> Year </div>
            <div class="btn btn-warning mb-2"> Inception </div>
            <br><p>Showing Transaction for a Week</p>
          </div>
          <div class="tx_rit">
            <div class="btn btn-success mb-2 ml-3 mr-2"> Receipt  </div>
            <div class="btn btn-danger mb-2"> Payment  </div>
            <br> <p class="ml-3">Showing all </p>
          </div>
        </div>
        <h4 class="mt-3 mb-2">John Doe Advisory Portfolio</h4>
        <table class="table">
          <tr class="border-top border-bottom">
            <td>
              Bank Name <br>
              ADCB
            </td>
            <td>
              Account Number <br>
              INGH7839990
            </td>
            <td>
              Date <br>
              10-08-2018
            </td>
            <td>
              Transaction Type <br>
              Equity Purchase
            </td>
            <td>
              Receipt <br>
              &#45;&#45;
            </td>
            <td>
              Payment <br>
              {{currency}} 75,000
            </td>
            <td>
              Amount <br>
              {{currency}} 75,000
            </td>
          </tr>
          <tr class="border-top border-bottom">
            <td>
              Bank Name <br>
              ADCB
            </td>
            <td>
              Account Number <br>
              INGH7839990
            </td>
            <td>
              Date <br>
              10-08-2018
            </td>
            <td>
              Transaction Type <br>
              Equity Purchase
            </td>
            <td>
              Receipt <br>
              &#45;&#45;
            </td>
            <td>
              Payment <br>
              {{currency}} 75,000
            </td>
            <td>
              Amount <br>
              {{currency}} 75,000
            </td>
          </tr>
          <tr class="border-top border-bottom">
            <td>
              Bank Name <br>
              ADCB
            </td>
            <td>
              Account Number <br>
              INGH7839990
            </td>
            <td>
              Date <br>
              10-08-2018
            </td>
            <td>
              Transaction Type <br>
              Equity Purchase
            </td>
            <td>
              Receipt <br>
              &#45;&#45;
            </td>
            <td>
              Payment <br>
              {{currency}} 75,000
            </td>
            <td>
              Amount <br>
              {{currency}} 75,000
            </td>
          </tr>
          <tr class="border-top border-bottom">
            <td>
              Bank Name <br>
              ADCB
            </td>
            <td>
              Account Number <br>
              INGH7839990
            </td>
            <td>
              Date <br>
              10-08-2018
            </td>
            <td>
              Transaction Type <br>
              Equity Purchase
            </td>
            <td>
              Receipt <br>
              &#45;&#45;
            </td>
            <td>
              Payment <br>
              {{currency}} 75,000
            </td>
            <td>
              Amount <br>
              {{currency}} 75,000
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>-->

