<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-info text-center">
                                <h1 class="font-light text-white">{{ tickets.length }}</h1>
                                <h6 class="text-white">Total Tickets</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-warning text-center">
                                <h1 class="font-light text-white">3</h1>
                                <h6 class="text-white">In Progress</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-success text-center">
                                <h1 class="font-light text-white">4</h1>
                                <h6 class="text-white">Open</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-danger text-center">
                                <h1 class="font-light text-white">3</h1>
                                <h6 class="text-white">Closed</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <div class="row mb-4">
                    <div class="col-md-6 col-lg-3">
                        <input type="text" class="form-control form-control-lg" name="search" [(ngModel)]="searchText"
                            autocomplete="off" placeholder="Search here...">
                    </div>
                    <div class="col-md-6 col-lg-9 text-md-right mt-4 mt-md-0">
                        <!--<button class="btn btn-lg btn-info text-white" (click)="open(addTaskModal)">-->
                            <button class="btn btn-lg btn-info text-white" [routerLink]="['/prospect/ticket']" >
                            <i class="fa fa-plus-square mr-2"></i>Add Ticket</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered mb-0 no-wrap">
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Type</th>
                                <th>Area</th>
                                <th>Subject</th>
                                <th>Assigned To</th>
                                <th>Priority</th>
                                <th>Status</th>
                                <th>Action Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ticket of tickets | filter:searchText; let i = index">
                                <td>{{ ticket.customerName }}</td>
                                <td>
                                    <span class="label label-{{ ticket.labelbgType }}">{{ ticket.type }}</span>
                                <td>{{ ticket.area }}</td>
                                <td>{{ ticket.subject }}</td>
                                <td>{{ ticket.assignedTo }}</td>
                                <td>{{ ticket.priority }}</td>
                                <td>
                                    <span class="label label-{{ ticket.labelbgStatus }}">{{ ticket.status }}</span>
                                </td>
                                <td>{{ ticket.actionDate }}</td>
                                <td>
                                    <a class="link mr-2" placement="top" ngbTooltip="Edit">
                                        <i class="mdi mdi-pencil"></i>
                                    </a>
                                    <a href="javascript: void(0);" class="link" (click)="tickets.splice(i, 1)"
                                        placement="top" ngbTooltip="Delete">
                                        <i class="mdi mdi-delete"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #addTaskModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Task</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #taskForm="ngForm">
            <div class="form-group">
                <label for="id">ID</label>
                <input type="number" class="form-control" required id="id" name="id" [(ngModel)]="id">
            </div>
            <div class="form-group">
                <label for="creator">Created By</label>
                <input type="text" class="form-control" required id="creator" name="creator" [(ngModel)]="creator">
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" required id="title" name="title" [(ngModel)]="title">
            </div>
            <div class="form-group">
                <label for="title">Assignee</label>
                <input type="text" class="form-control" required id="assignee" name="assignee" [(ngModel)]="assignee">
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select class="custom-select" required id="status" name="status" [(ngModel)]="status"
                    (ngModelChange)="toggleLabelbg()">
                    <option value="In Progress">In Progress</option>
                    <option value="Pending">Pending</option>
                    <option value="Closed">Closed</option>
                </select>
            </div>
            <div class="form-group">
                <label for="product">Product</label>
                <input type="text" class="form-control" required id="product" name="product" [(ngModel)]="product">
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class="form-control" required id="date" name="date" [(ngModel)]="date">
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="!taskForm.form.valid"
                    (click)="addTask(); toggleLabelbg(); modal.dismiss('Cross click');" class="btn btn-outline-dark">Add
                    Task</button>
            </div>
        </form>
    </div>
</ng-template>
