<div class="row">
    <!-- Column -->
  <div class="col-12">
    <div class="card mb_10">
      <div class="card-body">
        <h4 class="mb-0">{{portfolioData.clientName}} <div *ngIf="portfolioData.goal" class="btn btn-warning">{{portfolioData.goal}}</div>
          <div class="float-right">
            <select class="cus_select" name="" id="" (change)="fnChangeProspect($event.target.value)">
              <option  *ngFor="let protfolioId of selectedCustomer" [value]="protfolioId.portfolioCode">{{protfolioId.portfolioName}}</option>
            </select>
          </div>
        </h4>
        <p class="pb-1">MSCI World Equity Index</p>
      </div>
    </div>
  </div>
    <div class="col-lg-4 pr-1 pb-1">
        <div class="card">
            <div class="card-body dril_card">
              <div class="d-flex">
                <div class="">
                  <i class="fa fa-download font_20 p-2" aria-hidden="true"></i>
                </div>
                <div class="w-100 pl-2">
                  <h4 class="mb-2">Portfolio Return <br> <b>{{portfolioData.portfolioReturn}}</b></h4>
                </div>
              </div>
              <div class="row">
                <div class="col-4 pr-1 border-right">
                  <h6>Benchmark</h6><b> {{portfolioData.benchmarkReturn}}</b></div>
                <div class="col-4 pl-1 pr-1 border-right">
                  <h6>Outperformance</h6><b> {{portfolioData.outperformance}}</b>
                </div>
                <div class="col-4 pl-1 padding_0">
                  <div id="sparkChart2" class="chart"></div>
                </div>
              </div>
            </div>
        </div>
    </div>
  <div class="col-4 px-1">
    <div class="card">
      <div class="card-body">
          <table>
            <tr>
              <td>
                <h5> Investment Value </h5>
                <h5 class="mb-0"><span class="small_font">{{currency}}</span> <b class="font_20"> {{portfolioData.investmentValue}}</b></h5>
              </td>
              <td>
                <h5 class="pt-2">Capital Invested</h5>
                <h5 class="mb-0"> <span class="small_font">{{currency}}</span> <b class="font_20"> {{portfolioData.capitalInvested}}</b> </h5>
              </td>
            </tr>
          </table>
        <div class="retir_chart">
          <div id="sparkChart" class="chart"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 pl-1 box_change">
        <div class="card">
            <div class="d-flex flex-row">
                <div class="p-10 pink_grad">
                    <h3 class="text-white box m-b-0"><i class="mdi mdi-poll-box icon-lg"></i></h3>
                </div>
                <div class="align-self-center m-l-20">
                    <h4 class="text-muted m-b-0 pt-2">Investible Cash</h4>
                    <h4><span class="small_font">{{currency}}</span> {{portfolioData.investibleCash}}</h4>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="d-flex flex-row">
                <div class="p-10 blue_grad">
                    <h3 class="text-white box m-b-0"><i class="mdi mdi-poll-box icon-lg"></i></h3>
                </div>
                <div class="align-self-center m-l-20">
                  <h4 class="text-muted m-b-0 pt-2">Credit Limit</h4>
                  <h4><span class="small_font">{{currency}}</span> {{portfolioData.creditLimit}}</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>

<div class="row">
        <div class="col-12">
                <div class="float-right w_30px">
                    <select class="form-control custom-_select_new" (change)="fnPortfolioPerformanceChange($event.target.value)">
                        <option value="Month">Month</option>
                        <option value="Quarter">Quarter</option>
                        <option value="Year">Year</option>
                        <option value="Inception">Inception</option>
                    </select>
                </div>
            </div>
  <div class="col-12">
    <div class="d-flex dril_box mt-2">
            <ng-container *ngFor="let performance of performanceData">
            <div class="{{performance.bgColor}}">
            <h5 class="text-muted m-b-0">{{performance.dataValue}}</h5>
            <h4><b><span class="small_font">{{currency}}</span> {{performance.amount}}</b></h4>
          </div>
    </ng-container>
      <!-- <div class="bg-danger">
        <h5 class="text-muted m-b-0">Net Capital Inflow</h5>
        <h4><b><span class="small_font">{{currency}}</span> 20,000</b></h4>
      </div>
      <div class="bg-primary">
        <h5 class="text-muted m-b-0">Unrealized Gain (Loss)</h5>
        <h4><b><span class="small_font">{{currency}}</span> 20,000</b></h4>
      </div>
      <div class="bg-warning">
        <h5 class="text-muted m-b-0">Fee Paid</h5>
        <h4><b><span class="small_font">{{currency}}</span> 20,000</b></h4>

      </div>
      <div class="bg-info">
        <h5 class="text-muted m-b-0">Expenses</h5>
        <h4><b><span class="small_font">{{currency}}</span> 20,000</b></h4>
      </div>
      <div class="bg-danger">
        <h5 class="text-muted m-b-0">Income</h5>
        <h4><b><span class="small_font">{{currency}}</span> 20,000</b></h4>
      </div>
      <div class="bg-warning">
        <h5 class="text-muted m-b-0">Realized Gain (Loss)</h5>
        <h4><b><span class="small_font">{{currency}}</span> 20,000</b></h4>
      </div> -->
    </div>
  </div>
</div>


<!--<div class="row row_chart">-->
<!--  <div class="card">-->
<!--    <div class="d-flex flex-row">-->
<!--      <div class="p-10 orange_grad">-->
<!--        <h3 class="text-white box m-b-0"><i class="mdi mdi-poll-box icon-lg"></i></h3></div>-->
<!--      <div class="align-self-center m-l-20">-->
<!--        <h3 class="m-b-0 text-primary">$18090</h3>-->
<!--        <h5 class="text-muted m-b-0">Opening Balance</h5></div>-->
<!--    </div>-->
<!--  </div>-->
<!--    <div class="w-14">-->
<!--        <h6 class="text-muted m-t-10 m-b-0">Net capital Inflow</h6>-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td class="usd_txt">{{currency}}</td>-->
<!--                <td class="number_txt">20,000</td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
<!--    <div class="w-14">-->
<!--        <h6 class="text-muted m-t-10 m-b-0">Unrealized Gain (Loss) </h6>-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td class="usd_txt">{{currency}}</td>-->
<!--                <td class="number_txt">20,000</td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
<!--    <div class="w-14">-->
<!--        <h6 class="text-muted m-t-10 m-b-0">Fee Paid </h6>-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td class="usd_txt">{{currency}}</td>-->
<!--                <td class="number_txt">20,000</td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
<!--    <div class="w-14">-->
<!--        <h6 class="text-muted m-t-10 m-b-0">Expenses</h6>-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td class="usd_txt">{{currency}}</td>-->
<!--                <td class="number_txt">20,000</td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
<!--    <div class="w-14">-->
<!--        <h6 class="text-muted m-t-10 m-b-0">Income</h6>-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td class="usd_txt">{{currency}}</td>-->
<!--                <td class="number_txt">20,000</td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
<!--    <div class="w-14">-->
<!--        <h6 class="text-muted m-t-10 m-b-0">Realized Gain (Loss)</h6>-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td class="usd_txt">{{currency}}</td>-->
<!--                <td class="number_txt">20,000</td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->

<!--  Chart Start Here -->
<div class="row row_chart">
    <div class="col-lg-12 text-center">
      <h4 class="card-title">Risk Score</h4>
       <div class="">
         <kendo-radialgauge [pointer]="{ value: value }" >
           <kendo-radialgauge-scale [minorUnit]="10" [majorUnit]="20" [max]="100" [rangeSize]="20"
                                    [majorTicks]="{ visible: false }"
                                    [minorTicks]="{ visible: false }">
             <kendo-radialgauge-scale-ranges>
               <kendo-radialgauge-scale-range [from]="0" [to]="40" color="#ef6256">
               </kendo-radialgauge-scale-range>
               <kendo-radialgauge-scale-range [from]="40" [to]="70" color="#eac456">
               </kendo-radialgauge-scale-range>
               <kendo-radialgauge-scale-range [from]="70" [to]="100" color="#64e286">
               </kendo-radialgauge-scale-range>
             </kendo-radialgauge-scale-ranges>
           </kendo-radialgauge-scale>
         </kendo-radialgauge>
       </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 pr-1">
      <div class="card">
        <div class="card-body">
          <h6 class="card-subtitle">Asset Allocation Deviation</h6>
          <div id="deviationChart" class="chart"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 pl-1">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle">Portfolio Performance</h6>
                <!--<canvas baseChart height="300" [datasets]="lineChartData3" [labels]="lineChartLabels3" [options]="lineChartOptions3" [colors]="lineChartColors3" [legend]="lineChartLegend3" [chartType]="lineChartType3" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>-->
                  <select class="dropdown float-right cus_select" (change)="areaPortfolioChange($event.target.value)" >
                      <option value="monthly">Monthly</option>
                      <option value="quarterly">Quarterly</option>
                      <option value="yearly">Yearly</option>
                  </select>
                  <div class="chart-container">
                      <div id="areaStackChart" class="chart"></div>
                  </div>
           </div>
          </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 pr-1">
      <div class="card">
        <div class="card-body">
          <h6 class="card-subtitle">Portfolio Gain</h6>
          <div class="" style="height:315px">
            <canvas style="height:300px" baseChart [datasets]="barChartData2" [labels]="barChartLabels2" [options]="barChartOptions2" [legend]="barChartLegend2" [chartType]="barChartType2"  [colors]="barChartColors2" >
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 pl-1">
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle">Asset Allocation Movement</h6>
            <div id="allocationMovementChart" class="chart"></div>
          </div>
        </div>
    </div>

</div>
<div class="row">
  <div class="col-lg-6 pr-1">
    <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle">Allocation By Security Type</h6>
        <div id="securityTypeChart" class="chart"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 pl-1">
    <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle"> Allocation By Fund Manager</h6>
        <div id="fundManagerChart" class="chart"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Allocation By Sector</h4>
                <div id="sectorChart" class="chart"></div>
            </div>
        </div>
    </div>
</div>


<!--<div class="row inner_img_rad mb-3">
    <div class="col-6 pr-1">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h4> Top Holdings </h4>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="w-40 m-b-0 text-center">
                                <div class="css-bar css-bar-20 css-bar-lg mb-0">
                                    <img src="../assets/images/users/4.jpg" alt="User" width="70px"></div>
                            </div>
                            <div class="w-60">
                                <h4>Banco De Oro</h4>
                                <p>Direct Equity</p>
                                <p> <span class="small_font">{{currency}}</span> 21,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="w-40 m-b-0 text-center">
                                <div class="css-bar css-bar-20 css-bar-lg mb-0">
                                    <img src="../assets/images/users/4.jpg" alt="User" width="70px"></div>
                            </div>
                            <div class="w-60">
                                <h4>Banco De Oro</h4>
                                <p>Direct Equity</p>
                                <p> <span class="small_font">{{currency}}</span> 21,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="w-40 m-b-0 text-center">
                                <div class="css-bar css-bar-20 css-bar-lg mb-0">
                                    <img src="../assets/images/users/4.jpg" alt="User" width="70px"></div>
                            </div>
                            <div class="w-60">
                                <h4>Banco De Oro</h4>
                                <p>Direct Equity</p>
                                <p> <span class="small_font">{{currency}}</span> 21,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="w-40 m-b-0 text-center">
                                <div class="css-bar css-bar-20 css-bar-lg mb-0">
                                    <img src="../assets/images/users/4.jpg" alt="User" width="70px"></div>
                            </div>
                            <div class="w-60">
                                <h4>Banco De Oro</h4>
                                <p>Direct Equity</p>
                                <p> <span class="small_font">{{currency}}</span> 21,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="w-40 m-b-0 text-center">
                                <div class="css-bar css-bar-20 css-bar-lg mb-0">
                                    <img src="../assets/images/users/4.jpg" alt="User" width="70px"></div>
                            </div>
                            <div class="w-60">
                                <h4>Banco De Oro</h4>
                                <p>Direct Equity</p>
                                <p> <span class="small_font">{{currency}}</span> 21,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="w-40 m-b-0 text-center">
                                <div class="css-bar css-bar-20 css-bar-lg mb-0">
                                    <img src="../assets/images/users/4.jpg" alt="User" width="70px"></div>
                            </div>
                            <div class="w-60">
                                <h4>Banco De Oro</h4>
                                <p>Direct Equity</p>
                                <p> <span class="small_font">{{currency}}</span> 21,000</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 pl-1">
        <div class="card">
            <div class="card-body">
                <div class="col-12">
                    <h4>Winners & Lagers </h4>
                </div>
                <div class="row">
                    <div class="col-2">
                        <img src="../assets/images/users/4.jpg" class="radius_img" alt="" width="50px">
                    </div>
                    <div class="col-10">
                        <h4>Banco De Oro</h4>
                        <div class="row">
                            <div class="col-7">
                                <p>Direct Equity</p>
                                <p>Direct Equity</p>
                            </div>
                            <div class="col-5">
                                <sup><i class="ti-arrow-up text-success"> 21%</i></sup>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
