
<!--<section>-->
<!--    <div class="row list_btns_cust">-->
<!--        <div class="col-6">-->
<!--            <div class="d-flex pl-0">-->
<!--                <div class="btn btn-warning"> All </div>-->
<!--                <div class="btn btn-warning"> Favorite </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-6">-->

<!--            <div class="d-flex pl-0 float-right">-->
<!--                <button type="button" class="btn btn-warning" > Add </button>-->
<!--                <div class="btn btn-warning"> List </div>-->
<!--                <div class="btn btn-warning"> Card </div>-->
<!--                <div class="btn btn-warning"> Map </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<div class="row">
    <div class="col-8 pr-0">
        <div class="card h_150">
            <div class="card-body">
                <h4>
                    <span class="lstick pt-1"></span> Prospects </h4>
                <div class="row position_relative">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <table>
                                    <tr>
                                        <td>
                                            <img src="assets/images/my/sun.png" class="py-1" alt="" width="30px">
                                            <br>
                                            <span class="pers_num">99</span>
                                            <br>Hot
                                        </td>
                                        <td>
                                            <img src="assets/images/my/cold.png" class="py-1" alt="" width="30px">
                                            <br>
                                            <span class="pers_num">45</span>
                                            <br>Cold
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-6">
                                <div id="top1" class="chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <table>
                                    <tr>
                                        <td>
                                            <img src="assets/images/my/n-user.png" class="py-1" alt="" width="30px">
                                            <br>
                                            <span class="pers_num">
                        <span class="pers_num">135</span>
                      </span>
                                            <br>Individual
                                        </td>
                                        <td class="pl-2">
                                            <img src="assets/images/my/corp.png" class="py-1" alt="" width="30px">
                                            <br>
                                            <span class="pers_num">9</span>
                                            <br>Corporate
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-6">
                                <div id="top2" class="chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4 pl-2">
        <div class="card">
            <div class="card-body">
                <h4>
                    <span class="lstick pt-1 font_25"></span> Prospect Qualification </h4>
                <table>
                    <tr>
                        <td class="w-50">
                            <i class="mdi mdi-briefcase-check text-info font_26"></i>
                            <br>
                            <span class="pers_num">113</span>
                            <p class="pb-2">Qualified</p>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar"  style="width: 40%; height: 6px;" aria-valuenow="25"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>

                        <td class="border-left pl-2 w-50">
                            <i class="mdi mdi-information font_26 text-danger"></i>
                            <br>
                            <span class="pers_num">31</span>
                            <p class="pb-2"> Not Qualified</p>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar"  style="width: 40%; height: 6px;" aria-valuenow="25"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<section>
  <div class="row list_btns_cust">
    <div class="col-6 pb-3">
      <mat-button-toggle-group appearance="legacy"  name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold" class="border-right">All</mat-button-toggle>
        <mat-button-toggle value="italic">Favorite</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="col-6 pb-3">
      <mat-button-toggle-group appearance="legacy" class="float-right" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold" class="border-right" [routerLink]="['/prospect/addprospect']">Add</mat-button-toggle>
<!--        <mat-button-toggle value="bold" class="border-right">List</mat-button-toggle>-->
<!--        <mat-button-toggle value="italic" class="border-right">Card</mat-button-toggle>-->
<!--        <mat-button-toggle value="underline">Map</mat-button-toggle>-->
      </mat-button-toggle-group>
    </div>
  </div>
</section>

<div class="row">
    <div class="w-100">
        <div class="col-12">
            <div class="card p-2 mr-2">
                <div class="row">
                    <!---------------- Category  ------------------>
                    <div class="col-md-3 col-sm-4 col-6">
                        <h5>Category</h5>
                        <ng-multiselect-dropdown
                                [placeholder]="'Category'"
                                [data]="categoryList"
                                [(ngModel)]="categoryItems"
                                [settings]="categorySettings"
                                (onSelect)="onItemSelect($event)"
                                (onDeSelect)="onItemDeSelect($event)"
                        >
                        </ng-multiselect-dropdown>
                    </div>
                    <!---------------- Risk Profile Filter  End ------------------>
                    <div class="col-md-3 col-sm-4 col-6">
                        <h5 class="">Source</h5>
                        <ng-multiselect-dropdown
                                [placeholder]="'Source'"
                                [data]="sourceList"
                                [(ngModel)]="sourceItems"
                                [settings]="sourceSettings"
                                (onSelect)="onItemSelect($event)"
                                (onDeSelect)="onItemDeSelect($event)"
                        >
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <h5 class="">Hot / Cold</h5>
                        <div class="d-flex">
                            <div class="custom-control custom-checkbox mb-0 pr-2 w-50">
                                <input type="checkbox" class="custom-control-input" id="cold" [(ngModel)]="filter.cold" (ngModelChange)="Custfilter()">
                                <label class="custom-control-label lt_24" for="cold">Cold</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-0 w-50">
                                <input type="checkbox" class="custom-control-input" id="hot" [(ngModel)]="filter.hot" (ngModelChange)="Custfilter()">
                                <label class="custom-control-label lt_24" for="hot">Hot</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <h5 class="">Qulalification</h5>
                        <div class="d-flex">
                            <div class="custom-control custom-checkbox mb-0 pr-2 w-50">
                                <input type="checkbox" class="custom-control-input" id="notQualified" [(ngModel)]="filter.notQualified" (ngModelChange)="Custfilter()">
                                <label class="custom-control-label lt_24" for="notQualified">Not Qualified</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-0 w-50">
                                <input type="checkbox" class="custom-control-input" id="qualified" [(ngModel)]="filter.qualified" (ngModelChange)="Custfilter()">
                                <label class="custom-control-label lt_24" for="qualified">Qualified</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 pr-1  mr-2">
        <div class="row mb-3 mr-2 ml-3">
            <div class="col-md-4 user_card" *ngFor="let cust of result" >
                <div class="card d-flex flex-row border rounded">
                    <div class="fav_set" (click)="Custfilter()" >
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="p-0 w-35 align-self-center text-center" >
                        <img src="assets/images/users/1.jpg" class="user_img" (click)="onNavigate()" />
                        <div class="d-flex p-2">
                            <div class="ic_media mt-3">
                                <a href="https://www.facebook.com/{{cust.Facebook}}" target="_blank" class="icon facebook">
                                </a>
                                <a href="https://twitter.com/{{cust.Twitter}}" target="_blank" class="icon twitter">
                                </a>
                                <a href="https://in.linkedin.com/{{cust.LinkedIn}}" target="_blank" class="icon github">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pl-2 pt-2 pr-2 pb-2 w-65 border-left" >
                        <h5>{{cust.Prospect_Name}}</h5>
                        <ul class="m-0 float-left address_book" style="list-style: none; margin:0; padding: 0">
                            <li><i class="fas fa-address-book pr-1"></i> {{cust.Address}}</li>
                            <li><i class="fas fa-envelope pr-1"></i> {{cust.Email}}</li>
                            <li><i class="fas fa-phone-alt pr-1"></i> {{cust.Mobile}}</li>
                            <li><i class="fas fa-users"></i> {{cust.RM_Name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

