<div  class="card-body">
    <div class="row p-t-20">
        <div class="col-md-3">
            <label class="hoverable" for="fileInput">
                <img style="cursor: pointer;" class="img-circle" width="75" src="https://www.w3schools.com/howto/img_avatar.png">

                <div class="background"></div>
            </label>
            <br/>
            <input id="fileInput" type='file' style="display:none">
            <button   style="display:none">delete</button>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Type</label>
                <select class="form-control custom-select" (change)="fnChangeType($event.target.value)">
                    <option value="">-Select-</option>
                    <option *ngFor="let type of userType" [value]="type">{{type}}</option>
                </select>

            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-3">
            <div class="form-group">
                <div class="form-group">
                    <label class="control-label">Salutation</label>
                    <select class="form-control custom-select">
                        <option value="">-Select-</option>
                        <option *ngFor="let title of Salutation" [value]="title">{{title}}</option>
                    </select>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input class="form-control form-control-danger" id="firstName" placeholder="First Name" type="text">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Middle Name</label>
                <input class="form-control form-control-danger" id="middleName" placeholder="Middle Name" type="text">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input class="form-control form-control-danger" id="lastName" placeholder="Last Name" type="text">
            </div>
        </div>
    </div>
    <div  class="row">
        <div  class="col-md-3">
            <div  class="form-group">
                <label  class="control-label">DOB/DOI</label>
                <input  class="form-control" type="date">
            </div>
        </div>
        <div  class="col-md-3">
            <div  class="form-group">
                <label  class="control-label">Gender</label>
                <select  class="form-control custom-select">
                    <option  value="">-Select-</option>
                    <option *ngFor="let gender of Gender" [value]="gender">{{gender}}</option>
                </select>

            </div>
        </div>
        <div  class="col-md-3">
            <div  class="form-group">
                <label  class="control-label">Category</label>
                <select  class="form-control custom-select">
                    <option  value="">-Select-</option>
                    <option *ngFor="let categ of Category" [value]="categ">{{categ}}</option>
                </select>

            </div>
        </div>
        <div  class="col-md-3">
            <div  class="form-group">
                <label  class="control-label">Country</label>
                <select  class="form-control custom-select">
                    <option  value="">-Select-</option>
                    <option *ngFor="let country of Country" [value]="country">{{country}}</option>
                </select>

            </div>
        </div>
    </div>
    <div  class="row">
        <div  class="col-md-3">
            <div  class="form-group">
                <label  class="control-label">Occupation / Sector</label>
                <select  class="form-control custom-select" data-placeholder="" tabindex="">
                    <option  value="">-Select-</option>
                    <option *ngFor="let occupation of Occupation" [value]="occupation">{{occupation}}</option>
                </select>
            </div>
        </div>

        <div  class="col-md-3">
            <div  class="form-group">
                <label  class="control-label">Source</label>
                <select  class="form-control custom-select" data-placeholder="" tabindex="" (change)="fnChangeCampaign($event.target.value)">
                    <option  value="">-Select-</option>
                    <option *ngFor="let source of Source" [value]="source">{{source}}</option>
                </select>
            </div>
        </div>
    </div>
    <div  class="row">
        <div  class="col-md-3" *ngIf="campaignValue == 'Campaign'">
            <div  class="form-group">
                <label  class="control-label">Campaign Type</label>
                <select  class="form-control custom-select" data-placeholder="" tabindex="" (change)="fnChangeCampaignType($event.target.value)">
                    <option  value="">-Select-</option>
                    <option *ngFor="let campaignType of campaignType" [value]="campaignType">{{campaignType}}</option>
                </select>
            </div>
        </div>

        <div  class="col-md-3" *ngIf="campaignValue == 'Campaign'">
            <div  class="form-group">
                <label  class="control-label">Campaign Name</label>
                <select  class="form-control custom-select" data-placeholder="" tabindex="">
                    <option  value="">-Select-</option>
                    <option *ngFor="let campaignName of campaignName" [value]="campaignName">{{campaignName}}</option>
                </select>
            </div>
        </div>
        <div  class="col-md-3" *ngIf="campaignValue == 'Customer Reference'">
            <div  class="form-group">
                <label  class="control-label">Customer</label>
                <input aria-multiline="false" autocapitalize="off" autocorrect="off" class="form-control" id="typeahead-format" role="combobox" type="text" autocomplete="off" aria-autocomplete="list" aria-expanded="true" aria-activedescendant="ngb-typeahead-6-0" aria-owns="ngb-typeahead-6">
            </div>
        </div>
        <div  class="col-md-3" *ngIf="campaignValue == 'Internal Reference'">
            <div  class="form-group">
                <label  class="control-label" >Employee</label>
                <input aria-multiline="false" autocapitalize="off" autocorrect="off" class="form-control" id="typeahead-format1" role="combobox" type="text" autocomplete="off" aria-autocomplete="list" aria-expanded="true" aria-activedescendant="ngb-typeahead-6-0" aria-owns="ngb-typeahead-6">
            </div>
        </div>
    </div>
    <hr >
    <div  class="row p-t-10">
        <div  class="col-md-3">
            <div  class="form-group">
                <label  class="control-label">Qualification Status</label>
                <select  class="form-control custom-select" data-placeholder="" tabindex="">
                    <option  value="">-Select-</option>
                    <option  value="">Qualified</option>
                    <option  value="">Not Qualified</option>
                </select>
            </div>
        </div>

        <div  class="col-md-3">
            <div  class="form-group">
                <label  class="control-label">Interest Level</label>
                <select  class="form-control custom-select" data-placeholder="" tabindex="" (change)="fnChangeCampaign($event.target.value)">
                    <option  value="">-Select-</option>
                    <option  value="">Hot</option>
                    <option  value="">Cold</option>
                </select>
            </div>
        </div>
    </div>
    <hr>
    <div class="row p-t-10">
            <div class="col-md-9">
                    <label class="control-label">Description</label>
                   <textarea class="form-control" placeholder="Description"></textarea>
                </div>
        </div>
        <div class="row">
                <div class="col-md-9">
                        <label class="control-label">Notes</label>
                       <textarea class="form-control" placeholder="Notes"></textarea>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-9">
                            <label class="control-label">Attachment</label>
                            <div  class="custom-file">
                                <input class="custom-file-input ng-pristine ng-invalid ng-touched" formcontrolname="importFile" id="importFile" multiple="" type="file">
                                <label class="custom-file-label" for="importFile">Choose file</label>
                            </div>
                        </div>
                </div>
    <hr>
    <div  class="row p-t-10">
        <div  class="col-md-3">
            <button class="btn btn-primary" (click)="saveContact(content3)">Save</button>
        </div>
        <div  class="col-md-3">
            <button class="btn btn-primary" (click)="cancelContact()">Cancel</button>
        </div>
<!--        <div  class="col-md-3">
            <button class="btn btn-primary">Opportunity</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary">Activity</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" [routerLink]="['/prospect/contact']">Contact</button>
        </div>-->
    </div>
</div>
<ng-template #content3 let-modal>
    <div class="modal-body">

        <h3>You've created the Prospect successfully</h3>
        <hr>
        <h5>You may also like to add</h5>
        <div  class="row p-t-5">
        <div  class="col-md-3">
            <button class="btn btn-primary" [routerLink]="['/prospect/potential']" (click)="modal.close('Close click')">Potential</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" [routerLink]="['/prospect/activity']" (click)="modal.close('Close click')">Activity</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" [routerLink]="['/prospect/contact']" (click)="modal.close('Close click')">Contact</button>
        </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close')" >OK</button>
    </div>
</ng-template>
