<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" id="loginform" name="loginform">
                <h3 class="box-title m-b-20">Sign In</h3>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" placeholder="Username" required="" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" placeholder="Password" required="" type="password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12 font-14">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="customCheck1" type="checkbox"><label class="custom-control-label" for="customCheck1">Remember me</label><a class="text-dark float-right" href="javascript:void(0)" id="to-recover"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <a class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" (click)="loginForm()" >Log In</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                        <div class="social">
                            <button class="btn btn-facebook m-r-10"><i aria-hidden="true" class="fa fa-facebook"></i></button><button class="btn btn-googleplus"><i aria-hidden="true" class="fa fa-google-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <div>
                            Don't have an account? <a class="text-info m-l-5" href="/demos/angular-admin-templates/admin-pro-angular/main/authentication/signup"><b>Sign Up</b></a>
                        </div>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" id="recoverform" name="recoverform">
                <div class="form-group">
                    <div class="col-xs-12">
                        <h3>Recover Password</h3>
                        <p class="text-muted">Enter your Email and instructions will be sent to you!</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" placeholder="Email" required="" type="text">
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <a class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" href="/demos/angular-admin-templates/admin-pro-angular/main/login">Reset</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
