<div class="row card_mar_remove">
<div class="col-6 pr-1">
  <div class="card">
    <div class="card-body">
      <h4 class="mb-0">Conversion Strike Rate</h4>
      <p class="p-0">2 Opportunities are missed to get a conversion</p>
      <table>
        <tr>
          <td class="w-25">
              <h5>
                Won <br>
                28
              </h5>
          </td>
            <td>
                <img src="assets/images/my/n-user.png" alt="" width="45px">
            </td>
          <td class="w-25 border-right cus_svg">
              <circle-progress
                      [percent]="85"
                      [radius]="30"
                      [outerStrokeWidth]="4"
                      [innerStrokeWidth]="0"
                      [outerStrokeColor]="'#78C000'"
                      [innerStrokeColor]="'#C7E596'"
                      [animation]="true"
                      [titleFontSize]="12"
                      [subtitle]="'Hit'"
                      [showSubtitle]="true"
                      [animationDuration]="300"
              ></circle-progress>
          </td>
          <td class="w-25 pl-1">
             <h5>
               Missed <br>
               56
             </h5>
          </td>
          <td >
            <img src="assets/images/my/brief1.png" alt="" width="40px">
          </td>
          <td class="w-25 cus_svg">
              <circle-progress
                      [percent]="20"
                      [radius]="30"
                      [outerStrokeWidth]="4"
                      [innerStrokeWidth]="0"
                      [outerStrokeColor]="'#eb4034'"
                      [innerStrokeColor]="'#eb4034'"
                      [animation]="true"
                      [titleFontSize]="12"
                      [subtitle]="'Mis'"
                      [showSubtitle]="true"
                      [animationDuration]="300"
              ></circle-progress>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
  <div class="col-3 px-1">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div>
            <h4 class="card-title">Current Pipeline</h4>
            <h5 class="card-subtitle"><span class="small_font">{{currency}} </span>250,000</h5>
          </div>
        </div>
        <div id="spark4" style="float: right;">
          <div id="sparkChart" class="chart"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 pl-1">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div>
            <h4 class="card-title">Opportunity Missed </h4>
            <h5 class="card-subtitle"> <span class="small_font">{{currency}}</span> 450,000</h5>
          </div>
        </div>
        <div id="spark5" style="float: right;">
          <div id="sparkChart1" class="chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row m-0">
    <!-- Column -->
    <div class="w_20 pr-1">
        <div class="card cursor_pointer" (click)="closerModal(content, 'near_closer')">
            <div class="card-body">
                <!-- Row -->
                <div class="row">
                  <div class="col-12">
                    <h6>Near Closure</h6>
                  </div>
                    <div class="col-6">
                        <h3>18</h3>
                    </div>
                    <div class="col-6 align-self-center text-right  p-l-0">
                        <div id="sparkChart2" class="chart"></div>
                    </div>
                  <div class="col-12">
                    <h4 class="mb-0 pt-2">{{currency}}  126,000,000</h4>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w_20 px-1">
        <div class="card" (click)="closerModal(content, 'due_now')">
            <div class="card-body">
                <!-- Row -->
                <div class="row">
                    <div class="col-12">
                        <h6>Due Now</h6>
                    </div>
                    <div class="col-6">
                        <h3>48</h3>
                    </div>
                    <div class="col-6 align-self-center text-right  p-l-0">
                        <div id="sparkChart7" class="chart"></div>
                    </div>
                    <div class="col-12">
                        <h4 class="mb-0 pt-2">{{currency}} 255,000,000</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="w_20 px-1">
        <div class="card" (click)="closerModal(content, 'missed_due')">
            <div class="card-body">
                <!-- Row -->
                <div class="row">
                  <div class="col-12">
                    <h6>Missed Due Date</h6>
                  </div>
                    <div class="col-6">
                        <h3>6</h3>
                    </div>
                    <div class="col-6 align-self-center text-right  p-l-0">
                        <div id="sparkChart3" class="chart"></div>
                    </div>
                  <div class="col-12">
                    <h4 class="mb-0 pt-2">{{currency}}  33,000,000</h4>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="w_20 px-1">
        <div class="card" (click)="closerModal(content, 'moved_up')">
            <div class="card-body">
                <!-- Row -->
                <div class="row">
                  <div class="col-12">
                    <h6>Moved Up</h6>
                  </div>
                    <div class="col-6">
                        <h3>36</h3>
                    </div>
                    <div class="col-6 align-self-center text-right  p-l-0">
                        <div id="sparkChart4" class="chart"></div>
                    </div>
                  <div class="col-12">
                    <h4 class="mb-0 pt-2">{{currency}}  202,500,000</h4>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="w_20 pl-1">
        <div class="card" (click)="closerModal(content, 'moved_down')">
            <div class="card-body">
                <!-- Row -->
                <div class="row">
                    <div class="col-12">
                      <h6>Moved Down</h6>
                    </div>
                    <div class="col-6">
                        <h3>37</h3>
                    </div>
                    <div class="col-6 align-self-center text-right  p-l-0">
                        <div id="sparkChart5" class="chart"></div>
                    </div>
                  <div class="col-12">
                    <h4 class="mb-0 pt-2">{{currency}}  191,000,000</h4>
                  </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row new_top_cus">
  <div class="col-12" style="padding-left: 4px;padding-top: 4px;">
    <h4> <span class="lstick"></span> High Value Deals</h4>
  </div>
    <div class="col-md-4 user_card" *ngFor="let highVal of highValue;  let i=index" >
    <div *ngIf="i<3" >
<!--    <div>-->
    <div class="card d-flex flex-row border rounded">
      <div class="row m-0">
        <div class="col-3 p-0 w-35 align-self-center text-center" >
          <img src="assets/images/users/1.jpg" class="user_img" width="50px"  />
        </div>
        <div class="col-9 pl-2 pt-2 pr-2 pb-2 w-65" >
          <h5>{{highVal.Prospect_Name}}
            <span class="float-right cursor_pointer" data-toggle="modal" data-target="#potential_modal">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i></span></h5>
          <h5><b>{{currency}} {{highVal.Target_Investment_Amount}}</b></h5>
          <div class="btn btn-primary inner_btn w_85px">{{highVal.Type}}</div>
        </div>
        <div class="col-12">
          <table class="rev_table">
            <tr>
              <td>
                <b> {{highVal.Oppurtunity_Type}}  </b><br>
                Potential
              </td>
              <td>
                <b> {{highVal.Target_Closure_Date}}</b> <br>
                Due Date
              </td>
            </tr>

            <tr>
              <td>
                <b>{{highVal.Oppurtunity_Stage}}</b>  <br>
                Stage
              </td>
              <td>
                <b>80%</b><br>
                Probability
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    </div>
    </div>
  <div class="col-12 text-right">
      <button type="button" class="btn btn-warning mb-2 mt_m2" (click)="highValueMore(content1)">
          View More
      </button>
  </div>
</div>
<div class="row">
    <div class="col-lg-4 pr-1">
        <div class="card mb_10">
            <div class="card-body">
                <h4 class="card-title"><span class="lstick"></span> Sales Pipeline </h4>
              <div class="pt-2 pb-3">
                <kendo-chart class="cus_kendo">
                  <kendo-chart-title text=""></kendo-chart-title>
                  <kendo-chart-series>
                    <kendo-chart-series-item type="funnel" [data]="model"
                                             field="count" categoryField="stat" colorField="color">
                      <kendo-chart-series-item-labels background="none" color="white" format="N0">
                      </kendo-chart-series-item-labels>
                    </kendo-chart-series-item>
                  </kendo-chart-series>
                  <kendo-chart-tooltip>
                    <ng-template kendoChartSeriesTooltipTemplate let-category="category">
                      {{ category }}
                    </ng-template>
                  </kendo-chart-tooltip>
                  <kendo-chart-legend [visible]="false"></kendo-chart-legend>
                </kendo-chart>
              </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 pl-1">
        <div class="card mb_10">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">

                    </div>
                </div>
                <h4 class="card-title"><span class="lstick"></span> Potential Breakup  <div class="form-group float-right">
                  <select class="form-control custom-select custom_select_new" (change)="fnBreakupChange($event.target.value)">
                    <option value="Type">Type</option>
                    <option value="Stage">Stage</option>
                  </select>
                </div></h4>
                <div class="barchrt second_svg">
                    <x-chartist class="" [data]="barChart1.data" [type]="barChart1.type" [options]="barChart1.options" [responsiveOptions]="barChart1.responsiveOptions"
                                [events]="barChart1.events"> </x-chartist>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 pr-1">
        <div class="card mb_10">
            <div class="card-body">
                <h4 class="card-title mb-0">Ageing Analysis</h4>
                <div class="linearea" style="height:370px">
                    <div id="Bubblechart" class="barChart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 pl-1">
        <div class="card mb_10">
            <div class="card-body">
                <h4 class="card-subtitle p-1"> Value Distribution
                  <div class="form-group float-right">
                    <select class="form-control custom_select_new" (change)="fnDistributionChange($event.target.value)">
                      <option value="Type">Type</option>
                      <option value="Stage">Stage</option>
                    </select>
                  </div>
                </h4>
                <div class="chart-container mar_top_btm_adj" *ngIf="doughnutView =='Type'">
                    <canvas baseChart height="170px" [data]="doughnutChartTypeData" [labels]="doughnutChartTypeLabels"  [chartType]="doughnutChartType" [colors]="chartColorsType">
                    </canvas>
                </div>
                <div class="chart-container mar_top_btm_adj" *ngIf="doughnutView =='Stage'">
                    <canvas baseChart height="170px" [data]="doughnutChartStageData" [labels]="doughnutChartStageLabels"  [chartType]="doughnutChartTypeStage" [colors]="chartColorsStage">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-lg-6 pr-1">
        <div class="card mb_10">
            <div class="card-body">
                <h4 class="card-title">Conversion Trend</h4>
                <div id="conversionTrend" class="chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 pl-1">
        <div class="card mb_10">
            <div class="card-body">
                <h4 class="card-subtitle">Expected Conversion</h4>
                <div id="expectedConversion" class="chart"></div>
            </div>
        </div>
    </div>
</div>
<!--card modal start-->
<div class="modal" id="potential_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><span class="lstick"></span> Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title"> {{modalTitle}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered mb-0 no-wrap">
                <thead>
                <!--                <tr [ngStyle]="bgColor">-->
                <tr >
                    <th>Prospect Name</th>
                    <th>Type</th>
                    <th>Oppurtunity Type</th>
                    <th>Target Investment Amount</th>
                    <th>Oppurtunity Stage</th>
                    <th>Target Closure Date</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let closer of nearCloserValue">
                    <td>{{closer.Prospect_Name}}</td>
                    <td>
                      <span class="label label-warning">{{ closer.Type }}</span>
                    </td>
                    <td>
                        {{closer.Oppurtunity_Type}}
                    </td>
                    <td>{{closer.Target_Investment_Amount}}</td>
                    <td>{{closer.Oppurtunity_Stage}}</td>
                    <td>{{closer.Target_Closure_Date | date}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>
<ng-template #content1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">  High Value Deals</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row new_top_cus">

          <div class="col-md-4 user_card" *ngFor="let highVal of highValue;  let i=index" >
                  <div>
              <div class="card d-flex flex-row border rounded">
                <div class="row m-0">
                  <div class="col-3 p-0 w-35 align-self-center text-center" >
                    <img src="assets/images/users/1.jpg" class="user_img" width="50px"  />
                  </div>
                  <div class="col-9 pl-2 pt-2 pr-2 pb-2 w-65" >
                    <h5>{{highVal.Prospect_Name}}
                      <span class="float-right cursor_pointer" data-toggle="modal" data-target="#potential_modal">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i></span></h5>
                    <h5><b>{{currency}} {{highVal.Target_Investment_Amount}}</b></h5>
                    <div class="btn btn-primary inner_btn w_85px">{{highVal.Type}}</div>
                  </div>
                  <div class="col-12">
                    <table class="rev_table">
                      <tr>
                        <td>
                          <b> {{highVal.Oppurtunity_Type}}  </b><br>
                          Potential
                        </td>
                        <td>
                          <b> {{highVal.Target_Closure_Date}}</b> <br>
                          Due Date
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <b>{{highVal.Oppurtunity_Stage}}</b>  <br>
                          Stage
                        </td>
                        <td>
                          <b>80%</b><br>
                          Probability
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>
