<div class="row">
  <div class="col-8 pr-0">
    <div class="card h_150 mb_10">
      <div class="card-body">
        <h4>
          <span class="lstick pt-1"></span> Prospects </h4>
        <div class="row position_relative">
          <div class="col-6">
            <div class="row">
              <div class="col-6">
                <table>
                  <tr>
                    <td>
                      <img src="assets/images/my/sun.png" class="py-1" alt="" width="30px">
                      <br>
                      <span class="pers_num">99</span>
                      <br>Hot
                    </td>
                    <td>
                      <img src="assets/images/my/cold.png" class="py-1" alt="" width="30px">
                      <br>
                      <span class="pers_num">45</span>
                      <br>Cold
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-6">
                <div id="top1" class="chart"></div>
              </div>
            </div>
          </div>
          <div class="line"></div>
          <div class="col-6">
            <div class="row">
              <div class="col-6">
                <table>
                  <tr>
                    <td>
                      <img src="assets/images/my/n-user.png" class="py-1" alt="" width="30px">
                      <br>
                      <span class="pers_num">
                        <span class="pers_num">135</span>
                      </span>
                      <br>Individual
                    </td>
                    <td class="pl-2">
                      <img src="assets/images/my/corp.png" class="py-1" alt="" width="30px">
                      <br>
                      <span class="pers_num">9</span>
                      <br>Corporate
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-6">
                <div id="top2" class="chart"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4 pl-2">
    <div class="card mb_10">
      <div class="card-body">
        <h4><span class="lstick pt-1 font_25"></span> Prospect Qualification </h4>
        <table>
          <tr>
            <td class="w-50">
              <i class="mdi mdi-briefcase-check text-info font_26"></i>
              <br>
              <span class="pers_num">113</span>
              <p class="pb-2">Qualified</p>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" [ngStyle]="qualifiedStyles" style="width: 40%; height: 6px;" aria-valuenow="25"
                     aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </td>

            <td class="border-left pl-2 w-50">
              <i class="mdi mdi-information font_26 text-danger"></i>
              <br>
              <span class="pers_num">31</span>
                <p class="pb-2"> Not Qualified</p>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" [ngStyle]="notQualifiedStyles" style="width: 40%; height: 6px;" aria-valuenow="25"
                     aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row ml-0 mr-0 new_top_cus">
 <div class="col-12 p-1">
   <h4><span class="lstick pt-1 font_25"></span> Recent Prospect</h4>
 </div>
  <div class="col-md-4 user_card" *ngFor="let user of userData;  let i=index">
    <div *ngIf="i<3">
      <div class="card d-flex flex-row border rounded">
        <div class="row m-0">
          <div class="col-3 p-0 w-35 align-self-center text-center">
            <img src="assets/images/users/1.jpg" class="user_img" width="50px" />
          </div>
          <div class="col-9 pl-2 pt-2 pr-2 pb-2 w-65">
            <h5>{{user.name}}
              <span class="float-right cursor_pointer" data-toggle="modal" data-target="#potential_modal">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </span>
            </h5>
            <h6>{{user.source}}</h6>
            <table>
              <tr>
                <td>15 Jan 2019</td>
                <td class="text-right">
                  <div class="d-flex">
                    <img src="assets/images/my/sun.png" *ngIf="user.hotOrCold =='hot'" alt="" width="25px" height="25px">
                    <img src="assets/images/my/cold.png"  *ngIf="user.hotOrCold =='cold'"  alt="" width="25px" height="25px">
                    <img src="assets/images/my/n-user.png" class="mx-2" alt="" width="25px" height="25px">
                    <img src="assets/images/my/brief1.png" *ngIf="user.qualification =='Qualified'" alt="" width="23px" height="23px">
                    <img src="assets/images/my/info.png" *ngIf="user.qualification =='Not Qualified'" alt="" width="23px" height="23px">
<!--                    <i class="mdi mdi-information font_26 text-danger" width="25px" height="25px"></i>-->
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-12">
            <table class="rev_table">
              <tr>
                <td>
                  <b>
                    <span class="number_two">{{user.contacts}}</span>
                  </b>
                  <br> Contacts
                </td>
                <td>
                  <b>
                    <span class="number_two">{{user.potential}}</span>
                  </b>
                  <br> Potentials
                </td>
                <td>
                  <b>
                    <span class="number_two">{{user.engagement}}</span>
                  </b>
                  <br> Engagement
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 text-right">
    <button type="button" class="btn btn-warning mb-2 mt_m2" (click)="openUser(content1)">
      View More
    </button>
  </div>
</div>

<div class="row">
  <div class="col-6 pr-1">
    <div class="card mb_10">
      <div class="card-body">
        <h4>
          <span class="lstick pt-1"></span> Prospect Creation Trend </h4>
        <div id="creationTrend" class="chart"></div>
      </div>
    </div>
  </div>
  <div class="col-6 pl-1">
    <div class="card height_360 mb_10">
      <div class="card-body">
        <h4>
           <span class="lstick pt-1"></span> Prospect Distribution <div class="form-group float-right">
            <select class="form-control custom-select custom_select_new" (change)="fnDemographicsChange($event.target.value)">
              <option value="Category">Category</option>
              <option value="Location">Location</option>
              <option value="Occupation">Occupation</option>
            </select></div>
        </h4>
        <div class="col-md-12">
          <div class="chart-container">
            <div id="demographics1" class="chart das_first_ch"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 pr-1">
    <div class="card mb_10">
      <div class="card-body">
        <h4>
          <span class="lstick pt-1"></span> Prospect Source </h4>
        <div class="chart-container">
          <div id="proSource1" class="chart"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 pl-1">
    <div class="card mb_10">
      <div class="card-body">
        <h4>
          <span class="lstick pt-1"></span> Campaign Distribution </h4>
        <div class="chart-container">
          <div id="proSource2" class="chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="mb-3"><span class="lstick pt-1"></span> Active Campaign</h4>
        <div class="table-responsive">
          <table class="table table-striped table-bordered mb-0 no-wrap">
            <tbody>
            <tr *ngFor="let acty of activity ; let i = index">
              <td>
                {{ acty.campaign }}
              </td>
              <td>
                {{ acty.count }}
              </td>

              <td>{{ acty.type }}</td>
              <td>{{ acty.percent }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

  <!--Potential Modal Popup-->

  <div class="modal" id="potential_modal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
  <ng-template #content1 let-modal>
    <div class="modal-header">
      <h4 class="modal-title"> <i class="mdi mdi-emoticon-cool font_26"></i> Top Customers</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row ml-0 mr-0 new_top_cus ">
        <div class="col-md-4 user_card" *ngFor="let user of userDatas">
          <div class="card d-flex flex-row border rounded">
            <div class="row m-0">
              <div class="col-3 p-0 w-35 align-self-center text-center">
                <img src="assets/images/users/1.jpg" class="user_img" width="50px" />
              </div>
              <div class="col-9 pl-2 pt-2 pr-2 pb-2 w-65">
                <h5>{{user.name}}
                  <span class="float-right cursor_pointer" data-toggle="modal">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                      </span>
                </h5>
                <h6>{{user.source}}</h6>
                <table>
                  <tr>
                    <td>15 Jan 2019</td>
                    <td class="text-right">
                      <div class="d-flex">
                        <img src="assets/images/my/sun.png" *ngIf="user.hotOrCold =='hot'" alt="" width="25px" height="25px">
                        <img src="assets/images/my/cold.png"  *ngIf="user.hotOrCold =='cold'"  alt="" width="25px" height="25px">
                        <img src="assets/images/my/n-user.png" class="mx-2" alt="" width="25px" height="25px">
                        <img src="assets/images/my/brief1.png" *ngIf="user.qualification =='Qualified'" alt="" width="23px" height="23px">
                        <img class="ml-2" src="assets/images/my/info.png" *ngIf="user.qualification =='Not Qualified'" alt="" width="23px" height="23px">
<!--                        <i class="mdi mdi-information font_26 text-danger" width="25px" height="25px"></i>-->
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-12">
                <table class="rev_table">
                  <tr>
                    <td>
                      <b>
                        <span class="number_two">{{user.contacts}}</span>
                      </b>
                      <br> Contacts
                    </td>
                    <td>
                      <b>
                        <span class="number_two">{{user.potential}}</span>
                      </b>
                      <br> Potentials
                    </td>
                    <td>
                      <b>
                        <span class="number_two">{{user.engagement}}</span>
                      </b>
                      <br> Engagement
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
