<!--<section class="mb-5">
  <div class="col-12 p-0">
    <div class="card">
      <div class="card-body">
&lt;!&ndash;        <h4> <span class="lstick"></span> <img src="assets/images/equity.png" alt="" width="30px"> Value and Performance of My Portfolio </h4>&ndash;&gt;
        <h4> <span class="lstick"></span> Holding </h4>

          <table class="big_table table table-striped table-bordered">
            <thead>
            <tr>
              <th>Instrument Name</th>
              <th>Asset Class</th>
              <th>Quantity</th>
              <th>Cost Price</th>
              <th>Initial Value</th>
              <th>Market Price</th>
              <th>Market Value</th>
              <th>Cost Price</th>
              <th>Initial Value</th>
              <th>Market Price</th>
              <th>Market Value</th>

              <th>Unrealized Gain / Loss</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hold of holdingValue">
                <td>{{hold.Instrument_Name}}<hr>
                  <span>{{hold.Currency}}</span>
                  <img src="assets/images/buy.png" alt="" width="50px">
                  <img src="assets/images/sell.png" alt="" width="50px">
                </td>
                <td>{{hold.Asset_Class}}</td>
                <td>{{hold.Quantity}}</td>
                <td>{{hold.sc_Cost_Price}}</td>
                <td>{{hold.sc_Initial_Value}}</td>
                <td>{{hold.sc_Market_Price}}</td>
                <td>{{hold.sc_Market_Value}}</td>
                <td>{{hold.pc_Cost_Price}}</td>
                <td>{{hold.pc_Initial_Value}}</td>
                <td>{{hold.pc_Market_Price}}</td>
                <td>{{hold.pc_Market_Value}}</td>
                <td>{{hold.Unrealized_Gain_Loss}}</td>
&lt;!&ndash;                <td>
                  <table>
                    <tr>
                      <td><img src="assets/images/buy.png" alt="" width="50px"></td>
                      <td><img src="assets/images/sell.png" alt="" width="50px"></td>
                    </tr>
                  </table>
                </td>&ndash;&gt;
              </tr>
            </tbody>
          </table>

&lt;!&ndash;        <table class="table big_table">&ndash;&gt;
&lt;!&ndash;          <tr>&ndash;&gt;
&lt;!&ndash;            <th> Securities </th>&ndash;&gt;
&lt;!&ndash;            <th> Quantity </th>&ndash;&gt;
&lt;!&ndash;            <th  class="p-0" >&ndash;&gt;
&lt;!&ndash;              <table class="inner_table">&ndash;&gt;
&lt;!&ndash;                <tr>&ndash;&gt;
&lt;!&ndash;                  <th colspan="4" class="border-0">&ndash;&gt;
&lt;!&ndash;                    INITIAL VALUES&ndash;&gt;
&lt;!&ndash;                  </th>&ndash;&gt;
&lt;!&ndash;                </tr>&ndash;&gt;
&lt;!&ndash;                <tr style="height:62px">&ndash;&gt;
&lt;!&ndash;                  <th class="border-right"> NAV / Price </th>&ndash;&gt;
&lt;!&ndash;                  <th class="border-right"> Original Value </th>&ndash;&gt;
&lt;!&ndash;                  <th> Divided Reinvestment&nbsp;Value </th>&ndash;&gt;
&lt;!&ndash;                  <th class="border-bottom-0 border-right-0"> Total Values </th>&ndash;&gt;
&lt;!&ndash;                </tr>&ndash;&gt;
&lt;!&ndash;              </table>&ndash;&gt;
&lt;!&ndash;            </th>&ndash;&gt;

&lt;!&ndash;            <th class="p-0" >&ndash;&gt;
&lt;!&ndash;              <table class="inner_table">&ndash;&gt;
&lt;!&ndash;                <tr>&ndash;&gt;
&lt;!&ndash;                  <th class="border-right-0 border-left-0" colspan="4">&ndash;&gt;
&lt;!&ndash;                    Market Values&ndash;&gt;
&lt;!&ndash;                  </th>&ndash;&gt;
&lt;!&ndash;                </tr>&ndash;&gt;
&lt;!&ndash;                <tr style="height:62px">&ndash;&gt;
&lt;!&ndash;                  <th class="border-0 border-top border-bottom-0"> NAV / Price </th>&ndash;&gt;
&lt;!&ndash;                  <th class=""> Value </th>&ndash;&gt;
&lt;!&ndash;                  <th class="border-0 border-top border-bottom-0"> Value Date </th>&ndash;&gt;
&lt;!&ndash;                </tr>&ndash;&gt;
&lt;!&ndash;              </table>&ndash;&gt;
&lt;!&ndash;            </th>&ndash;&gt;
&lt;!&ndash;            <th> Absolute </th>&ndash;&gt;
&lt;!&ndash;            <th> Gain / Loss </th>&ndash;&gt;
&lt;!&ndash;            <th> Absolute Returns (%) </th>&ndash;&gt;
&lt;!&ndash;            <th> Weightage In Portfolio (%) </th>&ndash;&gt;
&lt;!&ndash;            <th> Dividend / Quality Coupon Received </th>&ndash;&gt;
&lt;!&ndash;          </tr>&ndash;&gt;
&lt;!&ndash;          <tr>&ndash;&gt;
&lt;!&ndash;            <td colspan="9" class="bg-light py-1 text-left"> Equity  </td>&ndash;&gt;
&lt;!&ndash;          </tr>&ndash;&gt;
&lt;!&ndash;          <tr>&ndash;&gt;
&lt;!&ndash;            <td>Asia United Bank Co...</td>&ndash;&gt;
&lt;!&ndash;            <td>6,830</td>&ndash;&gt;
&lt;!&ndash;            <td>&ndash;&gt;
&lt;!&ndash;              <table class="inner_table new_table">&ndash;&gt;
&lt;!&ndash;                <tr>&ndash;&gt;
&lt;!&ndash;                  <td>435.94</td>&ndash;&gt;
&lt;!&ndash;                  <td>2,977,484.30</td>&ndash;&gt;
&lt;!&ndash;                  <td>0.00</td>&ndash;&gt;
&lt;!&ndash;                  <td>2,977,484.30</td>&ndash;&gt;
&lt;!&ndash;                </tr>&ndash;&gt;
&lt;!&ndash;              </table>&ndash;&gt;
&lt;!&ndash;            </td>&ndash;&gt;
&lt;!&ndash;            <td>&ndash;&gt;
&lt;!&ndash;              <table class="inner_table new_table">&ndash;&gt;
&lt;!&ndash;                <tr>&ndash;&gt;
&lt;!&ndash;                  <td>579.81</td>&ndash;&gt;
&lt;!&ndash;                  <td>3,960,123.47</td>&ndash;&gt;
&lt;!&ndash;                  <td>25 Jul 2019</td>&ndash;&gt;
&lt;!&ndash;                </tr>&ndash;&gt;
&lt;!&ndash;              </table>&ndash;&gt;
&lt;!&ndash;            </td>&ndash;&gt;
&lt;!&ndash;            <td>982,639.17</td>&ndash;&gt;
&lt;!&ndash;            <td>33.00%</td>&ndash;&gt;
&lt;!&ndash;            <td>5.82%</td>&ndash;&gt;
&lt;!&ndash;            <td>0.00</td>&ndash;&gt;
&lt;!&ndash;            <td>&ndash;&gt;
&lt;!&ndash;              <div class="btn btn-danger inner_btn">Sell</div>&ndash;&gt;
&lt;!&ndash;              <div class="btn btn-primary mt-2 inner_btn">Buy</div>&ndash;&gt;
&lt;!&ndash;            </td>&ndash;&gt;
&lt;!&ndash;          </tr>&ndash;&gt;
&lt;!&ndash;          <tr>&ndash;&gt;
&lt;!&ndash;            <td>Far Eastern University, Inc.</td>&ndash;&gt;
&lt;!&ndash;            <td>6,830</td>&ndash;&gt;
&lt;!&ndash;            <td>&ndash;&gt;
&lt;!&ndash;              <table class="inner_table new_table">&ndash;&gt;
&lt;!&ndash;                <tr>&ndash;&gt;
&lt;!&ndash;                  <td>435.94</td>&ndash;&gt;
&lt;!&ndash;                  <td>2,977,484.30</td>&ndash;&gt;
&lt;!&ndash;                  <td>0.00</td>&ndash;&gt;
&lt;!&ndash;                  <td>2,977,484.30</td>&ndash;&gt;
&lt;!&ndash;                </tr>&ndash;&gt;
&lt;!&ndash;              </table>&ndash;&gt;
&lt;!&ndash;            </td>&ndash;&gt;
&lt;!&ndash;            <td>&ndash;&gt;
&lt;!&ndash;              <table class="inner_table new_table">&ndash;&gt;
&lt;!&ndash;                <tr>&ndash;&gt;
&lt;!&ndash;                  <td>579.81</td>&ndash;&gt;
&lt;!&ndash;                  <td>3,960,123.47</td>&ndash;&gt;
&lt;!&ndash;                  <td>25 Jul 2019</td>&ndash;&gt;
&lt;!&ndash;                </tr>&ndash;&gt;
&lt;!&ndash;              </table>&ndash;&gt;
&lt;!&ndash;            </td>&ndash;&gt;
&lt;!&ndash;            <td>982,639.17</td>&ndash;&gt;
&lt;!&ndash;            <td>33.00%</td>&ndash;&gt;
&lt;!&ndash;            <td>5.82%</td>&ndash;&gt;
&lt;!&ndash;            <td>0.00</td>&ndash;&gt;
&lt;!&ndash;            <td>&ndash;&gt;
&lt;!&ndash;              <div class="btn btn-danger inner_btn">Sell</div>&ndash;&gt;
&lt;!&ndash;              <div class="btn btn-primary mt-2 inner_btn">Buy</div>&ndash;&gt;
&lt;!&ndash;            </td>&ndash;&gt;
&lt;!&ndash;          </tr>&ndash;&gt;
&lt;!&ndash;          <tr class="inn_bold">&ndash;&gt;
&lt;!&ndash;            <td>Sub - total</td>&ndash;&gt;
&lt;!&ndash;            <td>&ndash;&gt;
&lt;!&ndash;              <table class="inner_table new_table">&ndash;&gt;
&lt;!&ndash;                <tr>&ndash;&gt;
&lt;!&ndash;                  <td></td>&ndash;&gt;
&lt;!&ndash;                  <td>2,977,484.30</td>&ndash;&gt;
&lt;!&ndash;                  <td></td>&ndash;&gt;
&lt;!&ndash;                  <td>2,977,484.30</td>&ndash;&gt;
&lt;!&ndash;                </tr>&ndash;&gt;
&lt;!&ndash;              </table>&ndash;&gt;
&lt;!&ndash;            </td>&ndash;&gt;
&lt;!&ndash;            <td>&ndash;&gt;
&lt;!&ndash;              <table class="inner_table new_table">&ndash;&gt;
&lt;!&ndash;                <tr>&ndash;&gt;
&lt;!&ndash;                  <td></td>&ndash;&gt;
&lt;!&ndash;                  <td>3,960,123.47</td>&ndash;&gt;
&lt;!&ndash;                  <td></td>&ndash;&gt;
&lt;!&ndash;                </tr>&ndash;&gt;
&lt;!&ndash;              </table>&ndash;&gt;
&lt;!&ndash;            </td>&ndash;&gt;
&lt;!&ndash;            <td>982,639.17</td>&ndash;&gt;
&lt;!&ndash;            <td></td>&ndash;&gt;
&lt;!&ndash;            <td>5.82%</td>&ndash;&gt;
&lt;!&ndash;            <td></td>&ndash;&gt;
&lt;!&ndash;            <td>0.00</td>&ndash;&gt;
&lt;!&ndash;          </tr>&ndash;&gt;
&lt;!&ndash;          <tr class="td_bg">&ndash;&gt;
&lt;!&ndash;            <td>Total Equity</td>&ndash;&gt;
&lt;!&ndash;            <td></td>&ndash;&gt;
&lt;!&ndash;            <td>&ndash;&gt;
&lt;!&ndash;              <table class="inner_table new_table">&ndash;&gt;
&lt;!&ndash;                <tr>&ndash;&gt;
&lt;!&ndash;                  <td></td>&ndash;&gt;
&lt;!&ndash;                  <td>2,977,484.30</td>&ndash;&gt;
&lt;!&ndash;                  <td></td>&ndash;&gt;
&lt;!&ndash;                  <td>2,977,484.30</td>&ndash;&gt;
&lt;!&ndash;                </tr>&ndash;&gt;
&lt;!&ndash;              </table>&ndash;&gt;
&lt;!&ndash;            </td>&ndash;&gt;
&lt;!&ndash;            <td>&ndash;&gt;
&lt;!&ndash;              <table class="inner_table new_table">&ndash;&gt;
&lt;!&ndash;                <tr>&ndash;&gt;
&lt;!&ndash;                  <td></td>&ndash;&gt;
&lt;!&ndash;                  <td>3,960,123.47</td>&ndash;&gt;
&lt;!&ndash;                  <td></td>&ndash;&gt;
&lt;!&ndash;                </tr>&ndash;&gt;
&lt;!&ndash;              </table>&ndash;&gt;
&lt;!&ndash;            </td>&ndash;&gt;
&lt;!&ndash;            <td>982,639.17</td>&ndash;&gt;
&lt;!&ndash;            <td></td>&ndash;&gt;
&lt;!&ndash;            <td>5.82%</td>&ndash;&gt;
&lt;!&ndash;            <td></td>&ndash;&gt;
&lt;!&ndash;            <td>0.00</td>&ndash;&gt;
&lt;!&ndash;          </tr>&ndash;&gt;
&lt;!&ndash;          <tr>&ndash;&gt;
&lt;!&ndash;            <td colspan="9" class="text-left td_bg">Fixed Income</td>&ndash;&gt;
&lt;!&ndash;          </tr>&ndash;&gt;
&lt;!&ndash;          <tr>&ndash;&gt;
&lt;!&ndash;            <td colspan="9" class="bg-light py-1 text-left"> Balanced  </td>&ndash;&gt;
&lt;!&ndash;          </tr>&ndash;&gt;
&lt;!&ndash;          <tr>&ndash;&gt;
&lt;!&ndash;            <td>Integrated Micro-Electronics</td>&ndash;&gt;
&lt;!&ndash;            <td>6,830</td>&ndash;&gt;
&lt;!&ndash;            <td>&ndash;&gt;
&lt;!&ndash;              <table class="inner_table new_table">&ndash;&gt;
&lt;!&ndash;                <tr>&ndash;&gt;
&lt;!&ndash;                  <td>435.94</td>&ndash;&gt;
&lt;!&ndash;                  <td>2,977,484.30</td>&ndash;&gt;
&lt;!&ndash;                  <td>0.00</td>&ndash;&gt;
&lt;!&ndash;                  <td>2,977,484.30</td>&ndash;&gt;
&lt;!&ndash;                </tr>&ndash;&gt;
&lt;!&ndash;              </table>&ndash;&gt;
&lt;!&ndash;            </td>&ndash;&gt;
&lt;!&ndash;            <td>&ndash;&gt;
&lt;!&ndash;              <table class="inner_table new_table">&ndash;&gt;
&lt;!&ndash;                <tr>&ndash;&gt;
&lt;!&ndash;                  <td>579.81</td>&ndash;&gt;
&lt;!&ndash;                  <td>3,960,123.47</td>&ndash;&gt;
&lt;!&ndash;                  <td>25 Jul 2019</td>&ndash;&gt;
&lt;!&ndash;                </tr>&ndash;&gt;
&lt;!&ndash;              </table>&ndash;&gt;
&lt;!&ndash;            </td>&ndash;&gt;
&lt;!&ndash;            <td>982,639.17</td>&ndash;&gt;
&lt;!&ndash;            <td>33.00%</td>&ndash;&gt;
&lt;!&ndash;            <td>5.82%</td>&ndash;&gt;
&lt;!&ndash;            <td>0.00</td>&ndash;&gt;
&lt;!&ndash;            <td>&ndash;&gt;
&lt;!&ndash;              <div class="btn btn-danger inner_btn">Sell</div>&ndash;&gt;
&lt;!&ndash;              <div class="btn btn-primary mt-2 inner_btn">Buy</div>&ndash;&gt;
&lt;!&ndash;            </td>&ndash;&gt;
&lt;!&ndash;          </tr>&ndash;&gt;
&lt;!&ndash;          <tr class="td_bg">&ndash;&gt;
&lt;!&ndash;            <td>Sub - total</td>&ndash;&gt;
&lt;!&ndash;            <td></td>&ndash;&gt;
&lt;!&ndash;            <td>&ndash;&gt;
&lt;!&ndash;              <table class="inner_table new_table">&ndash;&gt;
&lt;!&ndash;                <tr>&ndash;&gt;
&lt;!&ndash;                  <td></td>&ndash;&gt;
&lt;!&ndash;                  <td>2,977,484.30</td>&ndash;&gt;
&lt;!&ndash;                  <td></td>&ndash;&gt;
&lt;!&ndash;                  <td>2,977,484.30</td>&ndash;&gt;
&lt;!&ndash;                </tr>&ndash;&gt;
&lt;!&ndash;              </table>&ndash;&gt;
&lt;!&ndash;            </td>&ndash;&gt;
&lt;!&ndash;            <td>&ndash;&gt;
&lt;!&ndash;              <table class="inner_table new_table">&ndash;&gt;
&lt;!&ndash;                <tr>&ndash;&gt;
&lt;!&ndash;                  <td></td>&ndash;&gt;
&lt;!&ndash;                  <td>3,960,123.47</td>&ndash;&gt;
&lt;!&ndash;                  <td></td>&ndash;&gt;
&lt;!&ndash;                </tr>&ndash;&gt;
&lt;!&ndash;              </table>&ndash;&gt;
&lt;!&ndash;            </td>&ndash;&gt;
&lt;!&ndash;            <td>982,639.17</td>&ndash;&gt;
&lt;!&ndash;            <td></td>&ndash;&gt;
&lt;!&ndash;            <td>5.82%</td>&ndash;&gt;
&lt;!&ndash;            <td></td>&ndash;&gt;
&lt;!&ndash;            <td>0.00</td>&ndash;&gt;
&lt;!&ndash;          </tr>&ndash;&gt;

&lt;!&ndash;          <tr>&ndash;&gt;
&lt;!&ndash;            <td colspan="9" class="bg-light py-1 text-left"> Debt  </td>&ndash;&gt;
&lt;!&ndash;          </tr>&ndash;&gt;
&lt;!&ndash;          <tr>&ndash;&gt;
&lt;!&ndash;            <td>Integrated Micro-Electronics</td>&ndash;&gt;
&lt;!&ndash;            <td>6,830</td>&ndash;&gt;
&lt;!&ndash;            <td>&ndash;&gt;
&lt;!&ndash;              <table class="inner_table new_table">&ndash;&gt;
&lt;!&ndash;                <tr>&ndash;&gt;
&lt;!&ndash;                  <td>435.94</td>&ndash;&gt;
&lt;!&ndash;                  <td>2,977,484.30</td>&ndash;&gt;
&lt;!&ndash;                  <td>0.00</td>&ndash;&gt;
&lt;!&ndash;                  <td>2,977,484.30</td>&ndash;&gt;
&lt;!&ndash;                </tr>&ndash;&gt;
&lt;!&ndash;              </table>&ndash;&gt;
&lt;!&ndash;            </td>&ndash;&gt;
&lt;!&ndash;            <td>&ndash;&gt;
&lt;!&ndash;              <table class="inner_table new_table">&ndash;&gt;
&lt;!&ndash;                <tr>&ndash;&gt;
&lt;!&ndash;                  <td>579.81</td>&ndash;&gt;
&lt;!&ndash;                  <td>3,960,123.47</td>&ndash;&gt;
&lt;!&ndash;                  <td>25 Jul 2019</td>&ndash;&gt;
&lt;!&ndash;                </tr>&ndash;&gt;
&lt;!&ndash;              </table>&ndash;&gt;
&lt;!&ndash;            </td>&ndash;&gt;
&lt;!&ndash;            <td>982,639.17</td>&ndash;&gt;
&lt;!&ndash;            <td>33.00%</td>&ndash;&gt;
&lt;!&ndash;            <td>5.82%</td>&ndash;&gt;
&lt;!&ndash;            <td>0.00</td>&ndash;&gt;
&lt;!&ndash;            <td>&ndash;&gt;
&lt;!&ndash;              <div class="btn btn-danger inner_btn">Sell</div>&ndash;&gt;
&lt;!&ndash;              <div class="btn btn-primary mt-2 inner_btn">Buy</div>&ndash;&gt;
&lt;!&ndash;            </td>&ndash;&gt;
&lt;!&ndash;          </tr>&ndash;&gt;
&lt;!&ndash;          <tr class="td_bg">&ndash;&gt;
&lt;!&ndash;            <td>Sub - total</td>&ndash;&gt;
&lt;!&ndash;            <td></td>&ndash;&gt;
&lt;!&ndash;            <td>&ndash;&gt;
&lt;!&ndash;              <table class="inner_table new_table">&ndash;&gt;
&lt;!&ndash;                <tr>&ndash;&gt;
&lt;!&ndash;                  <td></td>&ndash;&gt;
&lt;!&ndash;                  <td></td>&ndash;&gt;
&lt;!&ndash;                  <td></td>&ndash;&gt;
&lt;!&ndash;                  <td>2,977,484.30</td>&ndash;&gt;
&lt;!&ndash;                </tr>&ndash;&gt;
&lt;!&ndash;              </table>&ndash;&gt;
&lt;!&ndash;            </td>&ndash;&gt;
&lt;!&ndash;            <td>&ndash;&gt;
&lt;!&ndash;              <table class="inner_table new_table">&ndash;&gt;
&lt;!&ndash;                <tr>&ndash;&gt;
&lt;!&ndash;                  <td></td>&ndash;&gt;
&lt;!&ndash;                  <td>3,960,123.47</td>&ndash;&gt;
&lt;!&ndash;                  <td></td>&ndash;&gt;
&lt;!&ndash;                </tr>&ndash;&gt;
&lt;!&ndash;              </table>&ndash;&gt;
&lt;!&ndash;            </td>&ndash;&gt;
&lt;!&ndash;            <td>982,639.17</td>&ndash;&gt;
&lt;!&ndash;            <td></td>&ndash;&gt;
&lt;!&ndash;            <td>5.82%</td>&ndash;&gt;
&lt;!&ndash;            <td></td>&ndash;&gt;
&lt;!&ndash;            <td>0.00</td>&ndash;&gt;
&lt;!&ndash;          </tr>&ndash;&gt;
&lt;!&ndash;        </table>&ndash;&gt;
      </div>
    </div>
  </div>
</section>-->

<h4>Portfolio Holding</h4>
<div class="row">
  <div class="w-100">
    <div class="col-12">
      <div class="card p-2 mr-2">
        <div class="row">
          <!---------------- Category  ------------------>
          <div class="col-md-3 col-sm-4 col-6">
            <h5>Account</h5>
            <ng-multiselect-dropdown
                    [placeholder]="'Account'"
                    [data]="categoryList"
                    [(ngModel)]="categoryItems"
                    [settings]="categorySettings"
                    (onSelect)="onItemSelect($event)"
                    (onDeSelect)="onItemDeSelect($event)"
            >
            </ng-multiselect-dropdown>
          </div>
          <!---------------- Risk Profile Filter  End ------------------>
          <div class="col-md-3 col-sm-4 col-6">
            <h5 class="">Asset Class</h5>
            <ng-multiselect-dropdown
                    [placeholder]="'Asset Class'"
                    [data]="sourceList"
                    [(ngModel)]="sourceItems"
                    [settings]="sourceSettings"
                    (onSelect)="onItemSelect($event)"
                    (onDeSelect)="onItemDeSelect($event)"
            >
            </ng-multiselect-dropdown>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div id="accordion" class="myaccordion">
<!--      <h4>Retierment Portfolio</h4>-->
      <div class="card mb_10" *ngFor="let trans of result; let i=index" >
        <div class="card-header" [id]="'heading'+i">
          <div class="row">
            <div class="col-11">
              <table class="table">
                <tr>
                  <td>
                    <img src="assets/images/users/profile.png" class="radius_img" width="50px" alt="">

                  </td>
                  <td>
                    <h4>{{trans.Instrument_Name}}</h4>
                    <p>{{trans.Asset_Class}} | {{trans.Sector}}</p>
                  </td>
                  <td>
                    <div class="btn btn-success inner_btn">
                      Buy
                    </div>
                  </td>
                  <td>
                    <div class="btn btn-info inner_btn">
                      Sell
                    </div>
                  </td>
                  <td>
                    Currency <br>
                    {{trans.Currency}}
                  </td>
                  <td>
                    Quantity <br>
                    {{trans.Quantity}}
                  </td>
                  <td>
                    Investment Value<br>
                    {{currency}} {{trans.sc_Initial_Value}}
                  </td>
                  <td>
                    Unrealized Gain (Loss) <br>
                    {{currency}} {{trans.Unrealized_Gain_Loss}}
                  </td>
                  <td>
                    Return <br>
                    {{trans.Absolute_Return}}
                  </td>
                  <td>
                    Allocation <br>
                    {{trans.AUM}}
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-1">
              <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse"   [attr.data-target]="'#collapse'+i" aria-expanded="true" >
                <!--                <span class="fa-stack fa-2x">-->
                <!--                  <i class="fas fa-circle fa-stack-2x"></i>-->
                <!--                  <i class="fas fa-plus fa-stack-2x"></i>-->
                <!--                </span>-->
                <img src="assets/images/my/plus.png" alt="" width="30px">
              </button>
            </div>
          </div>
        </div>
        <div [id]="'collapse'+i" class="collapse" [attr.aria-labelledby]="'heading'+i" data-parent="#accordion">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h5 class="text-center">Security Currency</h5>
                <table class="table">
                  <tr>
                    <td>
                      Cost <br>
                      {{currency}}{{trans.sc_Cost_Price}}
                    </td>
                    <td>Initial Value
                      <br> {{currency}}{{trans.sc_Initial_Value}}</td>
                    <td>
                      Market Price <br>
                      {{currency}}{{trans.sc_Market_Price}}
                    </td>
                    <td>
                      Market Value <br>
                      {{currency}}{{trans.sc_Market_Value}}
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-6">
                <h5 class="text-center">Portfolio Currency</h5>
                <table class="table">
                  <tr>
                    <td>
                      Cost <br>
                      {{currency}}{{trans.pc_Cost_Price}}
                    </td>
                    <td>Initial Value
                      <br> {{currency}}{{trans.pc_Initial_Value}}</td>
                    <td>
                      Market Price <br>
                      {{currency}}{{trans.pc_Market_Price}}
                    </td>
                    <td>
                      Market Value <br>
                      {{currency}}{{trans.pc_Market_Value}}
                    </td>
                  </tr>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
<!--      <h4>Retierment Advisory Portfolio</h4>
      <div class="card mb_10" *ngFor="let trans of raPort; let j=index" >
        <div class="card-header" [id]="'heading1'+j">
          <div class="row">
            <div class="col-11">
              <table class="table">
                <tr>
                  <td>
                    <img src="assets/images/users/profile.png" class="radius_img" width="50px" alt="">
                  </td>
                  <td>
                    <h4>{{trans.Instrument_Name}}</h4>
                    <p>{{trans.Asset_Class}}</p>
                  </td>
                  <td>
                    <div class="btn btn-success inner_btn">
                      Buy
                    </div>
                  </td>
                  <td>
                    <div class="btn btn-info inner_btn">
                      Sell
                    </div>
                  </td>
                  <td>
                    Currency <br>
                    {{trans.Currency}}
                  </td>
                  <td>
                    Quantity <br>
                    {{trans.Quantity}}
                  </td>
                  <td>
                    Investment Value<br>
                    {{currency}} {{trans.sc_Initial_Value}}
                  </td>
                  <td>
                    Unrealized Gain (Loss) <br>
                    {{currency}} {{trans.Unrealized_Gain_Loss}}
                  </td>
                  <td>
                    Return <br>
                    {{trans.Absolute_Return}}
                  </td>
                  <td>
                    Allocation <br>
                    {{trans.AUM}}
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-1">
              <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse"   [attr.data-target]="'#collapse1'+j" aria-expanded="true" >
                &lt;!&ndash;                <span class="fa-stack fa-2x">&ndash;&gt;
                &lt;!&ndash;                  <i class="fas fa-circle fa-stack-2x"></i>&ndash;&gt;
                &lt;!&ndash;                  <i class="fas fa-plus fa-stack-2x"></i>&ndash;&gt;
                &lt;!&ndash;                </span>&ndash;&gt;
                <img src="assets/images/my/plus.png" alt="" width="30px">
              </button>
            </div>
          </div>
        </div>
        <div [id]="'collapse1'+j" class="collapse" [attr.aria-labelledby]="'heading1'+j" data-parent="#accordion">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h5 class="text-center">Security Currency</h5>
                <table class="table">
                  <tr>
                    <td>
                      Cost <br>
                      {{currency}}{{trans.sc_Cost_Price}}
                    </td>
                    <td>Initial Value
                      <br> {{currency}}{{trans.sc_Initial_Value}}</td>
                    <td>
                      Market Price <br>
                      {{currency}}{{trans.sc_Market_Price}}
                    </td>
                    <td>
                      Market Value <br>
                      {{currency}}{{trans.sc_Market_Value}}
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-6">
                <h5 class="text-center">Portfolio Currency</h5>
                <table class="table">
                  <tr>
                    <td>
                      Cost <br>
                      {{currency}}{{trans.pc_Cost_Price}}
                    </td>
                    <td>Initial Value
                      <br> {{currency}}{{trans.pc_Initial_Value}}</td>
                    <td>
                      Market Price <br>
                      {{currency}}{{trans.pc_Market_Price}}
                    </td>
                    <td>
                      Market Value <br>
                      {{currency}}{{trans.pc_Market_Value}}
                    </td>
                  </tr>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
      <h4>Execution Only Account</h4>
      <div class="card mb_10" *ngFor="let trans of eoAcc; let k=index" >
        <div class="card-header" [id]="'heading2'+k">
          <div class="row">
            <div class="col-11">
              <table class="table">
                <tr>
                  <td>
                    <img src="assets/images/users/profile.png" class="radius_img" width="50px" alt="">
                  </td>
                  <td>
                    <h4>{{trans.Instrument_Name}}</h4>
                    <p>{{trans.Asset_Class}}</p>
                  </td>
                  <td>
                    <div class="btn btn-success inner_btn">
                      Buy
                    </div>
                  </td>
                  <td>
                    <div class="btn btn-info inner_btn">
                      Sell
                    </div>
                  </td>
                  <td>
                    Currency <br>
                    {{trans.Currency}}
                  </td>
                  <td>
                    Quantity <br>
                    {{trans.Quantity}}
                  </td>
                  <td>
                    Investment Value<br>
                    {{currency}} {{trans.sc_Initial_Value}}
                  </td>
                  <td>
                    Unrealized Gain (Loss) <br>
                    {{currency}} {{trans.Unrealized_Gain_Loss}}
                  </td>
                  <td>
                    Return <br>
                    {{trans.Absolute_Return}}
                  </td>
                  <td>
                    Allocation <br>
                    {{trans.AUM}}
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-1">
              <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse"   [attr.data-target]="'#collapse2'+k" aria-expanded="true" >
                &lt;!&ndash;                <span class="fa-stack fa-2x">&ndash;&gt;
                &lt;!&ndash;                  <i class="fas fa-circle fa-stack-2x"></i>&ndash;&gt;
                &lt;!&ndash;                  <i class="fas fa-plus fa-stack-2x"></i>&ndash;&gt;
                &lt;!&ndash;                </span>&ndash;&gt;
                <img src="assets/images/my/plus.png" alt="" width="30px">
              </button>
            </div>
          </div>
        </div>
        <div [id]="'collapse2'+k" class="collapse" [attr.aria-labelledby]="'heading2'+k" data-parent="#accordion">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h5 class="text-center">Security Currency</h5>
                <table class="table">
                  <tr>
                    <td>
                      Cost <br>
                      {{currency}}{{trans.sc_Cost_Price}}
                    </td>
                    <td>Initial Value
                      <br> {{currency}}{{trans.sc_Initial_Value}}</td>
                    <td>
                      Market Price <br>
                      {{currency}}{{trans.sc_Market_Price}}
                    </td>
                    <td>
                      Market Value <br>
                      {{currency}}{{trans.sc_Market_Value}}
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-6">
                <h5 class="text-center">Portfolio Currency</h5>
                <table class="table">
                  <tr>
                    <td>
                      Cost <br>
                      {{currency}}{{trans.pc_Cost_Price}}
                    </td>
                    <td>Initial Value
                      <br> {{currency}}{{trans.pc_Initial_Value}}</td>
                    <td>
                      Market Price <br>
                      {{currency}}{{trans.pc_Market_Price}}
                    </td>
                    <td>
                      Market Value <br>
                      {{currency}}{{trans.pc_Market_Value}}
                    </td>
                  </tr>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>
