<div class="card-body">
    <div class="row p-t-20">
        <div class="col-md-3">
            <select class="form-control custom-select">
                <option value="Customer">Customer</option>
                <option value="Prospect">Prospect</option>
            </select>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input aria-multiline="false" autocapitalize="off" autocorrect="off" class="form-control" id="typeahead-format" role="combobox"
                    type="text" autocomplete="off" aria-autocomplete="list" aria-expanded="true"
                    aria-owns="ngb-typeahead-6">
            </div>
        </div>
        <div class="col-md-3">
<!--            <div class="custom-control custom-radio">-->
<!--                <input class="custom-control-input" id="customRadio11" name="customRadio" type="radio">-->
<!--                <label class="custom-control-label" for="customRadio11">Prospect Name</label>-->
<!--            </div>-->
        </div>

    </div>
    <div class="row ">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Oppurtunity Name</label>
                <input class="form-control form-control-danger" id="oppurtunityName" placeholder="Oppurtunity Name" type="text">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Oppurtunity Type</label>
                <select class="form-control custom-select" (change)="fnOppurtunityTypeChange($event.target.value)">
                    <option *ngFor="let oppurtunity of oppurtunityType" [value]="oppurtunity">{{oppurtunity}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-3" *ngIf="otherInvestmentDD">
            <div class="form-group">
                <label class="control-label">Other Investment</label>
                <select class="form-control custom-select">
                    <option *ngFor="let investment of otherInvestment" [value]="investment">{{investment}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" *ngIf="otherFiduciaryDD">
                <label class="control-label">Other Fiduciary Services</label>
                <select class="form-control custom-select">
                    <option *ngFor="let fiduciary of otherFiduciary" [value]="fiduciary">{{fiduciary}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Status</label>
                <select class="form-control custom-select" (change)="fnStatusChange($event.target.value)">
                    <option value="Open">Open</option>
                    <option value="Closed">Closed</option>
                </select>
            </div>
        </div>
        <div class="col-md-3" *ngIf="resultDD">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <select class="form-control custom-select" (change)="fnResultChange($event.target.value)">
                    <option value="Won">Won</option>
                    <option value="Lost">Lost</option>
                </select>
            </div>
        </div>

        <div class="col-md-1" *ngIf="investementAmountSet">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <select class="form-control custom-select">
                    <option *ngFor="let currency of currencyCode" [value]="currency">{{currency}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-3" *ngIf="investementAmountSet">
            <div class="form-group">
                <label class="control-label">Investment Amount</label>
                <input class="form-control form-control-danger" id="investmentAmount" placeholder="Investment Amount" type="text">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Stage</label>
                <select class="form-control custom-select" (change)="fnStageChange($event.target.value)">
                    <option value="">-Stage-</option>
                    <option *ngFor="let stage of stages" [value]="stage">{{stage}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-4">
                            <label class="control-label">Date</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Probability</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">No. of Days</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row p-t-10">
                        <div class="col-md-4">
                            <label class="control-label">{{date}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">{{probability}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">{{noOfDays}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Target Investment Amount</label>
            </div>
        </div>

        <div class="col-md-1">
            <div class="form-group">
                <select class="form-control custom-select">
                    <option *ngFor="let currency of currencyCode" [value]="currency">{{currency}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input class="form-control form-control-danger" id="" placeholder="Target Amount" type="number">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">Target Closure Date</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control ng-pristine ng-valid ng-touched" type="date" name="dp1" placeholder="DD/MM/YYYY">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-t-10">
        <div  class="col-md-3">
            <button class="btn btn-primary" (click)="saveContact(content3)">Save</button>
        </div>
        <div  class="col-md-3">
            <button class="btn btn-primary" (click)="cancelContact()">Cancel</button>
        </div>
    </div>
</div>
<ng-template #content3 let-modal>
    <div class="modal-body">

        <h3>You've created the Potential successfully</h3>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close')" >OK</button>
    </div>
</ng-template>
