@import '~perfect-scrollbar/css/perfect-scrollbar.css';
.ps .ps__scrollbar-y-rail {left: 3px;right: auto;}
/*inner_btn and btn-primary - inside card btns*/
/*inner_btn - Main btns*/
/*inner_btn - Main btns*/
.small_font{font-size:10px;}
.main_box{padding-left:10px;padding-right:10px}
.main_box .col-lg-3 {padding:5px}
.main_box .card{margin-bottom:15px}
.card-body{padding:8px !important}
.usd_txt{font-size:10px;vertical-align: bottom;position: relative;top: -6px;width:20px}
body{font-size:12px !important;font-weight: 400 !important;color:rgba(0,0,0,0.6) !important;}
p{color:rgba(0,0,0,0.5) !important;}
.cus_mute{color:rgba(0,0,0,0.4) !important;}
.customers_img{border-radius:50%;width:70px}
.perfomance{background:#fff;box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);padding:8px;margin-bottom:10px}
.perfomance sup i{font-size: 25px;padding: 10px 5px;}
.perfomance .progress{height: 5px !important;}
.card{border:0 !important;}
.perfomance .card{border:0; border-bottom:1px solid #eee !important;box-shadow:unset;
  margin-bottom: 10px !important;padding: 0;}
.perfomance h5{width:100%;margin-bottom:5px}
.plus p{margin:0}
.plus td{padding:7px  !important }
.card {box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.1);border-radius:0 !important;margin-bottom:15px !important;}
.lstick {margin-left:-10px !important;margin-right: 18px !important;margin-top:-13px !important}
.padding_0{padding:0}
.pl15{padding-left:15px}
.box_img{border-radius:50%;padding:5px;width:45px;height: 45px;text-align: center;line-height: 40px;}
.box_img i{color:#fff;font-size:20px}
.cart_part img{ width:50px; border-radius:50%}
.active_schedule td{vertical-align: middle}
.active_schedule td table td{border:0}
/*gradients*/
.orange_grad{
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(255,152,0,.4);
  background: #ffa726; /* Old browsers */
  background: -moz-linear-gradient(left,  #ffa726 0%, #fb8c00 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ffa726 0%,#fb8c00 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ffa726 0%,#fb8c00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa726', endColorstr='#fb8c00',GradientType=1 ); /* IE6-9 */}
.pink_grad{box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(233,30,99,.4);
  background: #ec407a; /* Old browsers */
  background: -moz-linear-gradient(left,  #ec407a 0%, #d81b60 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ec407a 0%,#d81b60 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ec407a 0%,#d81b60 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec407a', endColorstr='#d81b60',GradientType=1 ); /* IE6-9 */
}
.green_grad{
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(76,175,80,.4);
  background: #66bb6a; /* Old browsers */
  background: -moz-linear-gradient(left,  #66bb6a 0%, #43a047 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #66bb6a 0%,#43a047 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #66bb6a 0%,#43a047 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66bb6a', endColorstr='#43a047',GradientType=1 ); /* IE6-9 */
}
.blue_grad{box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(0,188,212,.4);
  background: #26c6da; /* Old browsers */
  background: -moz-linear-gradient(left,  #26c6da 0%, #00acc1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #26c6da 0%,#00acc1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #26c6da 0%,#00acc1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26c6da', endColorstr='#00acc1',GradientType=1 ); /* IE6-9 */
}
.btn-warning{color:#fff !important;margin-right:8px;}
.perfomance .card-body{padding:0 !important}
.mb0{margin-bottom:0}
.media_padding_0{padding:0 !important}
p{margin:0 !important;}
h1,h2,h3,h4,h5,h6{font-weight:500 !important; color:rgba(0,0,0,0.7) !important}
h4{font-size: 16px !important; font-weight: normal !important;}
h5{font-size:14px !important;font-weight: normal !important}
h6{margin-top:3px !important;font-weight: normal !important}
table{width:100%}
.number_txt{ font-size:25px;}
.number_two{font-size:16px}
.portfolio .number_txt{font-size:20px}
.w-60{width:60%}
.w-40{width:40%}
.btn-warning{padding:3px 10px !important;border-radius:25px !important;font-size:12px;background:#26c6da !important;border:2px solid #26c6da !important}
.btn-success{padding:3px 10px !important;border-radius:25px !important;font-size:14px;}
.btn-danger{padding:3px 10px !important;border-radius:25px !important;font-size:14px;}
.btn-warning:hover{border-radius:0px !important;box-shadow: 0px 2px 8px rgba(0,0,0,0.5) !important;transition: .3s ease-out;}
.btn-success:hover{border-radius:0px !important;box-shadow: 0px 2px 8px rgba(0,0,0,0.5) !important;transition: .3s ease-out;}
.btn-danger:hover{border-radius:0px !important;box-shadow: 0px 2px 8px rgba(0,0,0,0.5) !important;transition: .3s ease-out;}
/*color:#26c6da !important*/
.cus_investment .col-4{padding-left:5px;padding-right:5px}
.attach_ic i{font-size:20px;margin-top:20px}
.notes img{border-radius:50%}
.active_schedule td{padding:5px !important;vertical-align: middle !important;}
.active_schedule i{ font-size:20px;color:#fff}
.active_schedule i.fa-check{ color:#008000;}
.radius_img{border-radius:50%}
h6{font-size:14px}
.user_img{width:80px; height:80px; border-radius:50%}
.toggle_group{float:left;width:100%}
.toggle_group li{background:#26c6da;color:#fff;width: 90px;list-style: none;float:left;
  text-align: center;border-right: 2px solid #fff;padding: 5px 3px 3px 3px;}
.toggle_group li:last-child{border-right:0}
.user_card:hover .fav_set{ display:block;transition: all .3s ease-in-out;}
.fav_set{transition: all .3s ease-in-out;width: 0; height: 0; border-top: 48px solid #ffbf00; border-right: 70px solid transparent;position:absolute;display:none;cursor: pointer}
.fav_set i{position: relative;top: -43px;left: 10px;color:#fff}
.user_card li{color:rgba(0,0,0,0.4) !important; text-overflow: ellipsis }
.w-35{width:35%}
.w-65{width:65%}
.user_card h5{margin-bottom:5px}
.user_card h6{margin-bottom:5px;color:rgba(0,0,0, 0.5) !important}
.address_book{width:100%;}
.address_book li{ padding-bottom:3px;font-size:12px;text-overflow: ellipsis;overflow: hidden;white-space:nowrap}
.address_book li i{color:rgba(0,0,0,0.3) !important;font-size:12px;}
.user_card{padding-right:5px !important;padding-left:0 !important}
.user_card{padding-right:5px !important;padding-left:0 !important}
hr { margin-top: 12px  !important;margin-bottom: 10px !important}
.ml_m10{margin-left:-10px}
.pr_18{padding-right:18px !important}
.main_box .text-muted{color:#fff !important}
.main_box .usd_txt{color:#fff !important}
.main_box .number_txt{color:#fff !important}
.row_chart{margin:0;background:#fff;box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.1);padding:10px;margin-bottom:10px}
.orange_grad .box_img{background:#f08700;}
.pink_grad .box_img{background:#d81b60;}
.green_grad .box_img{background:#43a047;}
.blue_grad .box_img{background:#00acc1;}
.cus_bxes .box_img {border-radius: 50%; padding: 5px; width: 40px; height: 40px;
  text-align: center; line-height: 35px;}
.w-27{width:27.3%}
.w-18{width:18%}
.orange_grad .border-right{border-right:1px solid rgba(0,0,0,0.1) !important}
.cust_chart{height:128px;margin-top:-30px}
.perfomance .border_btm_0{border-bottom:0 !important}
.top_customers .card{margin-bottom:11px !important}
.pb_12{padding-bottom:12px}
.font_13{font-size:13px !important}
.lh_13{line-height:1.3}
.cust_chart .reading-block{font-size:14px !important;font-weight:bold !important}
.cust_chart .reading-affix{color:#000 !important}
.w_80{width:80%}
.w_20{width:20%}
.weight_500{font-weight:500}
.new_bx .card{color: rgba(255,255,255, 0.7) !important; background: #1e717b !important;}
.new_bx .orange_grad{background: #04122ba8 !important;box-shadow:initial !important;}
.font_12{font-size:10px;}
.border_radius{border-radius:50%}
.green_txt{color:#008000}
.pl_10{padding-left:10px}
.pt_10{padding-top:10px}
/*icons*/
.ic_media a{background:#D2D7D3;color: #222;border-radius: 100%;display: inline-block;text-align: center;text-decoration: none;position: relative;width:30px;height:30px;margin: 0 2px;transition: all .5s;line-height:30px;}
.ic_media a.icon:before{font-family: "FontAwesome", sans-serif;color: #fff; font-size:16px;}
.ic_media a.facebook:before{content: '\f09a';}
.ic_media a.twitter:before{content: '\f099';}
.ic_media a.github:before{content: '\f276';}
.ic_media a.dribble:before{content: '\f17d';}
.ic_media a.pinterest:before{content: '\f0d2';}
.ic_media a.facebook:hover{background-color: #4183d7;color: #bfbfbf;}
.ic_media a.twitter:hover{background-color:#19b5fe;color: #fff;}
.ic_media a.github:hover{background-color: #f90;color: #fff;}
.ic_media a.dribble:hover{background-color: #f62459;color: #fff;}
.ic_media a.pinterest:hover{background-color: #f22613;color: #fff;}
.address_book.new_add_book li{font-size:14px;text-overflow: inherit;
  overflow: inherit;
  white-space: inherit;}
.cus_invest_sum .number_txt {font-size:20px;}
.cus_invest_sum p {color: rgba(0,0,0,0.5) !important;}
.new_c_bxes.cus_bxes .box_img{width: 35px !important;height: 35px !important;line-height: 26px !important;}
.new_c_bxes .box_img i { font-size:14px !important;}
#chartdiv{margin:0 auto}
.ng5-slider .ng5-slider-pointer::after { width:4px !important; height: 4px !important;top: 4px !important;left: 4px !important;}
.ng5-slider .ng5-slider-pointer{width:12px !important;height:12px !important;top: -4px !important;}
.w-14{width:14.28%}
.defaultdark .left-sidebar, .defaultdark .card-no-border .left-sidebar, .defaultdark .card-no-border .sidebar-nav{background:#fff;box-shadow: 0 16px 20px -12px rgba(0,0,0,.46),0 4px 25px 0 rgba(0,0,0,.10),0 8px 10px -5px rgba(0,0,0,.1);}

.home_txt{background:#26c6da}
.home_txt a{color:#fff !important;font-weight:500 !important;text-transform: uppercase !important;}
.home_txt i{color:#fff !important}
.mail_phone{font-weight: 400 !important;font-size: 12px !important;color:rgba(0,0,0,0.4) !important;}
.sidebar-nav{padding-top:0}
.new_ic_cust{font-size:50px}
.lstick {margin-left: -10px !important;margin-right: 10px !important;margin-top: -10px !important;}
.attach_ic i{color: rgba(0,0,0,0.2) !important;cursor:pointer}
.attach_ic i:hover{color:#f90 !important}
.left-sidebar{padding-top:60px;background: #f5f8f9;}
.cus_select {border: 1px solid #dadada;padding: 3px;border-radius: 3px;color:rgba(0,0,0,0.5) !important;font-size: 13px;
  margin-right: 10px;position:relative !important;z-index: 999 !important}
.dril_card h6{color:rgba(0,0,0,0.4) !important;font-size:12px;}
.dril_card h4{font-size:16px !important}
.k-sparkline span{height:55px !important}
.k-sparkline{margin-top:-6px !important;}
.sm_bx h6{color:rgba(255,255,255,0.9) !important;font-size:12px;font-weight: lighter !important}
.sm_bx p {color:#fff !important;font-size:20px;font-weight:500;padding-top: 5px;}
.sm_bx .card-body{padding-left:5px !important;padding-right:5px !important}
.w_50{width:50px}
.cus_btn{font-size: 12px;padding: 2px 8px;width:65px;border-radius:25px;}
.sep_icons{font-size:20px;color:rgba(0,0,0,0.5) !important}
.w_30px{width:30px}
.w_50px{width:50px}
/*.inner_btn{padding:2px 10px !important; width:70px;font-size:11px;border-radius:25px}*/
.inner_btn{padding:2px 10px !important;font-size:11px;border-radius:25px}
.active_schedule.new_sched td {padding:2px !important;}
.alpha_bx h4{font-size:14px !important;color:rgba(0,0,0,0.9) !important}
.alpha_bx .number_txt{font-size:20px}
.mb_10{margin-bottom:10px !important}
.list_btns_cust .btn-warning {padding: 2px 10px !important;padding-right: 10px;padding-left: 10px;border-radius:2px !important;
  font-size: 14px; background: #26c6da !important; border: 2px solid  #26c6da !important; width: 80px;margin-bottom:15px}
.list_btns_cust .mat-button-toggle{color:#fff;}
.top_0{top:0}
.font_16{font-size:14px !important}
.font_26{font-size:26px !important;}
.color_05{color:rgba(0,0,0,0.5) !important}
.color_02{color:rgba(0,0,0,0.2) !important}
.color_03{color:rgba(0,0,0,0.3) !important}
.pl-0{padding-left:0 !important}
.pr-0{padding-right:0 !important}
.cust_ove_bx path:last-child{fill:#7dbad9  !important}
.font_20{font-size:20px}
.mb_10{margin-bottom:10px !important}
.lit_numb_txt{font-size:26px !important;color:rgba(0,0,0,0.3) !important;position: relative;top:10px}
/*.opac_box .text-danger{opacity:0.7}*/
/*.opac_box .text-success{opacity:0.7}*/
.new_top_cus .user_card{padding:5px !important}
.new_top_cus .card{background:#f2f3f7;margin-bottom:0 !important;box-shadow:initial}
.new_top_cus{margin-left:0px !important;margin-right:0px !important;padding:5px;margin-bottom:10px;background:#fff;box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.1);}
.w_85px{width:85px}
.w_100px{width:100px}
.new_top_cus .user_img{width:60px;height:60px}
.rev_table{font-size:13px;}
.rev_table td{ padding-top:3px;padding-bottom:5px;color:rgba(0,0,0,0.5)}
.cursor_pointer{cursor:pointer}
.new_top_cus .fa-ellipsis-h{color:rgba(0,0,0,0.5)}
.new_top_cus .fa-ellipsis-h:hover{color:#f90}
li{list-style:none;}
.cus_mgd .card, .opac_box .card{margin-bottom:8px !important }
.txion_table td{border:0}
.txion_box h6{ font-size:15px;font-weight:500 !important;padding-top:5px}
.txion_box h4 {font-size:26px !important;color:#fff !important;padding-top: 10px;}
.txion_table .text-info{ text-transform: uppercase;font-weight:500}
.fa-chevron-circle-left, .fa-chevron-circle-right{color:#f90}
.pers_num {font-size:22px;color: rgba(0,0,0,0.9);}
.px_10{padding-left:10px !important; padding-right:10px !important}
/*opacity*/
.opacity_05{color:rgba(0,0,0,0.5) !important}
.mb_20{margin-bottom:20px}
.ng5-slider .ng5-slider-bubble{font-size:14px}
.card_mar_remove .card{ margin-bottom:10px !important}
kendo-chart.cus_kendo{width:250px !important;height:300px !important;}
d-inline-flex{width: 106px;overflow: hidden;font-size: 25px;margin-top: -8px;}
.modal-lg{max-width: 90% !important}
.main_box h6{font-size:12px}
.main_box .number_txt {font-size: 20px;}
.main_box .usd_txt { font-size: 20px;top: 0}
.main_box .card-body {padding: 20px 8px !important;}
.font-12{font-size:12px !important}
.dril_box{margin-bottom:15px}
.dril_box div{width:25%;padding:10px 8px}
.dril_box h5{color:#fff !important;padding:5px 0px;font-size:12px !important;padding-top:10px}
.dril_box h4{color:#fff !important;padding:5px 0px;font-size:16px !important;padding-bottom:0}
.box_change .card{ margin-bottom:10px !important}
.mb_10{margin-bottom:10px !important}
.das_first_ch{display:flex;width:100%}
#top1{margin-left: -80px; margin-top:-25px;}
#top2{margin-left:-50px; margin-top:-25px;}
.h_150{height:152px}
.line{border-left: 1px solid #ecebeb;position: absolute;left: 1px;left: 46%;height: 140px;top: -31px;}
.position_relative{position:relative}
.lt_24{line-height:24px}
.custom-_select_new{float:right;width:120px;font-size:14px;min-height:32px;height:30px;padding-left:5px}
.custom_select_new{float:right;width:120px;font-size:14px;min-height:32px;height:30px;padding-left:5px}
.opac_box .card{cursor: pointer}
.apexcharts-toolbar {opacity: 0 !important;}
.cus_svg svg { width:71px;height:71px}
.mt_m2{margin-top:-20px}
.second_svg svg{overflow: visible !important;margin-left:20px}
.visible_svg svg{overflow: visible !important;}
.address_book li{font-size:12px !important}
#three_line_txt, .three_line_txt{display: block !important;
  display: -webkit-box !important;
  max-width: 100% !important;
  height:40px !important;
  margin: 0 auto !important;
  -webkit-line-clamp: 2 !important;-moz-box-orient: vertical; -webkit-box-orient:vertical;
  overflow: hidden !important;text-overflow: ellipsis !important;-webkit-box-orient: block-axis;}
.hit_193{height:193px}
/*.big_table td, .big_table th{ padding:4px 3px;font-size:12px;border:1px solid #eee;vertical-align:middle}*/
/*.big_table th{background: #018a9b;color:#fff;font-weight: 600;font-size: 12px;}*/
/*.inner_table th{text-transform: capitalize;}*/
/*.new_table td{border:0}*/
/*.big_table td:last-child{ text-align: right}*/
/*.inn_bold td{font-weight:bold}*/
/*.td_bg{background:#018a9b;color:#fff;font-weight:bold}*/
.big_table th{ background:#018a9b; color:#fff}
.height_350{height:350px}
.eng_bx_one .chart{ left: -20px;top: -30px;position:relative}
.eng_bx_second .chart{top: -24px;position:relative}
.eng_bx_last .chart{top: -25px;position:relative}
.height_360{height:360px}
.cursor_unset{cursor:auto !important;}
#videoModal .modal-dialog, #videoModal1 .modal-dialog, #videoModal2 .modal-dialog {max-width: 80%;}
.set_height{height:450px;overflow:auto}
.custom_md_icons{font-size:25px !important;position:relative;top:-2px}
/*.border_radius0{border-radius: 0 !important}*/
#deviationChart{min-height:250px !important;}
.inner_img_rad img{border-radius:50%;width:50px}
.cus_star{width: 85px;overflow: hidden;font-size: 20px;margin-right:15px}
.d_none{display:none}
.defaultdark.mini-sidebar .d_none{ display:block !important;padding-top:12px}
.pb_50 {padding-bottom: 50px}
