<form (ngSubmit)="onSubmit()" [formGroup]="contactForm" autocomplete="off">
  <div class="card-body">
    <div class="row p-t-20">
      <div class="col-md-3">
        <label class="hoverable" for="fileInput">
          <img style="cursor: pointer;" class="img-circle" width="75"
               src="https://www.w3schools.com/howto/img_avatar.png" alt="con_pic">
          <div class="background"></div>
        </label>
        <br/>
        <input id="fileInput" type='file' style="display:none">
        <button style="display:none">delete</button>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label">Type</label>
          <select class="form-control custom-select" formControlName="type">
            <option disabled selected value="">-Select-</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label" for="employee">Employee</label>
          <input class="form-control" placeholder="Employee" formControlName="employee" id="employee" type="text">
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-2">
        <div class="form-group">
          <div class="form-group">
            <label class="control-label">Salutation</label>
            <select class="form-control custom-select" formControlName="salutation">
              <option value="" selected disabled>-Select-</option>
              <option value="Mr">MR</option>
              <option value="Ms">Ms</option>
              <option value="Mrs">Mrs</option>
              <option value="Dr">Dr</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label">First Name</label>
          <input class="form-control form-control-danger" formControlName="firstName" id="firstName" placeholder="First Name" type="text">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label">Middle Name</label>
          <input class="form-control form-control-danger" formControlName="middleName" id="middleName" placeholder="Middle Name" type="text">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label">Last Name</label>
          <input class="form-control form-control-danger" formControlName="lastName" id="lastName" placeholder="Last Name" type="text">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label class="control-label">Country Code</label>
          <select class="form-control custom-select" formControlName="countryCodeMobile">
            <option selected disabled value=""> -Select- </option>
            <option *ngFor="let code of countryCodes" [value]="code">{{code}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="mobileNumber" class="control-label">Mobile</label>
          <input class="form-control form-control-danger" [ngClass]="{'is-invalid':submitted && f.mobile.errors}"
                 formControlName="mobile" id="mobileNumber" placeholder="Mobile" type="tel">
          <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
            <div *ngIf="f.mobile.errors"><small>Mobile number must be 10 char</small></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="emailId">Email Work</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon21"><i class="ti-email"></i></span>
            </div>
            <input aria-describedby="basic-addon22" [ngClass]="{'is-invalid':submitted && f.workEmail.errors}"
                   formControlName="workEmail" id="emailId" class="form-control" placeholder="Email Work" type="email">
            <div *ngIf="submitted && f.workEmail.errors" class="invalid-feedback">
              <div *ngIf="f.workEmail.errors.email"><small>Please enter a valid email</small></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label class="control-label">Country Code</label>
          <select class="form-control custom-select" formControlName="countryCodeDesk">
            <option selected disabled value=""> -Select- </option>
            <option *ngFor="let code of countryCodes"  [value]="code">{{code}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">Desk / Landline</label>
          <input class="form-control form-control-danger" [ngClass]="{'is-invalid':submitted && f.desk.errors}"
                 formControlName="desk" placeholder="Landline" type="tel">
          <div *ngIf="submitted && f.desk.errors" class="invalid-feedback">
            <div *ngIf="f.desk.errors"><small>Desk / Landline number must be 10 char</small></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Email Personal</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                  <span class="input-group-text">
                  <i class="ti-email"></i>
                  </span>
            </div>
            <input [ngClass]="{'is-invalid':submitted && f.personalEmail.errors}"
                   formControlName="personalEmail" class="form-control" placeholder="Email Personal" type="email">
            <div *ngIf="submitted && f.personalEmail.errors" class="invalid-feedback">
              <div *ngIf="f.personalEmail.errors.email"><small>Please enter a valid email</small></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label class="control-label">Country Code</label>
          <select class="form-control custom-select" formControlName="countryCodeFax">
            <option selected disabled value=""> -Select- </option>
            <option *ngFor="let code of countryCodes" [value]="code">{{code}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">Fax</label>
          <input class="form-control form-control-danger" [ngClass]="{'is-invalid':submitted && f.fax.errors}"
                 formControlName="fax" placeholder="Fax" type="tel">
          <div *ngIf="submitted && f.fax.errors" class="invalid-feedback">
            <div *ngIf="f.fax.errors"><small>Fax number must be 10 char</small></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Email Other</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon22"><i class="ti-email"></i></span>
            </div>
            <input [ngClass]="{'is-invalid':submitted && f.otherEmail.errors}" class="form-control" formControlName="otherEmail"
                   placeholder="Email Other" type="email">
            <div *ngIf="submitted && f.otherEmail.errors" class="invalid-feedback">
              <div *ngIf="f.otherEmail.errors.email"><small>Please enter a valid email</small></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <h5 class="p-t-10">Social Media / Instant Messanger</h5>
    <div class="row p-t-10">
      <div class="col-md-3">
        <div class="form-group">
          <input class="form-control form-control-danger" placeholder="Facebook" type="text">
        </div>
      </div>
      <div class="col-md-3">
        <div  class="input-group">
          <div  class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <input  aria-describedby="basic-addon1" aria-label="Twitter" class="form-control" placeholder="Twitter" type="text">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <input class="form-control form-control-danger" placeholder="Linked In" type="text">
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <input aria-describedby="basic-addon1" aria-label="Skype" class="form-control" placeholder="Skype" type="text">
        </div>
      </div>
    </div>
    <div class="row p-t-10">
      <div class="col-md-1">
      </div>
      <div class="col-md-3">
        <div class="custom-control custom-checkbox">
          <input class="custom-control-input" id="customCheck1" type="checkbox">
          <label class="custom-control-label" for="customCheck1">
            <img alt="whatsApp" class="img-circle" width="50" src="assets/images/icon/whatsapp.png">
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" id="customCheck2" type="checkbox">
            <label class="custom-control-label" for="customCheck2">
              <img alt="Viber" class="img-circle" width="50" src="assets/images/icon/viber.png">
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" id="customCheck3" type="checkbox">
            <label class="custom-control-label" for="customCheck3">
              <img alt="Messanger" class="img-circle" width="70" src="assets/images/icon/messenger.png">
            </label>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <h5 class="p-t-10">Address</h5>
    <div class="row p-t-10">
      <div class="col-md-3">
        <div class="form-group">
          <select class="form-control custom-select" (change)="fnCountryChange($event.target)">
            <option selected disabled value="">Country</option>
            <option *ngFor="let type of county" [value]="type">{{type}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <select class="form-control custom-select" (change)="fnStateChange($event.target)">
            <option selected disabled value="">State / Province</option>
            <option *ngFor="let type of stateValue" [value]="type">{{type}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <select class="form-control custom-select">
            <option selected disabled value="">City</option>
            <option *ngFor="let type of cityValue" [value]="type">{{type}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <textarea class="form-control" placeholder="Address"></textarea>
      </div>
    </div>
    <div class="row p-t-10 pb_50">
      <div class="col-md-3">
        <button type="submit" [disabled]="contactForm.invalid" class="btn btn-primary" (click)="saveContact(content3)">Save</button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary" (click)="cancelContact()">Cancel</button>
      </div>
    </div>
  </div>
</form>
<ng-template #content3 let-modal>
  <div class="modal-body">
    <h3>You've created the Contact successfully</h3>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">OK</button>
  </div>
</ng-template>
