<div class="row">
  <div class="col-4 pr-0 eng_bx_one">
    <div class="card h_150 mb_10">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h4><span class="lstick pt-1"></span> Engagement </h4>
            <div class="row">
              <div class="col-6 pr-0">
                <table>
                  <tr>
                    <td>
                      <img src="https://images.vexels.com/media/users/3/137415/isolated/preview/0e475bb9b17b3fa4f94f31fba1635b8f-telephone-call-icon-logo-by-vexels.png" class="py-1" alt="" width="30px"> <br><span class="pers_num">921</span> <br>Activity
                    </td>
                    <td>
                      <img src="https://www.ftrack.com/wp-content/uploads/reports1.png" class="py-1" alt="" width="30px"> <br><span class="pers_num">710</span> <br>Task
                    </td>
                    <td>
                      <img src="https://image.flaticon.com/icons/svg/230/230403.svg" class="py-1" alt="" width="30px"> <br><span class="pers_num">211</span> <br>Tickets
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-6 px-0">
                <div id="topBar1" class="chart das_first_ch mr-"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 pr-0 eng_bx_second">
    <div class="card h_150 mb_10">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <h4><span class="lstick pt-1"></span> Activity  </h4>
            <div class="row">
              <div class="col-9">
                <table>
                  <tr>
                    <td class="pt-1"> <b>130</b> <br> Meeting</td>
                    <td class="pt-1"> <b>150</b> <br> Email</td>
                  </tr>
                  <tr>
                    <td class="pt-2"> <b>411</b> <br> Calls </td>
                    <td class="pt-2"> <b>230</b> <br> Chat </td>
                  </tr>
                </table>
              </div>
              <div class="col-3">
                <div id="topBar2" class="chart das_first_ch"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 pl-2 eng_bx_last">
    <div class="card h_150 mb_10">
      <div class="card-body">
        <h4><span class="lstick pt-1 font_25"></span> Tickets </h4>
        <div class="row">
          <div class="col-4">
            <table>
              <tr>
                <td class="pt-1"> <b>71</b> <br> Query</td>
                <td class="pt-1"> </td>
              </tr>
              <tr>
                <td class="pt-3"> <b>91</b> <br> Request </td>
                <td class="pt-3"> <b>49</b> <br> Complaint </td>
              </tr>
            </table>
          </div>
          <div class="col-8">
            <div id="topBar3" class="chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row ml-0 mr-0 new_top_cus">
  <div class="col-12 p-1">
    <h4><span class="lstick pt-1"></span>Open Activities</h4>
  </div>
  <div class="col-md-4 user_card" *ngFor="let openActivity of openActivities; let i=index">
    <div *ngIf="i<3" >
    <div class="card d-flex flex-row border rounded">
      <div class="row m-0" >
        <div class="col-3 p-0 w-35 align-self-center text-center" >
          <img src="assets/images/users/1.jpg" class="user_img" width="50px"  />
        </div>
        <div class="col-9 pl-2 pt-2 pr-2 pb-2 w-65" >
          <h5> {{openActivity.Name}}
            <span class="float-right cursor_pointer" data-toggle="modal" data-target="#engagement_modal">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i></span></h5>
          <table>
            <tr>
              <td>
                <div class="btn btn-primary inner_btn w_85px">
                  {{openActivity.Client_Type}}
                </div>
              </td>
              <td>
                {{openActivity.Type}}
              </td>
            </tr>
          </table>
        </div>
        <div class="col-12">
          <table class="rev_table">
            <tr>
              <td>
                <b>{{openActivity.Purpose}}</b><br>
                Purpose
              </td>
              <td>
                <b>Investment Pro</b> <br>
                Opportunity
              </td>
              <td>
                <b> {{openActivity.Date}}</b> <br>
                Due Date
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <b>{{openActivity.Subject}}</b> <br>
                Subject
              </td>
            </tr>
          </table>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="col-12 text-right">
    <div class="btn btn-warning mb-3 mt-2" (click)="viewMoreEngagement(viewContent)">
      View More
    </div>
  </div>
</div>
<ng-template #viewContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">  High Value Deals</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row new_top_cus">
      <div class="col-md-4 user_card" *ngFor="let openActivity of openActivities; let i=index">
          <div class="card d-flex flex-row border rounded">
            <div class="row m-0" >
              <div class="col-3 p-0 w-35 align-self-center text-center" >
                <img src="assets/images/users/1.jpg" class="user_img" width="50px"  />
              </div>
              <div class="col-9 pl-2 pt-2 pr-2 pb-2 w-65" >
                <h5> {{openActivity.Name}}
                  <span class="float-right cursor_pointer" data-toggle="modal" data-target="#engagement_modal">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i></span></h5>
                <table>
                  <tr>
                    <td>
                      <div class="btn btn-primary inner_btn w_85px">
                        {{openActivity.Client_Type}}
                      </div>
                    </td>
                    <td>
                      {{openActivity.Type}}
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-12">
                <table class="rev_table">
                  <tr>
                    <td>
                      <b>{{openActivity.Purpose}}</b><br>
                      Purpose
                    </td>
                    <td>
                      <b>Investment Pro</b> <br>
                      Opportunity
                    </td>
                    <td>
                      <b>  {{openActivity.Date}}</b> <br>
                      Due Date
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <b>{{openActivity.Subject}}</b> <br>
                      Subject
                    </td>
                  </tr>
                </table>
              </div>
            </div>
        </div>
      </div>
<!--      <div class="col-md-4 user_card" *ngFor="let value of openActivities;  let i=index" >-->
<!--        <div class="card d-flex flex-row border rounded">-->
<!--          <div class="row m-0">-->
<!--            <div class="col-3 p-0 w-35 align-self-center text-center" >-->
<!--              <img src="assets/images/users/1.jpg" class="user_img" width="50px"  />-->
<!--            </div>-->
<!--            <div class="col-9 pl-2 pt-2 pr-2 pb-2 w-65" >-->
<!--              <h5>Aneesh Abraham <span class="float-right cursor_pointer"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span></h5>-->
<!--              <h5><b>25,378</b></h5>-->
<!--              <div class="btn btn-primary inner_btn w_85px">Prospect</div>-->
<!--            </div>-->
<!--            <div class="col-12">-->
<!--              <table class="rev_table">-->
<!--                <tr>-->
<!--                  <td>-->
<!--                    <b> Investment Advisory  </b><br>-->
<!--                    Potential-->
<!--                  </td>-->
<!--                  <td>-->
<!--                    <b> Due Date</b> <br>-->
<!--                    11/13/2019-->
<!--                  </td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                  <td>-->
<!--                    <b>Evaluation  </b>  <br>-->
<!--                    Stage-->
<!--                  </td>-->
<!--                  <td>-->
<!--                    <b>18%</b><br>-->
<!--                    Probability-->
<!--                  </td>-->
<!--                </tr>-->
<!--              </table>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>


<div class="row mb-3">
  <div class="col-6 pr-1">
    <div class="card mb_10">
      <div class="card-body">
        <h4><span class="lstick pt-1"></span>  Engagement Distribution
          <div class="form-group float-right">
            <select class="form-control custom_select_new" (change)="fnEngagementDistributionChange($event.target.value)">
              <option value="Status">Status</option>
              <option value="Open Enganement">Open Enganement</option>
            </select>
          </div>
        </h4>
        <div id="engagementDistibution" class="chart das_first_ch"></div>
      </div>
    </div>
  </div>
  <div class="col-6 pl-1">
    <div class="card height_350 mb_10">
      <div class="card-body">
        <h4><span class="lstick pt-1"></span> Engagement Trend </h4>
        <div id="enagementTrend" class="chart visible_svg"></div>
      </div>
    </div>
  </div>
  <div class="col-7 pr-1">
    <div class="card">
      <div class="card-body">
        <h4><span class="lstick pt-1"></span> Activity Breakup <div class="form-group float-right custom_select_new">
          <select class="form-control custom-select" (change)="fnActivityBreakupChange($event.target.value)">
            <option value="Type">Type</option>
            <option value="Purpose">Purpose</option>
          </select>
        </div></h4>
      <div id="activityBreakupChart" class="chart" ></div>
      </div>
    </div>
  </div>
  <div class="col-5 pl-1">
    <div class="card">
      <div class="card-body">
        <h4><span class="lstick pt-1"></span> Ticket  <div class="form-group float-right">
          <select class="form-control custom-select" (change)="fnTicketChange($event.target.value)">
            <option value="Type">Type</option>
            <option value="Status">Status</option>
            <option value="Assignee">Assignee</option>
            <option value="Priority">Priority</option>
          </select>
        </div></h4>
      <div id="ticketChat" class="chart das_first_ch" ></div>
      </div>
    </div>
  </div>
</div>
<!--Potential Modal Popup-->
<div class="modal" id="engagement_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Remove this -->
<!--  <div class="col-md-4 user_card">-->
<!--    <div class="card d-flex flex-row border rounded">-->
<!--      <div class="row m-0">-->
<!--        <div class="col-3 p-0 w-35 align-self-center text-center" >-->
<!--          <img src="assets/images/users/1.jpg" class="user_img" width="50px"  />-->
<!--        </div>-->
<!--        <div class="col-9 pl-2 pt-2 pr-2 pb-2 w-65" >-->
<!--          <h5>Aneesh Abraham <span class="float-right cursor_pointer"  data-toggle="modal" data-target="#engagement_modal"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span></h5>-->
<!--          <table>-->
<!--            <tr>-->
<!--              <td>-->
<!--                <div class="btn btn-primary inner_btn w_85px">-->
<!--                  Prospect-->
<!--                </div>-->
<!--              </td>-->
<!--              <td>-->
<!--                Call-->
<!--              </td>-->
<!--            </tr>-->
<!--          </table>-->
<!--        </div>-->
<!--        <div class="col-12">-->
<!--          <table class="rev_table">-->
<!--            <tr>-->
<!--              <td>-->
<!--                <b>Follow-up</b><br>-->
<!--                Purpose-->
<!--              </td>-->
<!--              <td>-->
<!--                <b>Investment Pro</b> <br>-->
<!--                Opportunity-->
<!--              </td>-->
<!--              <td>-->
<!--                <b> Due Date</b> <br>-->
<!--                13/11/2019-->
<!--              </td>-->
<!--            </tr>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-md-4 user_card pr-0">-->
<!--    <div class="card d-flex flex-row border rounded">-->
<!--      <div class="row m-0">-->
<!--        <div class="col-3 p-0 w-35 align-self-center text-center" >-->
<!--          <img src="assets/images/users/1.jpg" class="user_img" width="50px"  />-->
<!--        </div>-->
<!--        <div class="col-9 pl-2 pt-2 pr-2 pb-2 w-65" >-->
<!--          <h5>Aneesh Abraham <span class="float-right cursor_pointer"  data-toggle="modal" data-target="#engagement_modal"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span></h5>-->
<!--          <table>-->
<!--            <tr>-->
<!--              <td>-->
<!--                <div class="btn btn-primary inner_btn w_85px">-->
<!--                  Prospect-->
<!--                </div>-->
<!--              </td>-->
<!--              <td>-->
<!--                Call-->
<!--              </td>-->
<!--            </tr>-->
<!--          </table>-->
<!--        </div>-->
<!--        <div class="col-12">-->
<!--          <table class="rev_table">-->
<!--            <tr>-->
<!--              <td>-->
<!--                <b>Follow-up</b><br>-->
<!--                Purpose-->
<!--              </td>-->
<!--              <td>-->
<!--                <b>Investment Pro</b> <br>-->
<!--                Opportunity-->
<!--              </td>-->
<!--              <td>-->
<!--                <b> Due Date</b> <br>-->
<!--                13/11/2019-->
<!--              </td>-->
<!--            </tr>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
